@namespace AntBlazor.Internal
@inherits AntDomComponentBase
@using AntBlazor.core.Internal

@if (_hasAddOverlayToBody == true || _isWaitForOverlayFirstRender)
{
    string display = _isOverlayShow ? "" : "visibility: hidden;";
    string overlayCls;

    if (!_isOverlayShow && !_isWaitForOverlayFirstRender)
    {
        overlayCls = $"{Dropdown.PrefixCls}-hidden";
        display = "";
    }
    else
    {
        overlayCls = _overlayCls;
    }

    <div class="@(Dropdown.PrefixCls) @(Dropdown.OverlayClassName) @(Dropdown.PrefixCls)-placement-@(Dropdown.Placement.Name) @overlayCls"
         style="width: fit-content; position: absolute; @display @Dropdown.OverlayStyle @_dropdownStyle"
         @ref="Ref"
         @onmouseenter="OnOverlayMouseEnter"
         @onmouseleave="OnOverlayMouseLeave">
        <CascadingValue Value="@($"{Dropdown.PrefixCls}-menu")" Name="PrefixCls">
            @Dropdown.Overlay
        </CascadingValue>
    </div>
}
