@namespace AntDesign
@inherits AntDomComponentBase

@using AntDesign.Internal;

<span style="@Style" @ref="Ref" class="@ClassMapper.Class"
     @ondragover="@HandleDrag"
     @ondragleave="@HandleDrag"
     @ondrop="@HandleDrag"
     @ondragover:stopPropagation
     @ondragleave:stopPropagation
     @ondrop:stopPropagation>
    @if (ChildContent != null && (!IsPictureCard || !ShowUploadList))
        {
            <CascadingValue Value="this" IsFixed>
                <UploadButton Action="@Action"
                          @ref="_uploadButton"
                          Accept="@Accept"
                          ListType="@ListType"
                          Name="@Name"
                          Directory="@Directory"
                          Multiple="@Multiple"
                          Data="@Data"
                          Headers="@Headers"
                          Disabled="@Disabled"
                          Method="@Method"
                          ShowButton="@ShowButton">
                    @ChildContent
                </UploadButton>
            </CascadingValue>
        }

    @if (ShowUploadList)
    {
        <div class="@_listClassMapper.Class">
            @{
                var containerClass = ListType switch
                {
                    UploadListType.PictureCard => "ant-upload-list-picture-card-container",
                    UploadListType.Text => "ant-upload-list-text-container",
                    UploadListType.Picture => "ant-upload-list-picture-container",
                    _ => ""
                };

            }

            @foreach (var file in FileList)
            {
                var tips = string.Empty;
                var stateClass = string.Empty;
                string picture = "";

                switch (file.State)
                {
                    case UploadState.Uploading:
                        tips = Locale.Uploading;
                        break;
                    case UploadState.Fail:
                        tips = !string.IsNullOrWhiteSpace(file.Response) ? file.Response : Locale.UploadError;
                        stateClass = "ant-upload-list-item-error";
                        break;
                    case UploadState.Success:
                        tips = file.FileName;
                        stateClass = "ant-upload-list-item-done";
                        break;
                }

                <Tooltip Title="@tips" Disabled="file.State != UploadState.Fail" @key="@file.Id">
                    <Unbound>
                        <div Class="@containerClass" Style="@(IsPictureCard ? "" : "display: list-item;")">
                            @if (IsPictureCard && file.State == UploadState.Uploading)
                            {
                                <div class="ant-upload-list-item ant-upload-list-item-uploading ant-upload-list-item-list-type-picture-card" @ref="@context.Current">
                                    <div class="ant-upload-list-item-info">
                                        <div class="ant-upload-list-item-thumbnail">@Locale.Uploading</div>
                                        <span class="ant-upload-list-item-name ant-upload-list-item-name-icon-count-1" title="@file.FileName">
                                            @file.FileName
                                        </span>
                                    </div>
                                    <div class="ant-upload-list-item-progress">
                                        <Progress Percent="file.Percent" StrokeWidth="2" Type="ProgressType.Line" ShowInfo="false"></Progress>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="ant-upload-list-item @stateClass  ant-upload-list-item-list-type-@ListType" @ref="@context.Current">
                                    <div class="ant-upload-list-item-info">
                                        <span class="ant-upload-span">
                                            @if (IsText)
                                            {
                                                <div class="ant-upload-text-icon">
                                                    @if (file.State == UploadState.Uploading)
                                                    {
                                                        <Icon Type="loading" />
                                                    }
                                                    else
                                                    {
                                                        <Icon Type="paper-clip" />
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                if (file.State == UploadState.Success)
                                                {
                                                    <a class="ant-upload-list-item-thumbnail" href="@file.Url" target="_blank" rel="noopener noreferrer">
                                                        @if (file.IsPicture())
                                                        {
                                                            <img src="@(file.ObjectURL ?? file.Url)" alt="@file.FileName" class="ant-upload-list-item-image" />
                                                        }
                                                        else
                                                        {
                                                            <Icon Type="file" />
                                                        }
                                                    </a>
                                                }
                                                else if (Defer && file.State == UploadState.Waiting && 
                                                        (ListType == UploadListType.PictureCard || ListType == UploadListType.Picture) && 
                                                        !string.IsNullOrEmpty(file.ObjectURL) && file.IsPicture())
                                                {
                                                    <div class="ant-upload-list-item-thumbnail">
                                                        <img src="@file.ObjectURL" alt="@file.FileName" class="ant-upload-list-item-image" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="ant-upload-list-item-thumbnail ant-upload-list-item-file">
                                                        <Icon Type="picture" />
                                                    </div>
                                                }
                                                picture = "picture";
                                            }
                                            @if (OnDownload.HasDelegate && ShowDownloadIcon)
                                            {
                                                <a rel="noopener noreferrer" class="ant-upload-list-item-name" title="@file.FileName" @onclick="() => DownloadFile(file)">@file.FileName</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" rel="noopener noreferrer" class="ant-upload-list-item-name" title="@file.FileName" href="@(string.IsNullOrEmpty(file.Url) ? file.ObjectURL : file.Url)">@file.FileName</a>
                                            }
                                            @if (!IsPictureCard)
                                            {
                                                <span class="ant-upload-list-item-card-actions @picture">
                                                    @if (ShowRemoveIcon)
                                                    {
                                                        <button title="@Locale.RemoveFile" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => RemoveFile(file)" disabled="@Disabled">
                                                            <Icon Type="delete" />
                                                        </button>
                                                    }
                                                </span>
                                            }
                                        </span>
                                    </div>
                                    @if (IsPictureCard)
                                    {
                                        <span class="ant-upload-list-item-actions">
                                            @if (ShowPreviewIcon)
                                            {
                                                <a href="@(OnPreview.HasDelegate ? null : (string.IsNullOrEmpty(file.Url) ? file.ObjectURL : file.Url))" target="_blank" rel="noopener noreferrer" title="@Locale.PreviewFile" @onclick="() => PreviewFile(file)" style="@(file.State==UploadState.Fail?"pointer-events: none; opacity: 0.5;":"")">
                                                    <Icon Type="eye" />
                                                </a>
                                            }
                                            @if (ShowRemoveIcon)
                                            {
                                                <button title="@Locale.RemoveFile" type="button" class="ant-btn ant-btn-text ant-btn-sm ant-btn-icon-only ant-upload-list-item-card-actions-btn" @onclick="() => RemoveFile(file)" disabled="@Disabled">
                                                    <Icon Type="delete" />
                                                </button>
                                            }
                                        </span>
                                    }
                                    @if (file.State == UploadState.Uploading)
                                    {
                                        <div class="ant-upload-list-item-progress">
                                            <Progress Percent="file.Percent" StrokeWidth="2" Type="ProgressType.Line" ShowInfo="false"></Progress>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </Unbound>
                </Tooltip>
            }

            @if (IsPictureCard)
            {
                <CascadingValue Value="this" IsFixed>
                    <UploadButton Action="@Action"
                          @ref="_uploadButton"
                          Accept="@Accept"
                          ListType="@ListType"
                          Name="@Name"
                          Directory="@Directory"
                          Multiple="@Multiple"
                          Data="@Data"
                          Headers="@Headers"
                          Disabled="Disabled"
                          Method="@Method"
                          ShowButton="@ShowButton">
                        @ChildContent
                    </UploadButton>
                </CascadingValue>
            }
        </div>
    }
</span>