@namespace AntDesign
@inherits AntDomComponentBase


<div class="@ClassMapper.Class" style="@Style">
    @if (Placeholder != null)
    {
        if (!_loaded)
        {
            <div aria-hidden="true" class="ant-image-placeholder">
                @Placeholder
            </div>
        }
        else
        {
            <img alt="@Alt" class="ant-image-img" src="@Src" style="@_imgStyle"
                 @onerror="HandleOnError"
                 @onloadstart="HandleOnLoadStart"
                 @onload="HandleOnLoad" />
        }
    }
</div>
