@namespace AntBlazor.Internal
@inherits AntDatePickerPanelBase
@using System.Globalization;

@{
    var calendar = CultureInfo.InvariantCulture.Calendar;

    DateTime monthFirstDayDate = new DateTime(PickerValue.Year, PickerValue.Month, 1);
    DayOfWeek monthFirstDayOfWeek = calendar.GetDayOfWeek(monthFirstDayDate);

    int diffDay = 1 - (int)monthFirstDayOfWeek;
    DateTime startDate = monthFirstDayDate.AddDays(diffDay);
}

<AntDatePickerTemplate 
    PickerIndex="@PickerIndex"
    MaxRow="6"
    MaxCol="7"
    ViewStartDate="startDate"
    ShowFooter="@true"
    GetRowClass="GetRowClass"
    IsInView="date => DateHelper.IsSameMonth(date, PickerValue)"
    IsToday="date => DateHelper.IsSameDay(date, DatePicker.CurrentDate)"
    IsSelected="date => !IsWeek && DateHelper.IsSameDate(date, Value)"
    GetColTitle='date => date.ToString("yyyy-MM-dd")'
    OnRowSelect="OnRowSelect"
    OnValueSelect="OnValueSelect"
    GetNextColValue="date => date.AddDays(1)"
    IsRange="DatePicker.IsRange">
    <RenderTableHeader>
        <tr>
            @if (IsWeek)
            {
                <th></th>
            }
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
            <th>日</th>
        </tr>
    </RenderTableHeader>
    <RenderFisrtCol>
        @if (IsWeek)
        {
            <td class="@(DatePicker.PrefixCls)-cell @(DatePicker.PrefixCls)-cell-weak">
                @DateHelper.GetWeekOfYear(context)
            </td>
        }
    </RenderFisrtCol>
    <RenderColValue Context="currentColDate">
        @currentColDate.Day
    </RenderColValue>
</AntDatePickerTemplate>

@code {
    [Parameter]
    public bool IsWeek { get; set; } = false;

    private string GetRowClass(DateTime viewDate)
    {
        string selectedRowClass = IsWeek && DateHelper.IsSameWeak(viewDate, Value) ? $"{DatePicker.PrefixCls}-week-panel-row-selected" : "";
        string rowClass = IsWeek ? $"{DatePicker.PrefixCls}-week-panel-row" : "";

        return $"{rowClass} {selectedRowClass}";
    }

    private void OnRowSelect(DateTime viewDate)
    {
        if (IsWeek)
        {
            OnSelectDate(viewDate);
        }
    }

    private void OnValueSelect(DateTime viewDate)
    {
        if (!IsWeek)
        {
            OnSelectDate(viewDate);
        }
    }
}