@using AntDesign.Select
<Select Mode="multiple"
        DataSource="@_myColors"
        Disabled="@_disabled"
        Style="min-width:200px;"
        @bind-Values="@_selectedColorValues"
        ValueName="@nameof(MyColor.Value)"
        LabelName="@nameof(MyColor.Name)"
        ShowArrowIcon>
    <LabelTemplate>
        <LabelTemplateItem Context="item"
                           TItem="MyColor"
                           TItemValue="string"
                           Class=@($"ant-tag {(!_disabled?$"ant-tag-{context.Name}":"")}")
                           Style="margin-right: 4px;"
                           RemoveIconStyle="margin-top: 1px; display: inline-block;">
            <LabelTemplateItemContent>
                <span style=@($"color: {(_disabled? "rgba(0,0,0,.5)" :item.Name)}")>@item.Name</span>
            </LabelTemplateItemContent>
        </LabelTemplateItem>
    </LabelTemplate>
</Select>

<Switch @bind-Value=@_disabled CheckedChildren="Enabled" UnCheckedChildren="Disabled" />

@code
{
  bool _toggleSearch;
  bool _disabled = false;

  MyColor[] _myColors =
  {
      new MyColor { Value = "gold", Name = "gold"},
      new MyColor { Value = "lime", Name = "lime"},
      new MyColor { Value = "green", Name = "green"},
      new MyColor { Value = "cyan", Name = "cyan"}
  };

  IEnumerable<string> _selectedColorValues = new[] { "gold", "cyan" };

  class MyColor
  {
    public string Value { get; set; }
    public string Name { get; set; }
  }
}