<Select DataSource="@_persons"
        @bind-Value="@_selectedValue"
        LabelName="@nameof(Person.Name)"
        ValueName="@nameof(Person.Id)"
        DisabledName="@nameof(Person.NotAvailable)"
        Style="width: 200px"
        DefaultValue="2"
        Placeholder="Select a person"
        DefaultActiveFirstItem
        IgnoreItemChanges="false"
        OnSelectedItemChanged="OnSelectedItemChangedHandler"
        AllowClear>
</Select>
<Button OnClick="@RenameLabel" >Rename Lucy</Button>
<br /><br />
<p>
    Selected Value: @_selectedValue <br/>
    Selected Item: @_selectedItem?.Name
</p>

@code {
    private class Person
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool NotAvailable { get; set; }
    }

    private List<Person> _persons;

    private int? _selectedValue;
    private Person _selectedItem;

    protected override void OnInitialized()
    {
        _persons = new List<Person>
        {
            new()
            {
                Id = 1,
                Name = "Jack"
            },
            new()
            {
                Id = 2,
                Name = "Lucy"
            },
            new()
            {
                Id = 3,
                Name = "Yaoming"
            },
            new()
            {
                Id = 4,
                Name = "Frieda"
            },
            new()
            {
                Id = 5,
                Name = "Kathy",
                NotAvailable = true
            },
            new()
            {
                Id = 6,
                Name = "Kate"
            },
            new()
            {
                Id = 7,
                Name = "Eric"
            }
        };
    }

    private void RenameLabel()
    {
        var person = _persons.First(x => x.Id == 2);

        person.Name = person.Name.Equals("Lucy", StringComparison.InvariantCultureIgnoreCase)
            ? "Lucie"
            : "Lucy";
    }

    private void OnSelectedItemChangedHandler(Person value)
    {
        _selectedItem = value;
    }
}
