<div>
  <div>
    <Avatar Size="@("5rem")" Icon="@IconType.Outline.User" />
    <Avatar Size="AvatarSize.Large" Icon="@IconType.Outline.User" />
    <Avatar Icon="@IconType.Outline.User" />
    <Avatar Size="AvatarSize.Small" Icon="@IconType.Outline.User" />
  </div>
  <div>
    <span @onclick="()=> size++ ">
      <Avatar Shape="AvatarShape.Square" Size="@size.ToString()" Icon="@IconType.Outline.User" />
    </span>
    <Avatar Shape="AvatarShape.Square" Size="AvatarSize.Large" Icon="@IconType.Outline.User" />
    <Avatar Shape="AvatarShape.Square" Icon="@IconType.Outline.User" />
    <Avatar Shape="AvatarShape.Square" Size="AvatarSize.Small" Icon="@IconType.Outline.User" />
  </div>
</div>

@code {
  int size = 64;
}