<div>
    <Input Placeholder="Prefix and Suffix" DefaultValue="@("123")" @bind-Value="@txtValue" >
        <Prefix>
            <Icon Type="user" />
        </Prefix>
    </Input>
    <br />
    <br />
    <Input Placeholder="default size" @bind-Value="@txtValue">
		<Prefix> ￥ </Prefix>
		<Suffix>RMB </Suffix>
    </Input>
    <br />
    <br />
    <Input Disabled @bind-Value="@txtValue">
		<Prefix> ￥ </Prefix>
		<Suffix>RMB </Suffix>
    </Input>

    <br />
    <br />
    <Input DefaultValue="@("readonly input")" ReadOnly>
		<Prefix> ￥ </Prefix>
		<Suffix>RMB </Suffix>
    </Input>
</div>

@code {
    private string txtValue { get; set; }
}
