@inject MessageService MessageService

<div>
    <Search Placeholder="input search text" Size="@InputSize.Small" @bind-Value="@TxtValue" OnPressEnter="OnSearch" />
    <br />
    <br />
    <Search Placeholder="input search text" OnChange="Handle" EnterButton="true" @bind-Value="@TxtValue" />
    <br />
    <br />
    <Search Placeholder="input search text" Size="@InputSize.Large" EnterButton="@("Search")" @bind-Value="@TxtValue" OnSearch="OnSearch"/>
</div>


@code {
    private string TxtValue { get; set; }

    private static void Handle(string value)
    {
        Console.WriteLine(value);
    }

    private async Task OnSearch()
    {
        await MessageService.Loading($"searching {TxtValue}", 2);
    }
}

