<div>
    <Search Placeholder="press enter to search" Size="InputSize.Small" @bind-Value="@txtValue" OnPressEnter="OnEnter" Loading="@loading"/>
    <br />
    <br />
    <Search Placeholder="input search text" OnChange="(e)=>Handle(e)" EnterButton="true" @bind-Value="@txtValue" OnSearch="OnSearch" />
    <br />
    <br />
    <Search Placeholder="input search text" Size="InputSize.Large" EnterButton="@("Search")" @bind-Value="@txtValue" OnSearch="OnSearch"/>
</div>

@inject IMessageService message;

@code{
    private string txtValue { get; set; }
    private bool loading;

    private void Handle(string value)
    {
        Console.WriteLine(value);
    }

    public async Task OnSearch()
    {
        await message.LoadingAsync($"searching {txtValue}", 2);
    }

    private async Task OnEnter(KeyboardEventArgs e)
    {
        Console.WriteLine("Enter pressed");
        loading = true;
        await Task.Delay(3000);
        loading = false;        
    }
}

