@namespace AntBlazor
@inherits AntTitleBase


<CascadingValue Value="this">
    @switch (level)
        {
            case 2:<h2 class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">@ChildContent</h2>; break;
            case 3:<h3 class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">@ChildContent</h3>; break;
            case 4:<h4 class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">@ChildContent</h4>; break;
            default: <h1 class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">@ChildContent</h1>; break;
        }
</CascadingValue>