<Tree @ref="tree"
      ShowIcon DataSource="games"
      Multiple="@multiple"
      TitleExpression="x =>x.DataItem.Text"
      ChildrenExpression="x => x.DataItem.Items"
      IconExpression="x => x.DataItem.Icon"
      IsLeafExpression="x=> x.DataItem.Items?.Count==0"
      KeyExpression="x=>x.DataItem.Id"
      @bind-SelectedKey="@selectedKey"
      @bind-SelectedData="@selectedData"
      @bind-SelectedNode="@selectedNode"
      @bind-SelectedKeys="@selectedKeys"
      TItem="GameElement">
</Tree>

@*@bind-SelectedDatas="@selectedDatas"
@bind-SelectedNodes="@selectedNodes"*@
<Divider>Single</Divider>
<span>bind-SelectedKey:@selectedKey</span>
<br />
<span>bind-SelectedData:@(System.Text.Json.JsonSerializer.Serialize(selectedData))</span>
<br />
<span>bind-SelectedNode:@(System.Text.Json.JsonSerializer.Serialize(selectedNode?.Id))</span>
<Divider>Multiple</Divider>
<Switch @bind-Value="multiple" />Multiple
<br />
<span>bind-SelectedKeys:@(System.Text.Json.JsonSerializer.Serialize(selectedKeys))</span>
<br />
<span>bind-SelectedData:@(System.Text.Json.JsonSerializer.Serialize(selectedDatas))</span>
<br />
<span>bind-SelectedNode:@(System.Text.Json.JsonSerializer.Serialize(selectedNodes?.Count()))</span>
<Divider>Action</Divider>
<Button OnClick="AddSon">Add Son Node</Button>
<Button OnClick="DeleteNode">Delete Node</Button>

@code{

    private bool multiple;

    Tree<GameElement> tree;

    string selectedKey;

    GameElement selectedData;

    TreeNode<GameElement> selectedNode;

    string[] selectedKeys;

    GameElement[] selectedDatas;

    TreeNode<GameElement>[] selectedNodes;


    void AddSon()
    {
        if (selectedNode != null)
        {
            selectedNode.DataItem.Items.Add(new GameElement()
            {
                Text = $"Node {new Random().Next(1000)}",
                Items = new List<GameElement>()
            }); ;

        }
    }

    void DeleteNode()
    {
        if (selectedNode != null)
        {
            if (selectedNode.ParentNode != null)
            {
                selectedNode.ParentNode.DataItem.Items.Remove(selectedNode.DataItem);
            }
            else
            {
                tree.DataSource.Remove(selectedNode.DataItem);
            }
            StateHasChanged();

        }
    }

    List<GameElement> games = new List<GameElement>()
{
        new GameElement()
        {
            Id="100",
            Text="XBox",
            Icon="windows",
            Items=new List<GameElement>()
{
                new GameElement(){    Id="101",Text="Halo"},
                 new GameElement(){    Id="102",Text="Gears of War"},
                 new GameElement(){    Id="103",Text="Forza Motosport"},
            }
        },
                new GameElement()
        {
                    Id="200",
            Text="PlayStation",
            Icon="desktop",
            Items=new List<GameElement>()
{
                new GameElement(){    Id="201",Text="Uncharted" },
                 new GameElement(){ Id="202",Text="God Of War" },
                 new GameElement(){Text="The Order:1886" },
            }
        },
                new GameElement()
        {
                    Id="300",
            Text="Switch",
            Icon="mobile",
            Items=new List<GameElement>()
{
                new GameElement(){ Id="301",Text="Super Mario Bros"},
                 new GameElement(){ Id="302",Text="The Legend of Zelda"},
            }
        }
    };

    private class GameElement
    {
        public string Id { get; set; }

        public string Text { get; set; }

        public string Icon { get; set; }

        public List<GameElement> Items { get; set; } = new List<GameElement>();

    }
}