@namespace AntBlazor
@inherits AntDomComponentBase
@using AntBlazor.Internal;

<div class="@ClassMapper.Class"
     @ref="@Ref"
     style="@Style"
     @attributes="Attributes"
     Id="@Id">
    <div class="ant-picker-panel-container">
        <div tabindex="-1" class="ant-picker-panel">
            Picker:@Picker
            <CascadingValue Value=@this>
                @if (Picker == AntDatePickerType.Date)
                {
                    <AntDatePickerDatePanel OnSelect="OnSelect" />
                }
                @if (Picker == AntDatePickerType.Week)
                {
                    <AntDatePickerDatePanel OnSelect="OnSelect" IsWeek="@true" />
                }
                @if (Picker == AntDatePickerType.Month)
                {
                    <AntDatePickerMonthPanel OnSelect="OnSelect" />
                }
                @if (Picker == AntDatePickerType.Year)
                {
                    <AntDatePickerYearPanel OnSelect="OnSelect" />
                }
            </CascadingValue>
        </div>
    </div>
</div>