@namespace AntBlazor.Internal
@inherits AntDatePickerPanelBase
@using System.Globalization;

<div class="@(DatePicker.PrefixCls)-@(DatePicker.Picker)-panel">
    <AntDatePickerHeader />
    <div class="@(DatePicker.PrefixCls)-body">
        <table class="@(DatePicker.PrefixCls)-content">
            <thead>
                <tr>
                    @if (IsWeek)
                    {
                        <th></th>
                    }
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th>六</th>
                    <th>日</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var calendar = CultureInfo.InvariantCulture.Calendar;

                    DateTime monthFirstDayDate = new DateTime(DatePicker.CurrentShowDate.Year, DatePicker.CurrentShowDate.Month, 1);
                    DayOfWeek monthFirstDayOfWeek = calendar.GetDayOfWeek(monthFirstDayDate);

                    int diffDay = 1 - (int)monthFirstDayOfWeek;
                    DateTime viewDate = monthFirstDayDate.AddDays(diffDay);
                }
                @for (int weekIndex = 1; weekIndex <= 6; weekIndex++)
                {
                    string selectedRowClass = IsWeek && DateHelper.IsSameWeak(viewDate, DatePicker.Value) ? $"{DatePicker.PrefixCls}-week-panel-row-selected" : "";
                    string rowClass = IsWeek ? $"{DatePicker.PrefixCls}-week-panel-row" : "";

                    <tr class="@(rowClass) @(selectedRowClass)">
                        @if (IsWeek)
                        {
                            <td class="@(DatePicker.PrefixCls)-cell @(DatePicker.PrefixCls)-cell-weak">
                                @DateHelper.GetWeekOfYear(viewDate)
                            </td>
                        }

                        @for (int dayOfWeek = 0; dayOfWeek <= 6; dayOfWeek++)
                        {
                            var currentViewDate = viewDate;

                            string inViewClass = DateHelper.IsSameMonth(currentViewDate, DatePicker.CurrentShowDate) ? $"{DatePicker.PrefixCls}-cell-in-view" : "";
                            string todayClass = DateHelper.IsSameDay(currentViewDate, DatePicker.CurrentDate) ? $"{DatePicker.PrefixCls}-cell-today" : "";
                            string selectedClass = !IsWeek && DateHelper.IsSameDate(currentViewDate, DatePicker.Value) ? $"{DatePicker.PrefixCls}-cell-selected" : "";

                            <td title="@(currentViewDate.ToString("yyyy-MM-dd"))"
                                class="@(DatePicker.PrefixCls)-cell @(inViewClass) @(todayClass) @selectedClass">
                                <div class="@(DatePicker.PrefixCls)-cell-inner"
                                     @onclick="e => OnSelectDate(currentViewDate)">
                                    @if (DatePicker.DateRender != null)
                                    {
                                        @(DatePicker.DateRender(currentViewDate, DatePicker.CurrentDate))
                                    }
                                    else
                                    {
                                        @(viewDate.Day)
                                    }
                                </div>
                            </td>

                            viewDate = currentViewDate.AddDays(1);
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<AntDatePickerFooter />

@code {
    [Parameter]
    public bool IsWeek { get; set; } = false;
}