@namespace AntBlazor
@inherits AntDomComponentBase

<div class="@ClassMapper.Class"
     @ref="@Ref"
     style="@Style"
     @attributes="Attributes"
     Id="@Id">
    <div class="ant-picker-panel-container">
        <div tabindex="-1" class="ant-picker-panel">
            <CascadingValue Value=@this>
                @if (Picker == AntDatePickerType.Date)
                {
                    <AntDatePickerDatePanel OnSelect="@ChangeDate" />
                }
                @if (Picker == AntDatePickerType.Year)
                {
                    @*<AntDatePickerYearPanel OnSelect="@OnSelectDay" />*@
                }
            </CascadingValue>
        </div>
    </div>;
</div>
