@namespace AntBlazor
@inherits AntDatePickerPanelBase
@using System.Globalization;

<div class="@(DatePicker.PrefixCls)-year-panel" hidden="@IsClose">
    @{
        int startYear = DatePicker.CurrentShowDate.Year / 10 * 10 - 1;
    }
    <AntDatePickerHeader SuperChangeDateInterval="10"
                         ShowPrevBtn="@false"
                         ShowNextBtn="@false">
        <button type="button" class="@(DatePicker.PrefixCls)-decade-btn">
            @(startYear + 1)-@(startYear + 1 + @PER_VIEW_YEAR_COUNT)
        </button>
    </AntDatePickerHeader>
    <div class="@(DatePicker.PrefixCls)-body">
        <table class="@(DatePicker.PrefixCls)-content">
            <tbody>
                @{
                    var calendar = CultureInfo.InvariantCulture.Calendar;

                    DateTime viewDate = new DateTime(startYear, 1, 1);

                    int yearIndex = 0;
                    const int MAX_ROW = 4;
                    const int MAX_COL = 3;
                    const int FIRST_YEAR_INDEX = 0;
                    const int LAST_YEAR_INDEX = MAX_ROW * MAX_COL;
                }

                @for (int line = 1; line <= MAX_ROW; line++)
                {
                    <tr>
                        @for (int col = 1; col <= MAX_COL; col++)
                        {
                            var currentViewDate = viewDate;

                            string inViewClass = yearIndex != FIRST_YEAR_INDEX && yearIndex != LAST_YEAR_INDEX ? $"{DatePicker.PrefixCls}-cell-in-view" : "";
                            string todayClass = currentViewDate.Year == DatePicker.CurrentDate.Year ? $"{DatePicker.PrefixCls}-cell-today" : "";
                            string selectedClass = currentViewDate.Year == DatePicker.CurrentSelectDate.Year ? $"{DatePicker.PrefixCls}-cell-selected" : "";

                            <td title="@(currentViewDate.Year)"
                                class="@(DatePicker.PrefixCls)-cell @(inViewClass) @(todayClass) @selectedClass">
                                <div class="@(DatePicker.PrefixCls)-cell-inner"
                                     @onclick="e => OnSelectYear(currentViewDate)">
                                    @viewDate.Year
                                </div>
                            </td>

                            viewDate = currentViewDate.AddYears(1);

                            yearIndex++;
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private const int PER_VIEW_YEAR_COUNT = 9;
}