@namespace AntBlazor
@using System.Globalization;
@inherits AntDatePickerBase

<div class="@ClassMapper.Class"
     @ref="@Ref"
     style="@Style"
     @attributes="Attributes"
     Id="@Id">
    <div class="ant-picker-panel-container">
        <div tabindex="-1" class="ant-picker-panel">
            <div class="ant-picker-date-panel">
                <div class="ant-picker-header">
                    <AntButton tabindex="-1" class="ant-picker-header-super-prev-btn" onclick="e => CurrentSelectDate = CurrentSelectDate.AddYears(-1)">
                        <span class="ant-picker-super-prev-icon"></span>
                    </AntButton>
                    <AntButton tabindex="-1" class="ant-picker-header-prev-btn" onclick="e => CurrentSelectDate = CurrentSelectDate.AddMonths(-1)">
                        <span class="ant-picker-prev-icon"></span>
                    </AntButton>
                    <div class="ant-picker-header-view">
                        <button type="button" tabindex="-1" class="ant-picker-year-btn">
                            @(CurrentSelectDate.Year)年
                        </button>
                        <button type="button" tabindex="-1" class="ant-picker-month-btn">
                            @(CurrentSelectDate.Month)月
                        </button>
                    </div>
                    <AntButton tabindex="-1" class="ant-picker-header-next-btn" onclick="e => CurrentSelectDate = CurrentSelectDate.AddMonths(1)">
                        <span class="ant-picker-next-icon"></span>
                    </AntButton>
                    <AntButton tabindex="-1" class="ant-picker-header-super-next-btn" onclick="e => CurrentSelectDate = CurrentSelectDate.AddYears(1)">
                        <span class="ant-picker-super-next-icon"></span>
                    </AntButton>
                </div>
                <div class="ant-picker-body">
                    <table class="ant-picker-content">
                        <thead>
                            <tr>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                                <th>五</th>
                                <th>六</th>
                                <th>日</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var calendar = CultureInfo.InvariantCulture.Calendar;

                                DateTime currentDate = DateTime.Now;

                                DateTime monthFirstDayDate = new DateTime(CurrentSelectDate.Year, CurrentSelectDate.Month, 1);
                                DateTime monthLastDayDate = monthFirstDayDate.AddMonths(1).AddDays(-1);

                                DayOfWeek monthFirstDayOfWeek = calendar.GetDayOfWeek(monthFirstDayDate);
                                DayOfWeek monthLastDayOfWeek = calendar.GetDayOfWeek(monthLastDayDate);

                                int diffDay = 1 - (int)monthFirstDayOfWeek;
                                DateTime viewDate = monthFirstDayDate.AddDays(diffDay);

                            }
                            @for (int weekIndex = 1; weekIndex <= 6; weekIndex++)
                            {
                                <tr>
                                    @for (int dayOfWeek = 0; dayOfWeek <= 6; dayOfWeek++)
                                    {
                                        var currentViewDate = viewDate;

                                        string inViewClass = currentViewDate.Month == CurrentSelectDate.Month ? "ant-picker-cell-in-view" : "";
                                        string todayClass = currentViewDate.Date == currentDate.Date ? "ant-picker-cell-today" : "";
                                        string selectedClass = currentViewDate == CurrentSelectDate ? "ant-picker-cell-selected" : "";

                                        <td title="@(currentViewDate.ToString("yyyy-MM-dd"))"
                                            class="ant-picker-cell @(inViewClass) @(todayClass) @selectedClass">
                                            <div class="ant-picker-cell-inner" @onclick="e => OnSelectDay(currentViewDate)">@viewDate.Day</div>
                                        </td>

                                        viewDate = currentViewDate.AddDays(1);
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ant-picker-footer">
                <AntButton type="@AntButtonType.Link" class="ant-picker-today-btn" onclick="e => CurrentSelectDate = DateTime.Now">今天</AntButton>
            </div>
        </div>
    </div>;
</div>