@namespace AntBlazor
@inherits AntDomComponentBase
@using AntBlazor.Internal;

<div class="@ClassMapper.Class"
     @ref="@Ref"
     style="@Style"
     @attributes="Attributes"
     Id="@Id">
    <div class="@(PrefixCls)-input">
        <input disabled="@Disabled" value="@CurrentSelectDate" placeholder="请选择日期" @onclick="e => IsClose = !IsClose">
        <span class="@(PrefixCls)-suffix">
            <span role="img" aria-label="calendar" class="anticon anticon-calendar">
                <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="calendar" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path d="M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zm-40 656H184V460h656v380zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136H184z"></path>
                </svg>
            </span>
        </span>
    </div>
</div>
<div class="ant-picker-dropdown ant-picker-dropdown-placement-bottomLeft" hidden="@(IsClose)">
    <div class="@(PrefixCls)-panel-container">
        <div tabindex="-1" class="@(PrefixCls)-panel">
            Picker:@Picker PrePicker:@PrePicker InitPicker:@InitPicker
            <CascadingValue Value=@this>
                @if (Picker == AntDatePickerType.Date)
                {
                    <AntDatePickerDatePanel OnSelect="OnSelect" />
                }
                @if (Picker == AntDatePickerType.Quarter)
                {
                    <AntDatePickerQuarterPanel OnSelect="OnSelect" />
                }
                @if (Picker == AntDatePickerType.Week)
                {
                    <AntDatePickerDatePanel OnSelect="OnSelect" IsWeek="@true" />
                }
                @if (Picker == AntDatePickerType.Month)
                {
                    <AntDatePickerMonthPanel OnSelect="OnSelect" />
                }
                @if (Picker == AntDatePickerType.Year)
                {
                    <AntDatePickerYearPanel OnSelect="OnSelect" />
                }
            </CascadingValue>
        </div>
    </div>
</div>