@namespace AntBlazor.Internal
@inherits AntDatePickerPanelBase
@using System.Globalization;

ShowYearPanel:@IsShowYearPanel

@if (IsShowYearPanel)
{
    <AntDatePickerYearPanel OnSelect="SelectShowYear" AutoClose="@true" />
}
else
{
    <div class="@(DatePicker.PrefixCls)-month-panel" hidden="@IsClose">
        <AntDatePickerHeader SuperChangeDateInterval="1"
                             ShowPrevBtn="@false"
                             ShowNextBtn="@false">
            <button type="button" class="@(DatePicker.PrefixCls)-decade-btn" @onclick="ShowYearPanel">
                @(DatePicker.CurrentShowDate.Year)年
            </button>
        </AntDatePickerHeader>
        <div class="@(DatePicker.PrefixCls)-body">
            <table class="@(DatePicker.PrefixCls)-content">
                <tbody>
                    @{
                        var calendar = CultureInfo.InvariantCulture.Calendar;

                        DateTime viewDate = new DateTime(DatePicker.CurrentShowDate.Year, 1, 1);

                        int monthIndex = 0;
                        const int MAX_ROW = 4;
                        const int MAX_COL = 3;

                        string inViewClass = $"{DatePicker.PrefixCls}-cell-in-view";
                    }

                    @for (int line = 1; line <= MAX_ROW; line++)
                    {
                        <tr>
                            @for (int col = 1; col <= MAX_COL; col++)
                            {
                                var currentViewDate = viewDate;

                                string todayClass = "";
                                if (currentViewDate.Year == DatePicker.CurrentDate.Year
                                    && currentViewDate.Month == DatePicker.CurrentDate.Month)
                                {
                                    todayClass = $"{DatePicker.PrefixCls}-cell-today";
                                }

                                string selectedClass = "";
                                if (currentViewDate.Year == DatePicker.CurrentSelectDate.Year
                                    && currentViewDate.Month == DatePicker.CurrentSelectDate.Month)
                                {
                                    selectedClass = $"{DatePicker.PrefixCls}-cell-selected";
                                }

                                <td title="@(currentViewDate.Year)"
                                    class="@(DatePicker.PrefixCls)-cell @(inViewClass) @(todayClass) @selectedClass">
                                    <div class="@(DatePicker.PrefixCls)-cell-inner"
                                         @onclick="e => OnSelectMonth(currentViewDate)">
                                        @(viewDate.Month)月
                                    </div>
                                </td>

                                viewDate = currentViewDate.AddMonths(1);

                                monthIndex++;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private bool IsShowYearPanel = false;

    private void ShowYearPanel(MouseEventArgs e)
    {
        IsShowYearPanel = true;
    }

    private void SelectShowYear(DateTime date)
    {
        OnSelectShowYear(date);

        IsShowYearPanel = false;
    }
}