@namespace AntBlazor.Internal
@inherits AntDatePickerPanelBase
@using System.Globalization;

<div class="@(DatePicker.PrefixCls)-@(DatePicker.Picker)-panel">
    <AntDatePickerHeader />
    <div class="@(DatePicker.PrefixCls)-body">
        <table class="@(DatePicker.PrefixCls)-content">
            <tbody>
                @{
                    var calendar = CultureInfo.InvariantCulture.Calendar;

                    DateTime viewDate = new DateTime(DatePicker.CurrentShowDate.Year, 1, 1);

                    int yearIndex = 0;
                    const int MAX_ROW = 1;
                    const int MAX_COL = 4;
                }

                @for (int line = 1; line <= MAX_ROW; line++)
                {
                <tr>
                    @for (int col = 1; col <= MAX_COL; col++)
                    {
                        var currentViewDate = viewDate;

                        string inViewClass = $"{DatePicker.PrefixCls}-cell-in-view";
                        string todayClass = DateHelper.IsSameQuarter(currentViewDate, DatePicker.CurrentDate) ? $"{DatePicker.PrefixCls}-cell-today" : "";
                        string selectedClass = DateHelper.IsSameQuarter(currentViewDate, DatePicker.CurrentSelectDate) ? $"{DatePicker.PrefixCls}-cell-selected" : "";

                        <td title="@(currentViewDate.Year)"
                            class="@(DatePicker.PrefixCls)-cell @(inViewClass) @(todayClass) @selectedClass">
                            <div class="@(DatePicker.PrefixCls)-cell-inner"
                                 @onclick="e => OnSelectQuarter(currentViewDate)">
                                @DateHelper.GetDayOfQuarter(currentViewDate)
                            </div>
                        </td>

                        viewDate = currentViewDate.AddMonths(3);

                        yearIndex++;
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>