<br />
----- 开发期间的测试
<br />
<AntDatePicker Picker="@AntDatePickerType.Date"
               AutoFocus="@true"
               PopupStyle="color: red"
               Placeholder="这是多个属性测试"
               DefaultValue="@(new DateTime(2000, 1, 1))"
               DefaultPickerValue="@(new DateTime(2099, 1, 1))"
               DateRender="CustomRender"
               SuffixIcon="SuffixIconRender"
               OnPanelChange="(date, mode) => Console.WriteLine(date)"
               OnOpenChange="(open) => Console.WriteLine(open)"
               InputReadOnly="@true"
               DisabledDate="date => date.Day == 4"
               Style="height: 90px"
               Open="@false" />
@code {
    private RenderFragment SuffixIconRender =@<AntIcon Type="user" />;
}

<AntMonthPicker />

<AntTitle Level="1">DatePicker 日期选择框</AntTitle>
<AntText>输入或选择日期的控件。</AntText>
<AntTitle Level="2">何时使用</AntTitle>
<AntParagraph>当用户需要输入一个日期，可以点击标准输入框，弹出日期面板进行选择。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>基本</Title>
    <Description>最简单的用法，在浮层中可以选择或者输入日期。</Description>
    <Demo>
        <AntDatePicker Picker="@AntDatePickerType.Date" /> <br />
        <AntDatePicker Picker="@AntDatePickerType.Week" /> <br />
        <AntDatePicker Picker="@AntDatePickerType.Month" /> <br />
        <AntDatePicker Picker="@AntDatePickerType.Quarter" /> <br />
        <AntDatePicker Picker="@AntDatePickerType.Year" /> <br />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>禁用</Title>
    <Description>选择框的不可用状态。你也可以通过数组单独禁用 RangePicker 的其中一项。</Description>
    <Demo>
        <AntDatePicker Disabled="@true" Picker="@AntDatePickerType.Date" /> <br />
        <br />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>日期格式</Title>
    <Description>使用 <AntText Code>Format</AntText> 可以自定义日期显示格式。</Description>
    <Demo>
        <AntDatePicker DefaultValue="new DateTime(2015, 1, 1)" Picker="@AntDatePickerType.Date" Format="yyyy/MM/dd" /> <br />
        <AntDatePicker DefaultValue="new DateTime(2015, 1, 1)" Picker="@AntDatePickerType.Date" Format="yyyy/MM" /> <br />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>定制日期单元格</Title>
    <Description>使用 <AntText Code>DateRender</AntText> 可以自定义日期单元格的内容和样式。</Description>
    <Demo>
        <AntDatePicker Picker="@AntDatePickerType.Date" DateRender="CustomRender" /> <br />
    </Demo>
</DemoCard>

@code{
    private Func<DateTime, DateTime, RenderFragment> CustomRender = (currentViewDate, today) =>
        {
            if (currentViewDate.Day == 2)
            {
                return@<span>二</span>;
}
return @<span>@(currentViewDate.Day)</span>;
};
}
<br />
<DemoCard>
    <Title>无边框</Title>
    <Description>无边框样式。</Description>
    <Demo>
        <AntDatePicker Bordered="@false" Picker="@AntDatePickerType.Date" /> <br />
        <AntDatePicker Bordered="@false" Picker="@AntDatePickerType.Week" /> <br />
        <AntDatePicker Bordered="@false" Picker="@AntDatePickerType.Month" /> <br />
        <AntDatePicker Bordered="@false" Picker="@AntDatePickerType.Quarter" /> <br />
        <AntDatePicker Bordered="@false" Picker="@AntDatePickerType.Year" /> <br />
    </Demo>
</DemoCard>
<br />
<DemoCard>
    <Title>API</Title>
    <Description>
        <li>已实现DatePicker组件：支持date、year、month、quarter、week模式</li>
        <li>已实现：MonthPicker、RangePicker、WeekPicker、YearPicker、QuarterPicker（对应DatePicker的各种模式）</li>
        <li>未实现的功能：输入面板未使用Input输入框、RangePicker组件</li>
        <li>
            未实现的通用属性：AllowClear、GetPopupContainer、Locale、Mode
        </li>
        <li>
            未实现的DatePicker属性：disabledTime、renderExtraFooter、showTime、showTime.defaultValue、showToday、onOk
        </li>
        <li>
            未实现的MonthPicker属性：monthCellRender
        </li>
        <li>
            未实现的RangePicker属性：allowEmpty、disabledTime、ranges、separator、onCalendarChange
        </li>
    </Description>
</DemoCard>
