<AntTitle Level="1">Dropdown下拉菜单</AntTitle>
<AntText>向下弹出的列表。</AntText>
<AntTitle Level="2">何时使用</AntTitle>

<AntParagraph>
    当页面上的操作命令过多时，用此组件可以收纳操作元素。点击或移入触点，会出现一个下拉菜单。可在列表中进行选择，并执行相应的命令。
</AntParagraph>
<br />
<h2>代码演示</h2>
<br />

<DemoCard id="1">
    <Title>基本</Title>
    <Description>最简单的下拉菜单。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-1">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Hover me <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="2">
    <Title>弹出位置</Title>
    <Description>支持 6 个弹出位置。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.BottomLeft">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>BottomLeft</AntButton>
            </ChildContent>
        </AntDropdown>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.BottomCenter">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>BottomCenter</AntButton>
            </ChildContent>
        </AntDropdown>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.BottomRight">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>BottomRight</AntButton>
            </ChildContent>
        </AntDropdown>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.TopLeft">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>TopLeft</AntButton>
            </ChildContent>
        </AntDropdown>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.TopCenter">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>TopCenter</AntButton>
            </ChildContent>
        </AntDropdown>
        <AntDropdown PopupContainerSelector="#components-2" Placement="@AntDropdownPlacement.TopRight">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>TopRight</AntButton>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="3">
    <Title>其他元素</Title>
    <Description>分割线和不可用菜单项。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-3">
            <Overlay>
                <AntMenu>
                    <AntMenuItem @key="0">
                        <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                            1st menu item
                        </a>
                    </AntMenuItem>
                    <AntMenuItem @key="1">
                        <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                            2nd menu item
                        </a>
                    </AntMenuItem>
                    --- TODO: Need MenuDivider ---
                    <AntMenuItem @key="3" disabled>
                        3rd menu item（disabled）
                    </AntMenuItem>
                </AntMenu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Hover me <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="4">
    <Title>触发事件 TODO: AntMenu's Click is still has issue</Title>
    <Description>点击菜单项后会触发事件，用户可以通过相应的菜单项 key 进行不同的操作。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-4">
            <Overlay>
                <AntMenu>
                    <AntMenuItem @key="1">1st menu item</AntMenuItem>
                    <AntMenuItem @key="2">2nd memu item</AntMenuItem>
                    <AntMenuItem @key="3">3rd menu item</AntMenuItem>
                </AntMenu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Hover me, Click menu item <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="5">
    <Title>触发方式</Title>
    <Description>默认是移入触发菜单，可以点击触发。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-5" Trigger="@(new AntDropdownTrigger[] { AntDropdownTrigger.Click })">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Click me <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="6">
    <Title>多级菜单</Title>
    <Description>传入的菜单里有多个层级。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-6">
            <Overlay>
                <AntMenu>
                    <AntMenuItemGroup Title="Group title">
                        <AntMenuItem>1st menu item</AntMenuItem>
                        <AntMenuItem>2nd menu item</AntMenuItem>
                    </AntMenuItemGroup>
                    <AntSubMenu Title="sub menu">
                        <AntMenuItem>3rd menu item</AntMenuItem>
                        <AntMenuItem>4th menu item</AntMenuItem>
                    </AntSubMenu>
                    <AntSubMenu Title="disabled sub menu" Disabled="@true">
                        <AntMenuItem>5d menu item</AntMenuItem>
                        <AntMenuItem>6th menu item</AntMenuItem>
                    </AntSubMenu>
                </AntMenu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Cascading menu <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="7">
    <Title>带下拉框的按钮</Title>
    <Description>左边是按钮，右边是额外的相关功能菜单。可设置 icon 属性来修改右边的图标。</Description>
    <Demo>
        <AntDropdownButton PopupContainerSelector="#components-7" OnClick='e => { Console.WriteLine("Click on left button."); }'>
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                Dropdown
            </ChildContent>
        </AntDropdownButton>
        <AntDropdownButton PopupContainerSelector="#components-7" Icon="user">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                Dropdown
            </ChildContent>
        </AntDropdownButton>
        <AntDropdownButton PopupContainerSelector="#components-7" OnClick='e => { Console.WriteLine("Click on left button."); }' Disabled="@true">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                Dropdown
            </ChildContent>
        </AntDropdownButton>
        <AntDropdownButton PopupContainerSelector="#components-7" ButtonsRender="ButtonsRender">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                TODO: With ToolTip
            </ChildContent>
        </AntDropdownButton>
        <AntDropdown PopupContainerSelector="#components-7">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <AntButton>Button <AntIcon Type="down" /></AntButton>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>

<DemoCard id="8">
    <Title>右键菜单(TODO)</Title>
    <Description>默认是移入触发菜单，可以点击鼠标右键触发。(TODO)</Description>
    <Demo>
        @*<AntDropdown PopupContainerSelector="#components-8" Trigger="new AntDropdownTrigger[] { AntDropdownTrigger.ContextMenu }">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <div style="text-align: center; width: 200px; height: 200px; line-height: 200px;background: #f7f7f7;color: #777;">
                    Right Click on here
                </div>
            </ChildContent>
        </AntDropdown>*@
    </Demo>
</DemoCard>

<DemoCard id="9">
    <Title>菜单隐藏方式</Title>
    <Description>默认是点击关闭菜单，可以关闭此功能。</Description>
    <Demo>
        <AntDropdown PopupContainerSelector="#components-9" OnVisibleChange="OnVisibleChange" Visible="_visible">
            <Overlay>
                <AntMenu Click="HandleMenuClick">
                    <AntMenuItem Id="1">Clicking me will not close the menu.</AntMenuItem>
                    <AntMenuItem Id="2">Clicking me will not close the menu also.</AntMenuItem>
                    <AntMenuItem Id="3">Clicking me will close the menu.</AntMenuItem>
                </AntMenu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    Hover me <AntIcon Type="down" />
                </a>
            </ChildContent>
        </AntDropdown>
    </Demo>
</DemoCard>
<DemoCard>
    <Title>修复滚动区域的浮层移动问题</Title>
    <Description>菜单渲染父节点。默认渲染到 body 上，如果你遇到菜单滚动定位问题，试试修改为滚动的区域，并相对其定位。</Description>
    <Demo>
        <div style="margin: 10px; overflow: scroll; height: 200px">
            <div style="padding: 100px; height: 1000px; background: #eee; position: relative " id="area">
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.BottomLeft">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>BottomLeft</AntButton>
                    </ChildContent>
                </AntDropdown>
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.BottomCenter">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>BottomCenter</AntButton>
                    </ChildContent>
                </AntDropdown>
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.BottomRight">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>BottomRight</AntButton>
                    </ChildContent>
                </AntDropdown>
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.TopLeft">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>TopLeft</AntButton>
                    </ChildContent>
                </AntDropdown>
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.TopCenter">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>TopCenter</AntButton>
                    </ChildContent>
                </AntDropdown>
                <AntDropdown PopupContainerSelector="#area" Placement="@AntDropdownPlacement.TopRight">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <AntButton>TopRight</AntButton>
                    </ChildContent>
                </AntDropdown>
            </div>
        </div>
    </Demo>
</DemoCard>

<br />

@code
{
    private RenderFragment _overlayMenu =@<AntMenu>
        <AntMenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                1st menu item
            </a>
        </AntMenuItem>
        <AntMenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                2nd menu item
            </a>
        </AntMenuItem>
        <AntMenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                3rd menu item
            </a>
        </AntMenuItem>
    </AntMenu>;

    private string _popupContainerSelector = "";

    private bool _visible = false;

    private void HandleMenuClick(AntMenuItem item)
    {
        if (item.Id == "3")
        {
          _visible = false;
        }
    }

    private void OnVisibleChange(bool visible)
    {
        _visible = visible;
    }

    private RenderFragment ButtonsRender(RenderFragment leftButton, RenderFragment rightButton)
    {
        return @<Template>
            <span>@leftButton</span>@rightButton
        </Template>;
    }
}