
<AntTitle Level="1">Input</AntTitle>
<AntText>Input用于输入文字123</AntText>
<AntTitle Level="2">何时使用</AntTitle>
<AntParagraph>xxxxxxx。</AntParagraph>
<AntParagraph>在 Ant Design 中，xxxxxxx。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <AntInput DefaultValue="test onchange" OnChange="(e) => TestOnChnage(e)"></AntInput>
        <AntInput DefaultValue="test onpressenter" OnPressEnter="(e) => TestOnEnter(e)"></AntInput><input onkeypress="" onchange="" oninput="" />
    </Demo>
</DemoCard>
@code
{
    private void TestOnChnage(ChangeEventArgs args)
    {

    }

    private void TestOnEnter(KeyboardEventArgs args)
    {

    }
}

<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <AntButton Onclick="(e)=>Click(e)">Change addOnAfter</AntButton>
        <AntInput AddOnAfter="@addOn">
            123
        </AntInput>
        <AntInput Placeholder="basic usage"></AntInput>
        <AntInput Placeholder="allwoClear" AllowClear></AntInput>
        <AntInput Placeholder="disabled" Disabled></AntInput>
    </Demo>
</DemoCard>
@code{
    private RenderFragment addOn = new RenderFragment((builder) => { builder.AddContent(0, ".com"); });
    private void Click(MouseEventArgs args)
    {
        addOn = new RenderFragment((builder) => { builder.AddContent(0, ".net"); });
    }
}

<DemoCard>
    <Title>Three sizes of input</Title>
    <Description>There are three sizes of an Input box: <code>large</code> (40px), <code>default</code> (32px) and <code>small</code> (24px).</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 200px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInput Placeholder="large size" DefaultValue="123" Size="@AntInputSize.Large">
                <Prefix>
                    <AntIcon Type="user" />
                </Prefix>
            </AntInput>
            <AntInput Placeholder="default size">
                <Prefix>
                    <AntIcon Type="user" />
                </Prefix>
            </AntInput>
            <AntInput Placeholder="small size" Size="@AntInputSize.Small">
                <Prefix>
                    <AntIcon Type="user" />
                </Prefix>
            </AntInput>
            @*<AntInputPassword @bind="password" placeholder="large Password" size="@AntInputSize.Large" onPressEnter="(e)=>Submit(e)" />*@
            <AntInputPassword @bind-Value="@_password" Placeholder="large Password" Size="@AntInputSize.Large" OnPressEnter="(e)=>Submit(e)" />
        </span>
    </Demo>
</DemoCard>
@code{
    private string _password;
    private void Submit(KeyboardEventArgs args)
    {
        Console.WriteLine($"password: {_password}");
    }
}

<DemoCard>
    <Title>TextArea</Title>
    <Description>For multi-line input.</Description>
    <Demo>
        <div>
            <AntTextArea DefaultValue="hello world!" AutoSize="true"></AntTextArea>
            <AntTextArea MinRows="2" MaxRows="6"></AntTextArea>
            <AntTextArea DefaultValue="onResize" MinRows="3" MaxRows="5"></AntTextArea>
        </div>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Pre / Post tab</Title>
    <Description>Using pre & post tabs example.</Description>
    <Demo>
        <div>
            <AntInput DefaultValue="mysite">
                <AddOnBefore>https://</AddOnBefore>
                <AddOnAfter>.com</AddOnAfter>
            </AntInput>
            <AntInput DefaultValue="mysite">
                <AddOnAfter><AntIcon type="setting"></AntIcon></AddOnAfter>
            </AntInput>
            <AntInput DefaultValue="mysite">
                <AddOnBefore>https://</AddOnBefore>
            </AntInput>
        </div>
    </Demo>
</DemoCard>

<DemoCard>
    <Title>Search box</Title>
    <Description>Example of creating a search box by grouping a standard input with a search button.</Description>
    <Demo>
        <div>
            <AntSearch Placeholder="input search text" Size="@AntInputSize.Small" />
            <AntSearch Placeholder="input search text" OnChange="(e)=>Handle(e)" EnterButton="true" />
            <AntSearch Placeholder="input search text" Size="@AntInputSize.Large" EnterButton="@("Search")" />
        </div>
    </Demo>
</DemoCard>

@code{
    private void Handle(ChangeEventArgs args)
    {
        Console.WriteLine("123");
        System.Diagnostics.Debug.WriteLine("456");
    }
}

<DemoCard>
    <Title>Input Group</Title>
    <Description>
        Input.Group example
        Note: You don't need <code>Col</code> to control the width in the <code>compact</code> mode.
    </Description>
    <Demo>
        <AntInputGroup Size="@AntInputSize.Large">
            <AntInput DefaultValue="0571" />
            <AntInput DefaultValue="26888888" />
        </AntInputGroup>
        <br />
        <AntInputGroup Compact>
            <AntInput DefaultValue="0571" Style="width: 20%;" />
            <AntInput DefaultValue="26888888" Style="width: 30%;" />
        </AntInputGroup>
        <br />
        <AntInputGroup Compact>
            <AntInput DefaultValue="0571" Style="width: 20%;" />
            <AntSearch DefaultValue="26888888" Style="width: 30%;" />
        </AntInputGroup>
    </Demo>
</DemoCard>