@page "/input"

<AntTitle level="1">Input</AntTitle>
<AntText>Input用于输入文字123</AntText>
<AntTitle level="2">何时使用</AntTitle>
<AntParagraph>xxxxxxx。</AntParagraph>
<AntParagraph>在 Ant Design 中，xxxxxxx。</AntParagraph>
<br />
<h2>演示</h2>
<br />
<DemoCard>
    <Title>Basic usage</Title>
    <Description>Basic usage example.</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 400px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInput placeholder="basic usage" allowClear></AntInput>
        </span>
    </Demo>
</DemoCard>
<DemoCard>
    <Title>Input Size</Title>
    <Description>Input xxxxxxx。</Description>
    <Demo>
        <style>
            .example-input > span {
                width: 200px;
                margin: 0 8px 8px 0;
            }
        </style>
        <span class="example-input">
            <AntInput prefix="user" placeholder="large size" defaultValue="123" size="@AntInputSize.Large"
                      onChange="@((ChangeEventArgs args)=>OnChange(args, DateTime.Now.ToLongTimeString()))"
                      onPressEnter="@(()=>OnPressEnter())" allowClear></AntInput>
            <AntInput prefix="user" placeholder="default size"></AntInput>
            <AntInput prefix="user" Value="@str" placeholder="small size" size="@AntInputSize.Small"></AntInput>
        </span>
    </Demo>
</DemoCard>

@code
{
    string str = "hello world!";
    void OnChange(ChangeEventArgs args, string s)
    {
        System.Diagnostics.Debug.WriteLine("OnChange invoked.");
        str = args.Value.ToString();
    }

    void OnPressEnter()
    {
        System.Diagnostics.Debug.WriteLine("OnPressEnter invoked.");
        str = DateTime.Now.ToLongDateString();
    }
}

<DemoCard>
    <Title>TextArea</Title>
    <Description>For multi-line input.</Description>
    <Demo>
        <div>
            <AntTextArea defaultValue="hello world!"></AntTextArea>
            <AntTextArea autoSize="true"></AntTextArea>
            <AntTextArea defaultValue="onResize"></AntTextArea>
        </div>
    </Demo>
</DemoCard>