<div>
    <RadioGroup @bind-Value="_placement">
        <Radio Value="@("top")">top</Radio>
        <Radio Value="@("right")">right</Radio>
        <Radio Value="@("bottom")">bottom</Radio>
        <Radio Value="@("left")">left</Radio>
    </RadioGroup>

    <Button Type="primary" @onclick="_ => Open()">Open</Button>
    <Drawer Visible="@_visible" Placement="@_placement" Title='("Basic Drawer")' OnClose="_ => Close()">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </Drawer>
</div>

@code {
    private string _placement = "right";

    private bool _visible;

    private void Open()
    {
        _visible = true;
    }

    private void Close()
    {
        _visible = false;
    }
}