
<Divider>FilterComparison</Divider>
<span>InvariantCultureIgnoreCase</span>
<AutoComplete Options="@options" FilterComparison="@StringComparison.InvariantCultureIgnoreCase"/>
<span>InvariantCulture</span>
<AutoComplete Options="@options" FilterComparison="@StringComparison.InvariantCulture" />

<Divider>StringFilterMode</Divider>
<span>Contains</span>
<AutoComplete Options="@options" FilterMode="@StringFilterMode.Contains" />
<span>StartsWith</span>
<AutoComplete Options="@options" FilterMode="@StringFilterMode.StartsWith"  />

<Divider>Custom</Divider>
<AutoComplete Options="@options" FilterExpression="@((option,value)=>option.Label.EndsWith(value))" />


@code
{
    List<string> options = new List<string>() { "Beijing", "Shanghai", "Guangzhou", "Shenzhen", "Chongqing", "Wuhan" };
}