@namespace AntDesign
@inherits AntDomComponentBase

<div class="@PrefixCls-notice @Config.AnimationClass" @onmouseenter="HandleMouseEnter" @onmouseleave="HandleMouseLeave">
    <div class="@PrefixCls-notice-content" @ref="Ref">
        <div class="@PrefixCls-custom-content @GetClassName()">
            @{
                switch (Config.Type)
                {
                    case MessageType.Success:
                        {
                            <Icon Type="@IconType.Fill.CheckCircle" />

                            break;
                        }
                    case MessageType.Warning:
                        {
                            <Icon Type="@IconType.Fill.ExclamationCircle" />
                            break;
                        }
                    case MessageType.Error:
                        {
                            <Icon Type="@IconType.Fill.CloseCircle" />
                            break;
                        }
                    case MessageType.Info:
                        {
                            <Icon Type="@IconType.Fill.InfoCircle" />
                            break;
                        }
                    default:
                        {
                            <Icon Type="@IconType.Outline.Loading" />
                            break;
                        }
                }
            }
        <span>
            @if (Config.Content.IsT0)
            {
                @Config.Content.AsT0;
            }
            else
            {
                @Config.Content.AsT1;
            }
        </span>
        </div>
    </div>
</div>