@inherits AntDesignTestBase
@code {
	[Fact]
	public void Renders_basic_divider()
	{
		var cut = Context.Render(@<AntDesign.Divider/>);		
		cut.MarkupMatches(@<span class="ant-divider ant-divider-horizontal" id:ignore></span>);
	}

	[Fact]
	public void Renders_divider_with_title()
	{
		var style = "font-weight:bold";
		var orientation = DividerOrientation.Left;

		var cut = Context.Render(@<AntDesign.Divider Orientation="@orientation" Style="@style">A Title</AntDesign.Divider>);		
		cut.MarkupMatches(
			@<span class="ant-divider ant-divider-horizontal ant-divider-with-text ant-divider-with-text-left" style="@style" id:ignore>
				<span class="ant-divider-inner-text">A Title</span>
			</span>
		);
	}

	[Fact]
	public void Renders_divider_vertical()
	{
		var cut = Context.Render(
			@<text>
				Text
				<AntDesign.Divider Type="@DividerType.Vertical" />
				<a href="#">Link 1</a>
				<AntDesign.Divider Type="@DividerType.Vertical" />
				<a href="#">Link 2</a>
			</text>
	);
		var spanNodes = cut.Nodes.GetElementsByTagName("span");
		cut.MarkupMatches(
			@<text>
				Text
				<span class="ant-divider ant-divider-vertical" id:ignore></span>
				<a href="#">Link 1</a>
				<span class="ant-divider ant-divider-vertical" id:ignore></span>
				<a href="#">Link 2</a>
			</text>
		);
	}
}