<Space>
    <SpaceItem>
        <Button Type="primary" OnClick="@(()=>{ _visible1 = true; })">
            DragInViewport
        </Button>
    </SpaceItem>

    <SpaceItem>
        <Button Type="primary" OnClick="@(()=>{ _visible2 = true; })">
            DragAcrossViewport
        </Button>
    </SpaceItem>
</Space>

<Modal Title="@("DraggableModal")"
       Visible="@_visible1"
       OnOk="_=>{_visible1 = false;}"
       Draggable="@(true)"
       OnCancel="_=>{_visible1 = false;}">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
</Modal>

<Modal Title="@("DraggableModal")"
       Visible="@_visible2"
       OnOk="_=>{_visible2 = false;}"
       Draggable="@(true)"
       DragInViewport="@(false)"
       OnCancel="_=>{_visible2 = false;}">
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
</Modal>

@code {
    private string _title = "DraggableModal";
    private bool _visible1;
    private bool _visible2;
}