@namespace AntBlazor
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    @if (Type == ProgressType.Line)
    {
        <div class="ant-progress-outer">
            <div class="ant-progress-inner">
                <div class="ant-progress-bg" style="@_bgStyle">
                </div>
            </div>
        </div>
    }
    else if (Type == ProgressType.Circle)
    {
        <div class="ant-progress-inner" style="@_bgStyle">
            <svg xmlns="http://www.w3.org/2000/svg" class="ant-progress-circle " viewBox="0 0 100 100">
                <path class="ant-progress-circle-trail" style="@_circleTrailStyle" fill-opacity="0" stroke-linecap="@StrokeLinecap.Name" stroke-width="6" d="M 50 50 m 0 -47 a 47 47 0 1 1 0 94 a 47 47 0 1 1 0 -94" />
                <path class="ant-progress-circle-path" style="@_circlePathStyle" opacity="1" fill-opacity="0" stroke="" stroke-linecap="@StrokeLinecap.Name" stroke-width="6" d="M 50 50 m 0 -47 a 47 47 0 1 1 0 94 a 47 47 0 1 1 0 -94" />
            </svg>
            @if (Status == ProgressStatus.Success)
            {
                <span class="ant-progress-text">
                    <AntIcon Type="check-circle" Theme="@AntIconThemeType.Fill" />
                </span>
            }
            else if (Status == ProgressStatus.Exception)
            {
                <span class="ant-progress-text">
                    <AntIcon Type="close-circle" Theme="@AntIconThemeType.Fill" />
                </span>
            }
            else
            {
                <span title="@Format(Percent)" class="ant-progress-text">@Format(Percent)</span>
            }
        </div>
    }
    else
    {
        <div class="ant-progress-inner" style="width: 120px; height: 120px; font-size: 24px;">
            <svg xmlns="http://www.w3.org/2000/svg" class="ant-progress-circle " viewBox="0 0 100 100">
                <path class="ant-progress-circle-trail" style="@_circleTrailStyle" fill-opacity="0" stroke-linecap="@StrokeLinecap.Name" stroke-width="6" d="M 50 50 m 0 47 a 47 47 0 1 1 0 -94 a 47 47 0 1 1 0 94" />
                <path class="ant-progress-circle-path" style="@_circlePathStyle" opacity="1" fill-opacity="0" stroke="" stroke-linecap="@StrokeLinecap.Name" stroke-width="6" d="M 50 50 m 0 47 a 47 47 0 1 1 0 -94 a 47 47 0 1 1 0 94" />
            </svg>
            @if (Status == ProgressStatus.Success)
            {
                <span class="ant-progress-text">
                    <AntIcon Type="check-circle" Theme="@AntIconThemeType.Fill" />
                </span>
            }
            else if (Status == ProgressStatus.Exception)
            {
                <span class="ant-progress-text">
                    <AntIcon Type="close-circle" Theme="@AntIconThemeType.Fill" />
                </span>
            }
            else
            {
                <span title="@Format(Percent)" class="ant-progress-text">@Format(Percent)</span>
            }
        </div>
    }

    @if (ShowInfo && Type == ProgressType.Line)
    {
        if (Status == ProgressStatus.Success)
        {
            <span class="ant-progress-text">
                <AntIcon Type="check-circle" Theme="@AntIconThemeType.Fill" />
            </span>
        }
        else if (Status == ProgressStatus.Exception)
        {
            <span class="ant-progress-text">
                <AntIcon Type="close-circle" Theme="@AntIconThemeType.Fill" />
            </span>
        }
        else
        {
            <span title="@Format(Percent)" class="ant-progress-text">@Format(Percent)</span>
        }
    }
</div>