@namespace AntBlazor
@inherits AntInputBase

<span class="ant-input-affix-wrapper">
    @if (!string.IsNullOrEmpty(icon))
    {
        <span class="ant-input-prefix">
            <AntIcon type="@icon"></AntIcon>
        </span>
    }
    <input class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id"
           placeholder="@placeholder" />
</span>