@namespace AntBlazor
@inherits AntInputBase

<span class="ant-input-affix-wrapper">
    @if (!string.IsNullOrEmpty(prefix))
    {
        <span class="ant-input-prefix">
            <AntIcon type="@prefix"></AntIcon>
        </span>
    }
    <input class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id"
           placeholder="@placeholder" value="@(string.IsNullOrEmpty(defaultValue)?Value:defaultValue)"
           @onchange="OnChangeAsync" @onkeypress="OnPressEnterAsync" />
    @if (!string.IsNullOrEmpty(suffix))
    {
        <span class="ant-input-suffix">
            <AntIcon type="@suffix"></AntIcon>
        </span>
    }
</span>