@namespace AntBlazor
@inherits AntInputBase

<span class="ant-input-affix-wrapper">
    @if (!string.IsNullOrEmpty(prefix))
    {
        <span class="ant-input-prefix">
            <AntIcon type="@prefix"></AntIcon>
        </span>
    }
    <input class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id"
           placeholder="@placeholder" value="@Value"
           @onchange="OnChangeAsync" @onkeypress="OnPressEnterAsync"
           @oninput="OnInputAsync" />
    @if (!string.IsNullOrEmpty(suffix))
    {
        <span class="ant-input-suffix ant-input-clear-icon">
            <AntIcon type="@suffix" @onclick="ClearContent"></AntIcon>
        </span>
    }
</span>