@namespace AntBlazor
@inherits AntInputBase
<!-- Structure Example
<span class="ant-input-group-wrapper">
    <span class="ant-input-wrapper ant-input-group">
        <span class="ant-input-group-addon">Http://</span>
            <span class="ant-input-affix-wrapper">
                <span class="ant-input-prefix">￥</span>
                <input class="ant-input" type="text" value=""></span>
                <span class="ant-input-suffix">RMB</span>
        <span class="ant-input-group-addon">.com</span>
    </span>
</span>
-->
<!--ant-input-search ant-input-search-enter-button ant-input-search-large ant-input-group-wrapper ant-input-group-wrapper-lg-->

@code {
    private RenderFragment _inputFragment;
    private void GenerateInput()
    {
        @*_inputFragment =@<input class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id" type="@_type"
            placeholder="@placeholder" value="@Value"
            @onchange="OnChangeAsync" @onkeypress="OnPressEnterAsync"
            @oninput="OnInputAsync" />;*@
    }
}

@if (!Attributes.ContainsKey("enterButton"))
{
    if (addOnBefore is null && addOnAfter is null)
    {
        <span class="ant-input-search ant-input-affix-wrapper @_wrapperClass">
            @if (!(prefix is null))
            {
                <span class="ant-input-prefix">
                    @prefix
                </span>
            }
            @_inputFragment
            <span class="ant-input-suffix">
                @if (_isSearching)
                {
                    <AntIcon class="ant-input-search-icon" type="loading" />
                }
                else
                {
                    <AntIcon class="ant-input-search-icon" type="search" onclick="Search" />
                }
            </span>
        </span>

    }
    else
    {
        <span class="ant-input-search ant-input-group-wrapper">
            <span class="ant-input-wrapper ant-input-group">
                @if (!(addOnBefore is null))
                {
                    <span class="ant-input-group-addon">
                        @addOnBefore
                    </span>
                }
                <span class="ant-input-affix-wrapper @_wrapperClass">
                    @if (!(prefix is null))
                    {
                        <span class="ant-input-prefix">
                            @prefix
                        </span>
                    }
                    <input class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id" type="@_type"
                           placeholder="@placeholder" value="@Value"
                           @onchange="OnChangeAsync" @onkeypress="OnPressEnterAsync"
                           @oninput="OnInputAsync" />
                    <span class="ant-input-suffix">
                        @if (_isSearching)
                        {
                            <AntIcon class="ant-input-search-icon" type="loading" />
                        }
                        else
                        {
                            <AntIcon class="ant-input-search-icon" type="search" onclick="Search" />
                        }
                    </span>
                </span>
                @if (!(addOnAfter is null))
                {
                    <span class="ant-input-group-addon">
                        @addOnAfter
                    </span>
                }
            </span>
        </span>
    }
}
else
{
    <span class="ant-input-search ant-input-search-enter-button ant-input-group-wrapper @_groupClass">
        <span class="ant-input-wrapper ant-input-group">
            @if (!(addOnBefore is null))
            {
                <span class="ant-input-group-addon">
                    @addOnBefore
                </span>
            }
            @if (prefix is null && suffix is null)
            {
                @_inputFragment
            }
            else
            {
                <span class="ant-input-affix-wrapper @_wrapperClass">
                    @if (!(prefix is null))
                    {
                        <span class="ant-input-prefix">
                            @prefix
                        </span>
                    }
                    @_inputFragment
                    @if (!(suffix is null))
                    {
                        <span class="ant-input-suffix">
                            @suffix
                        </span>
                    }
                </span>
            }
            @if (Attributes["enterButton"].ToString() == "Search")
            {
                <span class="ant-input-group-addon">
                    @if (_isSearching)
                    {
                        <AntButton class="ant-input-search-button" type="primary" size="@size" loading>Search</AntButton>
                    }
                    else
                    {
                        <AntButton class="ant-input-search-button" type="primary" size="@size" onclick="Search">Search</AntButton>
                    }
                </span>
            }
            else
            {
                <span class="ant-input-group-addon">
                    @if (_isSearching)
                    {
                        <AntButton class="ant-input-search-button" type="primary" size="@size" icon="search" loading />
                    }
                    else
                    {
                        <AntButton class="ant-input-search-button" type="primary" size="@size" icon="search" onclick="Search" />
                    }
                </span>
            }
        </span>
    </span>
}