<div>
    <RadioGroup @bind-Value="radioValue4" ButtonStyle="@RadioButtonStyle.Solid">
        <Radio RadioButton Value="@("A")">Hangzhou</Radio>
        <Radio RadioButton Value="@("B")">Shanghai</Radio>
        <Radio RadioButton Value="@("C")">Beijing</Radio>
        <Radio RadioButton Value="@("D")">Chengdu</Radio>
    </RadioGroup>
</div>
@code
{
    string radioValue4 = "A";
}