<div>
    <Text>int:@_intValue</Text>
    <br />
    <RadioGroup @bind-Value="@_intValue">
        <Radio Value="1">1</Radio>
        <Radio Value="2">2</Radio>
        <Radio Value="3">3</Radio>
        <Radio Value="4">4</Radio>
    </RadioGroup>

</div>
<br />
<div>
    <Text>string:@_strValue</Text>
    <br />
    <RadioGroup @bind-Value="@_strValue">
        <Radio Value="@("A")">A</Radio>
        <Radio Value="@("B")">B</Radio>
        <Radio Value="@("C")">C</Radio>
        <Radio Value="@("D")">D</Radio>
    </RadioGroup>
</div>
<br />
<div>
    <Text>bool:@_boolValue</Text>
    <br />
    <RadioGroup @bind-Value="@_boolValue">
        <Radio Value="true">Yes</Radio>
        <Radio Value="false">No</Radio>
    </RadioGroup>
</div>
<br />
<div>
    <Text>bool?:@_nullBoolValue</Text>
    <br />
    <RadioGroup @bind-Value="@_nullBoolValue">
        <Radio Value="@(true)" TValue="bool?">Yes</Radio>
        <Radio Value="@(false)" TValue="bool?">No</Radio>
        <Radio Value="@(null)" TValue="bool?">Unknown</Radio>
    </RadioGroup>
</div>
@code{

    int _intValue = 1;

    string _strValue = "A";

    bool _boolValue = false;

    bool? _nullBoolValue;
}