<div>
    <RadioGroup @bind-Value="_radioValue1" Name="radiogroup1">
        <Radio Value="@("A")">A</Radio>
        <Radio Value="@("B")">B</Radio>
        <Radio Value="@("C")">C</Radio>
        <Radio Value="@("D")">D</Radio>
    </RadioGroup>
</div>
<div>
    <RadioGroup @bind-Value="_radioValue2" Name="radiogroup2">
        <Radio Value="@("A")">A</Radio>
        <Radio Value="@("B")">B</Radio>
        <Radio Value="@("C")">C</Radio>
        <Radio Value="@("D")">D</Radio>
    </RadioGroup>
</div>

@code {
    private string _radioValue1 = "A";
    private string _radioValue2 = "A";
}