<div>
    <RadioGroup @bind-Value="radioValue3">
        <Radio RadioButton Value="@("A")">Hangzhou</Radio>
        <Radio RadioButton Value="@("B")">Shanghai</Radio>
        <Radio RadioButton Value="@("C")">Beijing</Radio>
        <Radio RadioButton Value="@("D")">Chengdu</Radio>
    </RadioGroup>
    <br />
    <br />
    <RadioGroup @bind-Value="radioValue3">
        <Radio RadioButton Value="@("A")">Hangzhou</Radio>
        <Radio RadioButton Value="@("B")" Disabled>Shanghai</Radio>
        <Radio RadioButton Value="@("C")">Beijing</Radio>
        <Radio RadioButton Value="@("D")">Chengdu</Radio>
    </RadioGroup>
    <br />
    <br />
    <RadioGroup Disabled @bind-Value="radioValue3">
        <Radio RadioButton Value="@("A")" >Hangzhou</Radio>
        <Radio RadioButton Value="@("B")" >Shanghai</Radio>
        <Radio RadioButton Value="@("C")" >Beijing</Radio>
        <Radio RadioButton Value="@("D")" >Chengdu</Radio>
    </RadioGroup>
</div>

@code
{
    string radioValue3 = "A";
}
