<div>
    <RadioGroup @bind-Value="@_radioValue">
        <Radio Style="@Style" Value="@("A")">Option A</Radio>
        <Radio Style="@Style" Value="@("B")">Option B</Radio>
        <Radio Style="@Style" Value="@("C")">Option C</Radio>
        <Radio Style="@Style" Value="@("M")">
            More...
            @if (_radioValue == "M")
            {
                <AntDesign.Input type="text" TValue="string" />
            }
        </Radio>
    </RadioGroup>
</div>

@code {
    private string _radioValue = "A";
    private const string Style = "display: block;height:30px;line-height:30px";
}