@namespace AntBlazor
@inherits AntDomComponentBase

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @foreach (var option in Options)
        {
            <AntCheckbox class="ant-checkbox-group-item"
                         Disabled="option.Disabled || Disabled"
                         Checked="@(option.Checked)"
                         Value="@option.Value"
                         CheckedChange="OnOptionChange">
                <span>@option.Label</span>
            </AntCheckbox>
        }
        @ChildContent
    </div>
</CascadingValue>