@namespace AntBlazor
@inherits AntCheckboxBase

<label class="ant-checkbox-wrapper" style="@Style" @attributes="Attributes" Id="@Id" @ref="Ref">
    <span class="@ClassMapper.Class" style="">
        <input @ref="inputElement"
               value="@(value)"
               checked="@(@checked)"
               disabled="@(disabled)"
               @onchange="@inputCheckedChange"
               @attributes="@inputAttributes"
               type="checkbox"
               class="ant-checkbox-input" />
        <span class="ant-checkbox-inner"></span>
    </span>
    <span @ref="contentElement">
        @ChildContent
    </span>
</label>