@namespace AntDesign
@inherits AntInputComponentBase<bool>

<label class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
    <span class="@ClassMapperSpan.Class">
        <input value="@Label"
               checked="@Checked"
               disabled="@Disabled"
               @onchange="@InputCheckedChange"
               @attributes="@InputAttributes"
               type="checkbox"
               class="ant-checkbox-input" />
        <span class="ant-checkbox-inner"></span>
    </span>
    @if (ChildContent != null)
    {
        <span>
            @ChildContent
        </span>
    }
</label>

