@namespace AntDesign
@inherits AntInputComponentBase<string[]>

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @if (Options.Value != null)
        {
            if (Options.IsT0)
            {
                @foreach (var option in Options.AsT0)
                {
                    option.Checked = option.Value.IsIn(_selectedValues);

                    <Checkbox class="ant-checkbox-group-item"
                              Disabled="option.Disabled || Disabled"
                              Checked="@option.Checked"
                              Label="@option.Value"
                              CheckedChange="_=>OnCheckedChange()">
                        <span>@option.Label</span>
                    </Checkbox>
                }
            }
            else
            {
                @foreach (var option in Options.AsT1)
                {
                    <Checkbox class="ant-checkbox-group-item"
                              Disabled="Disabled"
                              Checked="@option.IsIn(_selectedValues)"
                              Label="@option"
                              CheckedChange="_=>OnCheckedChange()">
                        <span>@option</span>
                    </Checkbox>
                }
            }
        }
        @ChildContent
    </div>
</CascadingValue>