@namespace AntDesign
@inherits AntInputComponentBase<OneOf<string[], Enum>>
@using OneOf

<CascadingValue Value="this" IsFixed="@true">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @if (Options.Value != null)
        {
            if (Options.IsT0)
            {
                @foreach (var option in Options.AsT0)
                {
                    <Checkbox class="ant-checkbox-group-item"
                              Disabled="option.Disabled || Disabled"
                              Checked="@option.Checked"
                              Label="@option.Value">
                        <span>@option.Label</span>
                    </Checkbox>
                }
            }
            else if (Options.IsT1)
            {
                @foreach (var option in Options.AsT1)
                {
                    <Checkbox class="ant-checkbox-group-item"
                              Disabled="Disabled"
                              Checked="@option.IsIn(_selectedValues.AsT0)"
                              Label="@option">
                        <span>@option</span>
                    </Checkbox>
                }
            }
            else
            {
                @foreach (var option in Enum.GetValues(_enumType))
                {
                    <Checkbox class="ant-checkbox-group-item"
                              Disabled="Disabled"
                              Checked="@_selectedValues.AsT1.HasFlag((Enum)option)"
                              Label="@option.ToString()">
                        <span>@option</span>
                    </Checkbox>
                }
            }
        }
        @ChildContent
    </div>
</CascadingValue>