@namespace AntDesign
@inherits AntInputBoolComponentBase

<label class="@ClassMapperLabel.Class" style="@Style" for="@Id" @ref="Ref">
    <span class="@ClassMapper.Class">
        <input id="@Id"
               value="@Label"
               checked="@Checked"
               disabled="@IsDisabled"
               autofocus=@AutoFocus
               @onchange="@InputCheckedChange"
               type="checkbox"
               class="ant-checkbox-input" />
        <span class="ant-checkbox-inner"></span>
    </span>

    @if (ChildContent != null)
    {
        <span>
            @ChildContent
        </span>
    }
    else
    {
        <span>@Label</span>
    }

</label>

