<Dropdown Placement="@DropdownPlacement.BottomLeft">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>BottomLeft</AntButton>
    </ChildContent>
</Dropdown>
<Dropdown Placement="@DropdownPlacement.BottomCenter">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>BottomCenter</AntButton>
    </ChildContent>
</Dropdown>
<Dropdown Placement="@DropdownPlacement.BottomRight">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>BottomRight</AntButton>
    </ChildContent>
</Dropdown>
<Dropdown Placement="@DropdownPlacement.TopLeft">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>TopLeft</AntButton>
    </ChildContent>
</Dropdown>
<Dropdown Placement="@DropdownPlacement.TopCenter">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>TopCenter</AntButton>
    </ChildContent>
</Dropdown>
<Dropdown Placement="@DropdownPlacement.TopRight">
    <Overlay>
        @_overlayMenu
    </Overlay>
    <ChildContent>
        <AntButton>TopRight</AntButton>
    </ChildContent>
</Dropdown>

@code
{
    private RenderFragment _overlayMenu =@<Menu>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                1st menu item
            </a>
        </MenuItem>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                2nd menu item
            </a>
        </MenuItem>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                3rd menu item
            </a>
        </MenuItem>
    </Menu>;
}