@page "/docs/{fileName}"
@page "/docs"
@page "/{locale}/docs/{fileName}"
@page "/{locale}/docs"

<section class="main-container">
    <article class="markdown">
        @if (_file != null)
        {
            var title = $"{_file.Title} - Ant Design of Blazor";
            <PageTitle>@title</PageTitle>
            <h1>
                @_file.Title
                <Tooltip Title="@Localizer["app.content.edit-demo"]">
                    <Unbound>
                        <a @ref="context.Current" class="edit-button" href="@EditUrl" target="_blank" rel="noopener noreferrer">
                            <Icon Type="edit" />
                        </a>
                    </Unbound>
                </Tooltip>
            </h1>

            @((MarkupString) _file.Html)
        }
        else
        {
            <Skeleton Paragraph ParagraphRows="5"></Skeleton>
        }
    </article>
    <ContributorsList FilePaths="@_filePaths" />
</section>
