<Button OnClick="@(()=>{ _visible = true; })">
    Open Modal
</Button>
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Select DataSource="@_persons"
            @bind-Value="@_selectedValue"
            LabelName="@nameof(Person.Name)"
            ValueName="@nameof(Person.Value)"
            Placeholder="Select a person"
            EnableSearch
            OnSelectedItemChanged="OnSelectedItemChangedHandler">
    </Select>
    <br /><br />
    <p>
        Selected Value: @_selectedValue <br />
        Selected Item Name: @_selectedItem?.Name
    </p>

</Modal>

@code{
    string title = "BasicModal";
    bool _visible = false;

    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
        _selectedValue = null; // No working
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    class Person
    {
        public string Value { get; set; }
        public string Name { get; set; }
    }

    List<Person> _persons;
    string _selectedValue;
    Person _selectedItem;

    protected override void OnInitialized()
    {
        _persons = new List<Person>
        {
            new Person { Value = "jack", Name = "Jack" },
            new Person { Value = "lucy", Name = "Lucy" },
            new Person { Value = "tom" , Name = "Tom" }
        };
    }

    private void OnSelectedItemChangedHandler(Person value)
    {
        _selectedItem = value;
        Console.WriteLine($"selected: ${value?.Name}");
    }
}