<AntMenu Class="aside-container menu-site" Theme="AntMenuTheme.Light" Mode="AntMenuMode.Inline">
    @menuItemTemplate((MenuItems, LanguageService, 1))
</AntMenu>


@inject ILanguageService LanguageService

@code {

    [Parameter]
    public bool IsCollapsed { get; set; }

    [Parameter]
    public MenuItem[] MenuItems { get; set; } = { };

    static readonly RenderFragment<(MenuItem[] items, ILanguageService languageService, int level)> menuItemTemplate = context =>
    @<Template>
        @foreach (var menu in context.items)
        {
            if (menu.Type == "menuItem")
            {
                <AntMenuItem>
                    <NavLink href="@($"{context.languageService.CurrentCulture.Name}/{menu.Url}")" Match="@NavLinkMatch.All">
                    <span>@menu.Title</span>
                    @if (menu.SubTitle != null)
                    {
                        <span class="chinese">@menu.SubTitle</span>
                    }
                    </NavLink>
                </AntMenuItem>
            }
            else if (menu.Type == "subMenu")
            {
                <AntSubMenu Title="@(context.languageService.Resources[menu.Title])">
                    @if (menu.Children.Any())
                    {
                        @menuItemTemplate((menu.Children, context.languageService, context.level + 1))
                    }
                </AntSubMenu>
            }
            else if (menu.Type == "itemGroup")
            {
                <AntMenuItemGroup Title="@context.languageService.Resources[menu.Title]">
                    @if (menu.Children.Any())
                    {
                        @menuItemTemplate((menu.Children, context.languageService, context.level + 1))
                    }
                </AntMenuItemGroup>
            }
        }
    </Template>;
}
