<ul class="contributors-list" style="display: flex; list-style: none; margin: 0px; padding: 0px;">
    @if (_avatarList?.Any() == true)
    {
        @foreach (var item in _avatarList)
        {
            <Tooltip Title="@($"{Localizer["app.content.contributors"]}:{item.Username}")">
                <Unbound>
                    <a @ref="context.Current" target="_blank" href="@item.ProfileUrl">
                        <Avatar Text="@item.Username" Src="@item.Url" />
                    </a>
                </Unbound>
            </Tooltip>
        }
    }
    else
    {
        for (var i = 0; i < 3; i++)
        {
            <SkeletonElement Style="margin-right: 8px;margin-bottom: 8px;" Type="avatar" 
                             Active Size="SkeletonElementSize.Default" Shape="@AvatarShape.Circle" />
        }
    }
</ul>
