
<div id="search-box">
    <div id="docsearch"></div>
</div>

<Menu Mode="@(IsMobile?MenuMode.Inline: MenuMode.Horizontal)" Id="nav" Class="menu-site">
    @foreach (var item in _menuItems.OrderBy(x => x.Order))
    {
        <MenuItem Class="ant-menu-item-only-child" Key="@item.Url" RouterLink="@($"{CurrentLanguage}/{item.Url}")" RouterMatch="NavLinkMatch.Prefix">
            <span>@item.Title</span>
        </MenuItem>
    }

    @if (CurrentLanguage == "zh-CN")
    {
       <MenuItem Class="ant-menu-item-only-child" RouterLink="@($"{CurrentLanguage}/support")">支持 & 服务</MenuItem>
    }

    <MenuItem Class="ant-menu-item-only-child" RouterLink="@($"https://x.antblazor.com/{CurrentLanguage}")">AI</MenuItem>
    
    @if (IsMobile)
    {
        <MenuItem><a href="https://github.com/ant-design-blazor/ant-design-blazor">Github</a></MenuItem>

        @if (CurrentLanguage != "en-US")
        {
            <MenuItem Class="header-button header-lang-button" OnClick="@(_ => ChangeLanguage("en-US"))">English</MenuItem>
        }
        else
        {
            <MenuItem Class="header-button header-lang-button" OnClick="@(_ => ChangeLanguage("zh-CN"))">简体中文</MenuItem>
        }
        @if (Direction?.ToUpperInvariant() != "RTL")
        {
            <MenuItem Class="header-button" OnClick="@(()=>ConfigProvider?.ChangeDirection("rtl"))">RTL</MenuItem>
        }
        else
        {
            <MenuItem Class="header-button" OnClick="@(()=>ConfigProvider?.ChangeDirection("ltr"))">LTR</MenuItem>
        }
    }
</Menu>

@if (!IsMobile)
{
    <Button Class="header-button" Size="ButtonSize.Small">{version}</Button>

    @if (CurrentLanguage != "en-US")
    {
        <Button Class="header-button header-lang-button" Size="ButtonSize.Small" OnClick="@(_ => ChangeLanguage("en-US"))">English</Button>
    }
    else
    {
        <Button Class="header-button header-lang-button" Size="ButtonSize.Small" OnClick="@(_ => ChangeLanguage("zh-CN"))">简体中文</Button>
    }

    @if (Direction?.ToUpperInvariant() != "RTL")
    {
        <Button Class="header-button" Size="ButtonSize.Small" OnClick="@(()=>ConfigProvider?.ChangeDirection("rtl"))">RTL</Button>
    }
    else
    {
        <Button Class="header-button" Size="ButtonSize.Small" OnClick="@(()=>ConfigProvider?.ChangeDirection("ltr"))">LTR</Button>
    }

    <GithubButton />

}