@namespace AntDesign
@inherits AntDomComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <button class="@ClassMapper.Class" style="@(this.Danger ? BtnWave + Style : Style)" id="@Id" type="@HtmlType" @ref="@Ref"
            @onclick="HandleOnClick" disabled="@Disabled"
            @onclick:stopPropagation="@OnClickStopPropagation"
            @onmouseup="OnMouseUp"
            ant-click-animating-without-extra-node="@(this._animating ? "true":"false")" aria-label="@AriaLabel">
        @if (Loading)
        {
            <span class="ant-btn-loading-icon">
                <Icon Type="loading" />
            </span>
        }
        else if (!string.IsNullOrEmpty(Icon))
        {
            <Icon Type="@Icon" />
        }
        @if (ChildContent != default)
        {
            @if (NoSpanWrap)
            {
                @ChildContent
            }
            else
            {
                <span>@ChildContent</span>
            }
        }
    </button>
</CascadingValue>
