@namespace AntBlazor
@inherits AntStepBase


    <div class="@ClassMapper.Class" style="@Style" @attributes="Attributes" Id="@Id">
        <div class="ant-steps-item-container" @onclick="@OnClick" tabindex="@GetTabIndex()">
            @if (!Last)
            {
                <div class="ant-steps-item-tail"></div>
            }
            <div class="ant-steps-item-icon">
                @if (!ShowProcessDot)
                {
                    <span class="ant-steps-icon">
                        @if (string.IsNullOrEmpty(Icon))
                        {
                            if (Status == "finish")
                            {
                                <AntIcon type="check"></AntIcon>
                            }
                            else if (Status == "error")
                            {
                                <AntIcon type="close"></AntIcon>
                            }
                            else if (Status == "process" || Status == "wait")
                            {
                                @(Index+1)
                            }
                        }
                        else
                        {
                            if (Status == "error")
                            {
                                <AntIcon type="close"></AntIcon>
                            }
                            else
                            {
                                <AntIcon type="@Icon"></AntIcon>
                            }

                        }
                    </span>
                    
                }
                else
                {
                    if (ProgressDot is null)
                    {
                        <span class="ant-steps-icon-dot"></span>
                    }
                    else
                    {
                        <CascadingValue Value="this">
                            @ProgressDot
                        </CascadingValue>
                    }

                }
            </div>
            <div class="ant-steps-item-content">
                <div class="ant-steps-item-title">
                    @Title
                    @if (!string.IsNullOrEmpty(Subtitle))
                    {
                        <div class="ant-steps-item-subtitle">@Subtitle</div>
                    }
                </div>
                @if (!string.IsNullOrEmpty(Description))
                {
                    <div class="ant-steps-item-description">@Description</div>
                }
            </div>
        </div>
    </div>