@namespace AntDesign
@using Microsoft.AspNetCore.Components.Rendering
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
    <div class="ant-steps-item-container" @onclick="@HandleClick" tabindex="@GetTabIndex()" @attributes="@_containerAttributes">
        @if (!Last)
        {
            <div class="ant-steps-item-tail"></div>
        }
        <div class="ant-steps-item-icon">
            @if (!ShowProcessDot)
            {
                @if (Percent != null && Parent.Current == Index)
                {
                    <div class="ant-steps-progress-icon">
                        <Progress Percent="@((double) Percent)"
                                  Width=@(Size == StepsSize.Small ? 32 : 40)
                                  Type=ProgressType.Circle
                                  StrokeWidth="4"
                                  Format=@((p) => "") />
                        @IconFragment
                    </div>
                }
                else
                {
                    @IconFragment
                }
            }
            else
            {
                <span class="ant-steps-icon">
                    <span class="ant-steps-icon-dot"></span>
                </span>
            }
        </div>
        <div class="ant-steps-item-content">
            <div class="ant-steps-item-title">
                @if (TitleTemplate != null)@TitleTemplate else @Title

                @if (SubtitleTemplate != null || Subtitle != null)
                {
                    <div class="ant-steps-item-subtitle">
                        @if (SubtitleTemplate != null)@SubtitleTemplate else @Subtitle
                    </div>
                }
            </div>
            @if (DescriptionTemplate != null || Description != null)
            {
                <div class="ant-steps-item-description">
                    @if (DescriptionTemplate != null)@DescriptionTemplate else @Description
                </div>
            }
        </div>
    </div>
</div>

@code {
    private void IconFragment(RenderTreeBuilder __builder)
    {
        <span class="ant-steps-icon">
            @if (IconTemplate != null)
            {
                @IconTemplate(Status)
            }
            else if (string.IsNullOrEmpty(Icon))
            {
                if (Status == StepsStatus.Finish)
                {
                    <Icon Type="check"></Icon>
                }
                else if (Status == StepsStatus.Error)
                {
                    <Icon Type="close"></Icon>
                }
                else if (Status == StepsStatus.Process || Status == StepsStatus.Wait)
                {
                    @(Index + 1)
                }
            }
            else
            {
                if (Status == StepsStatus.Error)
                {
                    <Icon Type="close"></Icon>
                }
                else
                {
                    <Icon Type="@Icon"></Icon>
                }
            }
        </span>
    }
}