@namespace AntBlazor
@inherits AntDomComponentBase
@using Microsoft.AspNetCore.Components.Forms;
@typeparam TValue

<AntRow class="@ClassMapper.Class"
        style="@Style"
        id="@Id">
    <AntCol Span="8" class=@($"{_prefixCls}-label")>
        <label for="basic_username" class=@($"{_prefixCls}-required")> @(Label)</label>
    </AntCol>
    <AntCol Span="16" class=@($"{_prefixCls}-control")>
        <div class=@($"{_prefixCls}-control-input")>
            <div class=@($"{_prefixCls}-control-input-content")>
                <CascadingValue Value="EditContext">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
        <FormValidationMessage OnStateChange="valid => _isValid = valid" For="@For" />
    </AntCol>
</AntRow>