@namespace AntDesign
@inherits FormItemBase
@typeparam TValue

@using AntDesign.Internal;

<AntRow class="@ClassMapper.Class"
        style="@Style"
        id="@Id">
    @if (!string.IsNullOrEmpty(Label))
    {
        <AntCol @attributes="GetLabelColAttributes()" class=@($"{_prefixCls}-label")>

            <label class=@(_labelCls)> @(Label)</label>
               
        </AntCol>
    }
    <AntCol @attributes="GetWrapperColAttributes()" class=@($"{_prefixCls}-control")>
        <div class=@($"{_prefixCls}-control-input")>
            <div class=@($"{_prefixCls}-control-input-content")>
                <CascadingValue Value="ValuePropName" Name="ValuePropName">
                    <CascadingValue Value="EditContext" Name="EditContext">
                        <CascadingValue Value="this" Name="FormItem">
                            @ChildContent
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </div>
        </div>
        @if (For != null)
        {
            <FormValidationMessage OnStateChange="valid => _isValid = valid" For="@For" />
        }
    </AntCol>
</AntRow>