@namespace AntDesign
@inherits AntDomComponentBase
@using AntDesign.Internal;

<Row Class="@ClassMapper.Class" Style="@Style" Id="@Id">
    @if (!string.IsNullOrEmpty(Label))
    {
        <AntDesign.Col @attributes="GetLabelColAttributes()" Class="@GetLabelColClasses()">
            <label class=@(Required ? $"{_prefixCls}-required" : _labelCls)> @(Label)</label>
        </AntDesign.Col>
    }
    <AntDesign.Col @attributes="GetWrapperColAttributes()" Class=@($"{_prefixCls}-control")>
        <div class=@($"{_prefixCls}-control-input")>
            <div class=@($"{_prefixCls}-control-input-content")>
                <CascadingValue Value="this" Name="FormItem" TValue="IFormItem" IsFixed="@true">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
        @_formValidationMessages
    </AntDesign.Col>
</Row>