<div>
    <Button Type="@ButtonType.Primary">Primary</Button>
    <Button Type="@ButtonType.Primary" Disabled>Primary (disabled)</Button>
    <br />
    <Button>Default</Button>
    <Button Disabled>Default (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Dashed">Dashed</Button>
    <Button Type="@ButtonType.Dashed" Disabled>Dashed (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Text">Text</Button>
    <Button Type="@ButtonType.Text" Disabled>Text (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Link">Link</Button>
    <Button Type="@ButtonType.Link" Disabled>Link (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Link" Danger>Danger Link</Button>
    <Button Type="@ButtonType.Link" Danger Disabled>Danger Link (disabled)</Button>
    <br />
    <Button Danger>Danger Default</Button>
    <Button Danger Disabled>Danger Default (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Text" Danger>Danger Text</Button>
    <Button Type="@ButtonType.Text" Danger Disabled>Danger Text (disabled)</Button>
    <br />
    <Button Type="@ButtonType.Link" Danger>Danger Link</Button>
    <Button Type="@ButtonType.Link" Danger Disabled>Danger Link (disabled)</Button>
    <div class="site-Button-Ghost-wrapper">
        <Button Ghost>Ghost</Button>
        <Button Ghost Disabled>Ghost (disabled)</Button>
    </div>
</div>