<div>
    <Tooltip Title=@("search")>
        <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="search" />
    </Tooltip>
    <Button Type="@ButtonType.Primary" Shape="@ButtonShape.Circle">
        A
    </Button>
    <Button Type="@ButtonType.Primary" Icon="search">
    Search
    </Button>
    <Tooltip Title=@("search")>
        <Button Shape="@ButtonShape.Circle" Icon="search" />
    </Tooltip>
    <Button Icon="search">Search</Button>
    <br />
    <Tooltip Title=@("search")>
        <Button Shape="@ButtonShape.Circle" Icon="search" />
    </Tooltip>
    <Button Icon="search">Search</Button>
    <Tooltip Title=@("search")>
        <Button Type="@ButtonType.Dashed" Shape="@ButtonShape.Circle" Icon="search" />
    </Tooltip>
    <Button Type="@ButtonType.Dashed" Icon="search">
    Search
    </Button>
</div>