<ButtonGroup Size="@ButtonSize.Small">
    <Button Type="@ButtonType.Primary">Button 1</Button>
    <Button Type="@ButtonType.Primary">Button 2</Button>
</ButtonGroup>
<ButtonGroup>
    <Button Type="@ButtonType.Primary">Button 1</Button>
    <Button Type="@ButtonType.Primary">Button 2</Button>
</ButtonGroup>
<ButtonGroup Size="@ButtonSize.Large">
    <Button Type="@ButtonType.Primary">Button 1</Button>
    <Button Type="@ButtonType.Primary">Button 2</Button>
</ButtonGroup>
