@using System.Timers

<div>
    <Button Type="@ButtonType.Primary" Loading>
        Loading
    </Button>
    <Button Type="@ButtonType.Primary" Size="@ButtonSize.Small" Loading>Loading</Button>
    <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Poweroff" Loading />
    <br />
    <Button Type="@ButtonType.Primary"
            Loading="noIconLoading"
            OnClick=EnterNoIconLoading>
        Click me!
    </Button>
    <Button Type="@ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            Loading="withIconLoading"
            OnClick="EnterWithIconLoading">
        Click me!
    </Button>
    <Button Type="@ButtonType.Primary"
            Icon="@IconType.Outline.Poweroff"
            Loading="onlyIconLoading"
            OnClick="EnterOnlyIconLoading" />
</div>

@code
{
    bool noIconLoading = false;
    bool withIconLoading = false;
    bool onlyIconLoading = false;

    private async Task EnterNoIconLoading()
    {
        noIconLoading = true;
        await Task.Delay(8000);
        noIconLoading = false;
    }

    private async Task EnterWithIconLoading()
    {
        withIconLoading = true;
        await Task.Delay(8000);
        withIconLoading = false;
    }

    private async Task EnterOnlyIconLoading()
    {
        onlyIconLoading = true;

        await Task.Delay(8000);
        onlyIconLoading = false;
    }
}
