@namespace AntDesign
@inherits ColumnBase

@if (IsPlaceholder)
{
    <td style="padding: 0px; border: 0px; height: 0px;"></td>
}
else if (IsColGroup)
{
    if (Width != null)
    {
        <col style="width: @((CssSizeLength)Width); min-width: @((CssSizeLength)Width);">
    }
    else
    {
        <col />
    }
}
else if (IsHeader && HeaderColSpan != 0)
{
    <th class="@ClassMapper.Class" style="@Style" colspan="@HeaderColSpan">
          @if (TitleTemplate != null) @TitleTemplate else @Title
    </th>
}
else if (!IsHeader && RowSpan != 0 && ColSpan != 0)
{
    <td class="@ClassMapper.Class" style="@Style" rowspan="@RowSpan" colspan="@ColSpan">
        @ChildContent
    </td>
}