@namespace AntDesign
@inherits ColumnBase

@if (IsPlaceholder)
{
    <td style="padding: 0px; border: 0px; height: 0px;"></td>
}
else if (IsColGroup)
{
    if (Width > 0)
    {
        <col style="width: @(Width)px; min-width: @(Width)px;">
    }
}
else if (IsHeader)
{
    <th class="@ClassMapper.Class ant-table-selection-column" style="@FixedStyle @Style" @key="@Key">
        @if (Type == "checkbox")
        {
            <Checkbox @bind-Checked="_checked" CheckedChange="HandleCheckedChange" Indeterminate="Indeterminate" />
        }
    </th>
}
else
{
    <td class="@ClassMapper.Class ant-table-selection-column" style="@FixedStyle @Style" @key="@Key">
        @if (Type == "checkbox")
        {
            <Checkbox @bind-Checked="_checked" Disabled="Disabled" CheckedChange="HandleCheckedChange" />
        }
        else if (Type == "radio")
        {
            <Radio @bind-Checked="_checked" Disabled="Disabled" CheckedChange="HandleCheckedChange" TValue="bool" />
        }
    </td>
}