@namespace AntDesign
@inherits AntDomComponentBase

<div class="ant-anchor-wrapper" style="max-height: 100vh;" id="@Id" @ref="@_self">
    <div class="ant-anchor">
        <div class="ant-anchor-ink" @ref="@_ink">
            <span class="@_ballClass" style="@_ballStyle">
            </span>
        </div>
        <CascadingValue Value="this" Name="Root">
            <CascadingValue Value="this" Name="Parent">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </div>
</div>