@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" @ref="@_self" id="@Id">
    <a title="@Title" class="@_titleClass.Class" href="@Href">@Title</a>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>