@namespace AntDesign
@using AntDesign.Internal
@inherits AntDomComponentBase


<CascadingValue Value='$"ant-mentions-dropdown ant-mentions-dropdown-placement-bottomRight"' Name="PrefixCls">
    <OverlayTrigger @ref="_overlayTrigger" PopupContainerSelector="body">
        <Overlay>
            <ul class="ant-mentions-dropdown-menu ant-mentions-dropdown-menu-root ant-mentions-dropdown-menu-vertical" role="menu" data-menu-list="true">
                @foreach (var item in ShowOptions)
                {
                    <MentionsOption Value="@item.Value">@item.ChildContent</MentionsOption>
                }
            </ul>
        </Overlay>
        <Unbound>
            <div class="@ClassMapper.Class">
                <textarea @ref="context.Current"
                          @bind="@Value"
                          @attributes="@Attributes"
                          style="@Style"
                          class="rc-textarea"
                          placeholder="@Placeholder"
                          OnkeyDown="OnKeyDown"
                          @oninput="OnInput" />
            </div>
        </Unbound>
    </OverlayTrigger>
</CascadingValue>


