@namespace AntDesign
@using AntDesign.Internal
@inherits AntDomComponentBase
<CascadingValue Value='$"ant-mentions-dropdown"' Name="PrefixCls" IsFixed>
    <OverlayTrigger @ref="_overlayTrigger"
                    Trigger="new[] { Trigger.None }"
                    OverlayLeaveCls=""
                    OverlayEnterCls=""
                    HiddenMode=true
                    InlineFlexMode=false>
        <Overlay>
            <CascadingValue Value=this>
                @if (OriginalOptions.Count > 0)
                {
                    <ul class="ant-mentions-dropdown-menu ant-mentions-dropdown-menu-root ant-mentions-dropdown-menu-vertical" role="menu" data-menu-list="true">
                        @foreach (var item in ShowOptions)
                        {
                            <MentionsOption Value="@item.Value">@item.ChildContent</MentionsOption>
                        }
                    </ul>
                }
                else
                {
                    @ChildContent
                }
            </CascadingValue>
        </Overlay>

        <Unbound>
            <div class="@ClassMapper.Class">
                <textarea @ref="context.Current"
                          @bind="@Value"
                          @attributes="@Attributes"
                          style="@Style"
                          class="rc-textarea"
                          placeholder="@Placeholder"
                          @onkeydown="OnKeyDown"
                          @oninput="OnInput" />
            </div>
        </Unbound>
    </OverlayTrigger>
</CascadingValue>
