@namespace AntBlazor.Internal
@inherits AntDomComponentBase

@if (_hasAddOverlayToBody == true || _isWaitForOverlayFirstRender)
{
    string display = GetDisplayStyle();
    string overlayCls = GetOverlayCls();

    <div class="@(Trigger.PrefixCls) @(Trigger.OverlayClassName) @(Trigger.GetPlacementClass()) @overlayCls"
         style="display: inline-flex; position: absolute; @display @Trigger.OverlayStyle @_dropdownStyle"
         @ref="Ref"
         @onmouseenter="OnOverlayMouseEnter"
         @onmouseleave="OnOverlayMouseLeave">
        <CascadingValue Value="Trigger" Name="ParentTrigger">
            <CascadingValue Value="OverlayChildPrefixCls" Name="PrefixCls">
                @Trigger.Overlay
            </CascadingValue>
        </CascadingValue>
    </div>
}
