<div class="demo">
    <div style="margin-left: @($"{ButtonWidth}px"); white-space: nowrap;">
        <Tooltip Placement="@PlacementType.TopLeft" Title="Text">
            <Button>TL</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.Top" Title="Text">
            <Button>Top</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.TopRight" Title="Text">
            <Button>TR</Button>
        </Tooltip>
    </div>
    <div style="width: @($"{ButtonWidth}px"); float: left;">
        <Tooltip Placement="@PlacementType.LeftTop" Title="Text">
            <Button>LT</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.Left" Title="Text">
            <Button>Left</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.LeftBottom" Title="Text">
            <Button>LB</Button>
        </Tooltip>
    </div>
    <div style="width: @($"{ButtonWidth}px"); margin-left: @($"{ButtonWidth * 4 + 24}px");">
        <Tooltip Placement="@PlacementType.RightTop" Title="Text">
            <Button>RT</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.Right" Title="Text">
            <Button>Right</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.RightBottom" Title="Text">
            <Button>RB</Button>
        </Tooltip>
    </div>
    <div style="margin-left: @($"{ButtonWidth}px"); clear: both; white-space: nowrap;">
        <Tooltip Placement="@PlacementType.BottomLeft" Title="Text">
            <Button>BL</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.Bottom" Title="Text">
            <Button>Bottom</Button>
        </Tooltip>
        <Tooltip Placement="@PlacementType.BottomRight" Title="Text">
            <Button>BR</Button>
        </Tooltip>
    </div>
</div>

@code
{
    public string Text = "prompt text";
    const int ButtonWidth = 70;
}