@namespace AntDesign
@inherits AntDomComponentBase

<CascadingValue Value="this">
    <div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @ChildContent
        @if (AutoGenerate)
        {
            foreach (var breadcrumb in _breadcrumbs)
            {
                <BreadcrumbItem>
                    <a href="@breadcrumb.Url" @onclick="(e) => Navigate(breadcrumb.Url.ToString())">@breadcrumb.Label</a>
                </BreadcrumbItem>
            }
        }
    </div>
</CascadingValue>