@namespace AntDesign
@inherits AntDomComponentBase

<nav class="@ClassMapper.Class" id="@Id" @ref="Ref" style="@Style">
    <ol>
        <CascadingValue Value="this" IsFixed="@true">
            @ChildContent
            @if (AutoGenerate)
            {
                @foreach (var options in MenuService.GetBreadcrumbOptions())
                {
                    @if (_existingOptions.Any(x => x.RouterLink == options.RouterLink))
                    {
                        continue;
                    }

                    <BreadcrumbItem Href="@options.RouterLink">
                        @if (options.TitleTemplate != null)
                        {
                            @options.TitleTemplate
                        }
                        else
                        {
                            @options.Title
                        }
                    </BreadcrumbItem>
                }
            }
        </CascadingValue>
    </ol>
</nav>
