@namespace AntDesign
@inherits AntInputBoolComponentBase

<button type="button" role="switch"
        aria-checked="@(CurrentValue?"true":"false")"
        disabled="@(Disabled||Loading)"
        class="@ClassMapper.Class"
        style="@Style"
		autofocus=@AutoFocus
        ant-click-animating="@(_clickAnimating?"true":"false")"
        @onmouseover="HandleMouseOver"
        @onmouseout="HandleMouseOut"
        @onclick="HandleClick"
        @ref="Ref">
    <div class="@($"{_prefixCls}-handle")">
        @if (Loading)
        {
            <Icon Type="loading" Class="@($"{_prefixCls}-loading-icon")" />
        }
    </div>
    <span class="@($"{_prefixCls}-inner")">
        @if (CurrentValue)
        {
            if (CheckedChildrenTemplate != null)@CheckedChildrenTemplate else @CheckedChildren
        }
        else
        {
            if (UnCheckedChildrenTemplate != null)@UnCheckedChildrenTemplate else @UnCheckedChildren
        }
    </span>

    <!--animation-->
    @if (CurrentValue)
    {
        <div class="ant-click-animating-node"></div>
    }
    else
    {
        <div class="ant-click-animating-node"></div>
    }
</button>
