<RadioGroup @bind-Value="@size" OnChange="e=> setSize(e)" TValue="SpaceSize">
    <Radio Value="@SpaceSize.Small">Small</Radio>
    <Radio Value="@SpaceSize.Middle">Middle</Radio>
    <Radio Value="@SpaceSize.Large">Large</Radio>
</RadioGroup>
<br />
<Space Size=@size>
    <SpaceItem>
        <Button Type="ButtonType.Primary">Primary</Button>
    </SpaceItem>
    <SpaceItem>
        <Button>Default</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Dashed">Dashed</Button>
    </SpaceItem>
    <SpaceItem>
        <Button Type="@ButtonType.Link">Link</Button>
    </SpaceItem>
</Space>

@code {
    SpaceSize size = SpaceSize.Small;
    void setSize(SpaceSize value)
    {
        size = value;
        StateHasChanged();
    }
}
