@namespace AntBlazor
@inherits AntBlazor.Internal.Overlay

@if (_hasAddOverlayToBody == true || _isWaitForOverlayFirstRender)
{
    string display = _isOverlayShow ? "" : "visibility: hidden;";
    string overlayCls;

    if (!_isOverlayShow && !_isWaitForOverlayFirstRender)
    {
        overlayCls = Trigger.GetOverlayHiddenClass();
        display = "";
    }
    else
    {
        overlayCls = _overlayCls;
    }

    <div class="@(Trigger.PrefixCls) @(Trigger.OverlayClassName) @(Trigger.GetPlacementClass()) @overlayCls"
         style="position: absolute; @display @Trigger.OverlayStyle @_dropdownStyle"
         @ref="Ref"
         @onmouseenter="OnOverlayMouseEnter"
         @onmouseleave="OnOverlayMouseLeave">
        <div class="ant-tooltip-content">
            <div class="ant-tooltip-arrow"></div>
            <div class="ant-tooltip-inner" role="tooltip">@Title</div>
        </div>
    </div>
}