<Paragraph Editable EditConfig="editableStr">@editableStr.Text</Paragraph>
<Paragraph Editable EditConfig="editableStrWithSuffix">@editableStrWithSuffix.Text</Paragraph>
<Paragraph Editable EditConfig="customIconStr">@customIconStr.Text</Paragraph>
<Paragraph Editable EditConfig="customEnterIconStr">@customEnterIconStr.Text</Paragraph>
<Paragraph Editable EditConfig="clickTriggerStr">@clickTriggerStr.Text</Paragraph>
<Paragraph Editable EditConfig="noEnterIconStr">@noEnterIconStr.Text</Paragraph>
<Paragraph Editable EditConfig="lengthLimitedStr">@lengthLimitedStr.Text</Paragraph>

<Title Level="1" Editable EditConfig="h1">@h1.Text</Title>
<Title Level="2" Editable EditConfig="h2">@h2.Text</Title>
<Title Level="3" Editable EditConfig="h3">@h3.Text</Title>
<Title Level="4" Editable EditConfig="h4">@h4.Text</Title>

<Divider />

<Paragraph Copyable>Simple copyable text</Paragraph>
<Paragraph Copyable CopyConfig="@selfDefinedText">Copy a self defiend text</Paragraph>
<Paragraph Copyable CopyConfig="@selfDefinedCopy">在控制台中查看此文本的log</Paragraph>
<Title Copyable>可复制的标题</Title>
<Paragraph>不可复制的段落中穿插着<Text Strong Copyable>可复制的文字</Text>以及其他</Paragraph>

@code
{
    public TypographyCopyableConfig selfDefinedText = new() { Text = "Just copied from self defined text" };
    public TypographyCopyableConfig selfDefinedCopy = new() { OnCopy = () => System.Console.WriteLine("Log in console as a self defined copy behavior") };

    TypographyEditableConfig editableStr = new() { Text = "This is an editable text." };
    TypographyEditableConfig editableStrWithSuffix = new() { Text = "This is a loooooooooooooooooooooooooooooooong editable text with suffix." };
    TypographyEditableConfig customIconStr = new() { Text = "Custom Edit icon and replace tooltip text." };
    TypographyEditableConfig clickTriggerStr = new() { Text = "Text or icon as trigger - click to start editing." };
    TypographyEditableConfig customEnterIconStr = new() { Text = "Editable text with a custom enter icon in edit field." };
    TypographyEditableConfig noEnterIconStr = new() { Text = "Editable text with no enter icon in edit field." };
    TypographyEditableConfig lengthLimitedStr = new() { Text = "This is an editable text with limited length." };

    TypographyEditableConfig h1 = new() { Text = "h1. Ant Design" };
    TypographyEditableConfig h2 = new() { Text = "h2. Ant Design" };
    TypographyEditableConfig h3 = new() { Text = "h3. Ant Design" };
    TypographyEditableConfig h4 = new() { Text = "h4. Ant Design" };

}