@namespace AntDesign
@inherits ComponentBase
@typeparam TItem

<span class="@ClassMapper.Class" @onclick="OnClick">
    @if (IsShowSwitchIcon)
    {
        @if (SelfNode.Loading)
        {
            <Icon Type="loading" Theme="outline" class="ant-tree-switcher-loading-icon" />
        }
        else
        {
            if (TreeComponent.SwitcherIconTemplate != null)
            {
                <span class="ant-tree-switcher-icon">
                    @TreeComponent.SwitcherIconTemplate(SelfNode)
                </span>
            }
            else if (!string.IsNullOrWhiteSpace(TreeComponent.SwitcherIcon))
            {
                <Icon Type="@TreeComponent.SwitcherIcon" Class="ant-tree-switcher-icon" />
            }
            else
            {
                <Icon Type="caret-down" Theme="outline" Class="ant-tree-switcher-icon" />
            }
        }
    }

    @if (TreeComponent.ShowLine)
    {
        @if (SelfNode.Loading)
        {
            <Icon Type="loading" Class="ant-tree-switcher-loading-icon" />
        }
        else
        {
            if (IsShowLineIcon)
            {
                @if (TreeComponent.SwitcherIconTemplate != null)
                {
                    <span class="ant-tree-switcher-icon">
                        @TreeComponent.SwitcherIconTemplate(SelfNode)
                    </span>
                }
                else if (TreeComponent.SwitcherIcon != null)
                {
                    <Icon Type="TreeComponent.SwitcherIcon" Class="ant-tree-switcher-icon" />
                }
                else
                {
                    <Icon Type="@(IsSwitcherOpen ? "minus-square" : "plus-square")" Class="ant-tree-switcher-line-icon" />
                }
            }
            else
            {
                if (TreeComponent.ShowLeafIcon)
                {
                    <Icon Type="file" Theme="outline" class="ant-tree-switcher-line-icon" />
                }
                else
                {
                    <span class="ant-tree-switcher-leaf-line"></span>
                }
            }
        }
    }
</span>