@namespace AntDesign
@inherits ComponentBase
@typeparam TItem
@if (CanDraggable)
{
    <span class="@TitleClassMapper.Class" title="@SelfNode.Title" @onclick="OnClick" @ondblclick="OnDblClick" draggable="true"
          ondragover="event.preventDefault();" @ondragleave="OnDragLeave" @ondragenter="OnDragEnter" @ondrop:preventDefault @ondrop="OnDrop"
          @ondragstart="OnDragStart" @ondragend="OnDragEnd" aria-grabbed="@CanDraggable">
        <TreeNodeTitleContent TItem="TItem"></TreeNodeTitleContent>
    </span>
}
else
{
    <span class="@TitleClassMapper.Class" title="@SelfNode.Title" @onclick="OnClick" @ondblclick="OnDblClick">
        <TreeNodeTitleContent TItem="TItem"></TreeNodeTitleContent>
    </span>
}
