@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TItem
@using AntDesign.Core.Helpers

<CascadingValue Value="this" Name="Tree" IsFixed="@true">
    @if (DataSource != null)
    {
        foreach (var item in DataSource)
        {
            <TreeNode DataItem="@item" @key="item.GetHashCode()"></TreeNode>
        }
    }
    else if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Nodes
    }

    @{
        if (!_initialized)
            return;
    }

    <AntDesign.Core.Component.Defer>
        @{
            _flattedNodes = TreeDataHelper.FlattenTree(_allNodes.Where(x => x.ParentNode == null), nodes => nodes.ChildNodes);
        }
        <div class="@ClassMapper.Class" style="@Style" @ref="Ref">
            <div class="ant-tree-list">
            <div class="ant-tree-list-holder" style="@HolderStyle">
                <div class="ant-tree-list-holder-inner">
                    @{
#if NET5_0_OR_GREATER
                    if (!string.IsNullOrWhiteSpace(Height))
                    {
                       <Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize 
                         TItem="TreeNode<TItem>"
                         Items="@_flattedNodes"
                         ItemContent="item => item.RenderTreeNote()"
                        />
                    }
                    else
#endif

                    {
                        @foreach (var item in _flattedNodes)
                        {
                            @item.RenderTreeNote()
                        }
                    }
                    }
                </div>
            </div>
                </div>
        </div>
    </AntDesign.Core.Component.Defer>
</CascadingValue>
