@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TItem

<div class="@ClassMapper.Class" style="@Style" Id="@Id" @ref="Ref">
    @if (Header != null)
    {
        <div class="@PrefixName-header">
            @Header
        </div>
    }

    @if (DataSource?.Any() == true)
    {
        <Spin Spinning="Loading" WrapperClassName="ant-list-spin-wrapper">
            @if (Grid != null)
            {
				  <Row Gutter="Grid.Gutter" OnBreakpoint="OnBreakpoint">
				      @foreach (var item in DataSource)
				      { 
				          <CascadingValue Value="this" IsFixed>
				              @ChildContent(item)
				          </CascadingValue>
				      }
				  </Row>
            }
            else
            {
                <ul class="ant-list-items">
                    @foreach (var item in DataSource)
                    {
                        <CascadingValue Value="this" IsFixed>
							@ChildContent(item)
                        </CascadingValue>
                    }
                </ul>
            }
        </Spin>
    }
    else
    {
        <div style="min-height:53px" />
    }

    @if (Footer != null)
    {
        <div class="@PrefixName-footer">
            @Footer
        </div>
    }
    @if (LoadMore != null)
    {
        @LoadMore
    }

</div>
