@namespace AntDesign
@inherits AntDomComponentBase

@if (Grid == null)
{
    <li class="@ClassMapper.Class" style="@Style" Id="@Id" @onclick="HandleClick" @onclick:stopPropagation>
        @itemChildren(this)
    </li>
}
else
{
    <AntDesign.Col Flex="1" Style="@ColStyle" Xs="Grid.Xs" Sm="Grid.Sm" Md="Grid.Md" Lg="Grid.Lg" Xl="Grid.Xl" Xxl="Grid.Xxl">
        <div class="@ClassMapper.Class" style="@Style" Id="@Id" @onclick="HandleClick" @onclick:stopPropagation>
            @itemChildren(this)
        </div>
     </AntDesign.Col>
}
@code{
    RenderFragment<AntListItem> itemChildren = content =>
    @<Template>
        @if (content.ItemLayout == AntDirectionVHType.Vertical && content.Extra != null)
        {
            <div class="@content.PrefixName-main">
                @content.ChildContent
                @content.actionsContent(content)
            </div>
            <div class="@content.PrefixName-extra">@content.Extra</div>
        }
        else
        {
            @content.ChildContent
            @content.actionsContent(content)
            @if (content.Extra != null)
            {
                @content.Extra
            }
        }
    </Template>;

RenderFragment<AntListItem> actionsContent = content =>
@<Template>
    @if (content.Actions != null && content.Actions.Count > 0)
    {
        <ul class="@content.PrefixName-action" key="actions">
            @for (int i = 0; i < content.Actions.Count; i++)
            {
                <li key="@content.PrefixName-action-@i">
                    @content.Actions[i]
                    @if (i != (content.Actions.Count - 1))
                    {
                        <em class="@content.PrefixName-action-split" />
                    }
                </li>
            }
        </ul>
    }
</Template>;
}
