<Tabs DefaultActiveKey="1" @bind-ActiveKey="@NKey" OnChange="OnTabChange">
    @foreach (var item in LstTabs)
    {
        <TabPane Key="@item.KeyName">
            <Tab>@item.TabName</Tab>
            <ChildContent>@item.Content @NKey</ChildContent>
        </TabPane>
    }
</Tabs>

<Button Type="primary" OnClick="OnClickPrev">Prev</Button>
<Button Type="primary" OnClick="OnClickNext">Next</Button>


@code {
    private string NKey { get; set; } = "1";

    private class TabItem
    {
        public string KeyName;
        public string TabName;
        public string Content;
    }

    private List<TabItem> LstTabs { get; set; } = new();

    protected override void OnInitialized()
    {
        LstTabs.Add(new TabItem
        {
            KeyName = "1",
            TabName = "Tab 1",
            Content = "Content of Tab Pane"
        });
        LstTabs.Add(new TabItem
        {
            KeyName = "2",
            TabName = "Tab 2",
            Content = "Content of Tab Pane"
        });
        LstTabs.Add(new TabItem
        {
            KeyName = "3",
            TabName = "Tab 3",
            Content = "Content of Tab Pane"
        });
    }

    private void OnClickNext()
    {
        var n = Convert.ToInt32(NKey);
        if (n >= LstTabs.Count)
            return;
        n++;
        NKey = n.ToString();
    }

    private void OnClickPrev()
    {
        var n = Convert.ToInt32(NKey);
        if (n <= 1)
            return;
        n--;
        NKey = n.ToString();
    }

    private static void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }
}
