<div>
    <div style="margin-bottom: 16px;">
        <Button @OnClick="Add">ADD</Button>
    </div>
    <Tabs Type="@TabType.EditableCard" HideAdd @bind-ActiveKey="@_activeKey">
        @foreach (var (title, content, key, closable) in _panes)
        {
            <TabPane Key="@key" Closable="closable">
                <Tab>@title</Tab>
                <ChildContent>@content</ChildContent>
            </TabPane>
        }
    </Tabs>
</div>

@code {
    private string _activeKey;
    private int _newTabIndex;

    private record Pane(string Title, string Content, string Key, bool Closable = true);

    private List<Pane> _panes = new()
    {
        new Pane("Tab 1", "Content of Tab Pane 1", "1"),
        new Pane("Tab 2", "Content of Tab Pane 2", "2"),
        new Pane("Tab 3", "Content of Tab Pane 3", "3", false)
    };

    private void Add()
    {
        _activeKey = $"newTab{_newTabIndex++}";
        _panes.Add(new Pane($"New Tab", $"New Tab Pane", _activeKey));
    }
}