<div>
    <RadioGroup @bind-Value="position" Style="margin-bottom: 16px;">
        <Radio RadioButton Value="@TabPosition.Top">Top</Radio>
        <Radio RadioButton Value="@TabPosition.Left">Left</Radio>
        <Radio RadioButton Value="@TabPosition.Right">Right</Radio>
        <Radio RadioButton Value="@TabPosition.Bottom">Bottom</Radio>
    </RadioGroup>
    <Tabs DefaultActiveKey="1" TabPosition="@position">
        <TabPane Key="1" Tab="Tab 1">
            Content of Tab Pane 1
        </TabPane>
        <TabPane Key="2" Tab="Tab 2">
            Content of Tab Pane 2
        </TabPane>
        <TabPane Key="3" Tab="Tab 3">
            Content of Tab Pane 3
        </TabPane>
    </Tabs>
</div>

@code {
    private TabPosition position = TabPosition.Top;
}