<div>
    <RadioGroup @bind-Value="size" Style="margin-bottom: 16px;">
        <Radio RadioButton Value="@TabSize.Small">Small</Radio>
        <Radio RadioButton Value="@TabSize.Default">Default</Radio>
        <Radio RadioButton Value="@TabSize.Large">Large</Radio>
    </RadioGroup>

    <Tabs DefaultActiveKey="1" Size="@size" Style="margin-bottom: 32px">
        <TabPane Key="1" Tab="Tab 1">
            Content of Tab Pane 1
        </TabPane>
        <TabPane Key="2" Tab="Tab 2">
            Content of Tab Pane 2
        </TabPane>
        <TabPane Key="3" Tab="Tab 3">
            Content of Tab Pane 3
        </TabPane>
    </Tabs>

    <Tabs DefaultActiveKey="1" Type="@TabType.Card" Size="@size">
        <TabPane Key="1" Tab="Tab 1">
            Content of Tab Pane 1
        </TabPane>
        <TabPane Key="2" Tab="Tab 2">
            Content of Tab Pane 2
        </TabPane>
        <TabPane Key="3" Tab="Tab 3">
            Content of Tab Pane 3
        </TabPane>
    </Tabs>
</div>

@code {
    private TabSize size = TabSize.Default;
}