<div>
    <RadioGroup @bind-Value="_mode" Style="margin-bottom: 8px;">
        <Radio RadioButton Value="@TabPosition.Top">Horizontal</Radio>
        <Radio RadioButton Value="@TabPosition.Left">Vertical</Radio>
    </RadioGroup>
    <Tabs DefaultActiveKey="0" TabPosition="@_mode" Style="height: 220px;">
        @for (var i = 0; i < 30; i++)
        {
            var myTab = i;
            <TabPane Key="@($"{myTab}")">
                <Tab>Tab-@myTab</Tab>
                <ChildContent>Content of tab Pane @myTab</ChildContent>
            </TabPane>
        }
    </Tabs>
</div>

@code {
    private string _mode = TabPosition.Top;
}
