<div>
    <Steps Type="@StepsType.Navigation" Size="@StepsSize.Small" Current="@current" Class="site-navigation-steps">
        <Step Title="Step 1" Subtitle="00:00:05" Status="finish" Description="This is a description." />
        <Step Title="Step 2" Subtitle="00:01:02" Status="process" Description="This is a description." />
        <Step Title="Step 3" Subtitle="waiting for longlong time" Status="wait" Description="This is a description." />
    </Steps>
    <Steps Type="@StepsType.Navigation" Current="@current" Class="site-navigation-steps">
        <Step Status="@StepsStatus.Finish" Title="Step 1" />
        <Step Status="@StepsStatus.Process" Title="Step 2" />
        <Step Status="@StepsStatus.Wait" Title="Step 3" />
        <Step Status="@StepsStatus.Wait" Title="Step 4" />
    </Steps>
    <Steps Type="@StepsType.Navigation" Size="@StepsSize.Small" Current="@current" Class="site-navigation-steps">
        <Step Status="@StepsStatus.Finish" Title="Finish 1" />
        <Step Status="@StepsStatus.Finish" Title="Finish 2" />
        <Step Status="@StepsStatus.Process" Title="Current Process" />
        <Step Status="@StepsStatus.Wait" Title="Wait" Disabled />
    </Steps>
</div>

@code {
    int current;
}