<AutoComplete TOption="string">
    <ChildContent>
        <AutoCompleteSearch Placeholder="input here" @bind-Value="@_value"/>
    </ChildContent>
    <OverlayTemplate>
        @foreach (var group in _optionGroups)
        {
            <AutoCompleteOptGroup>
                <LabelFragment>
                    <span>
                        @group.Title<a style="float: right;" href="https://www.google.com/search?q=ng+zorro" target="_blank">更多</a>
                    </span>
                </LabelFragment>
                <ChildContent>
                    @foreach (var option in group.Children)
                    {
                        <AutoCompleteOption Value="@option.Title" Label="@option.Title">
                            @option.Title
                            <span style="position: absolute; color: #999; right: 16px;">@option.Count 人 关注</span>
                        </AutoCompleteOption>
                    }
                </ChildContent>
            </AutoCompleteOptGroup>
        }
    </OverlayTemplate>
</AutoComplete>

@code {
    private string _value;

    private readonly CertainCategoryGroup[] _optionGroups =
    {
        new()
        {
            Title = "话题",
            Children = new[]
            {
                new CertainCategoryOption
                {
                    Title = "Ant Design",
                    Count = 10000
                },
                new CertainCategoryOption
                {
                    Title = "Ant Design Blazor",
                    Count = 10600
                }
            }
        },
        new()
        {
            Title = "问题",
            Children = new[]
            {
                new CertainCategoryOption
                {
                    Title = "Ant Design Blazor 有多好",
                    Count = 60100
                },
                new CertainCategoryOption
                {
                    Title = "Ant Design 是啥",
                    Count = 30010
                }
            }
        },
        new()
        {
            Title = "文章",
            Children = new[]
            {
                new CertainCategoryOption
                {
                    Title = "Ant Design 是一个设计语言",
                    Count = 100000
                }
            }
        }
    };

    private class CertainCategoryGroup
    {
        public string Title { get; set; }
        public CertainCategoryOption[] Children { get; set; }
    }

    private class CertainCategoryOption
    {
        public string Title { get; set; }
        public int Count { get; set; }
    }
}