<AutoComplete @bind-Value="@_value"
              OptionDataItems="@_options"
              Backfill="@SwitchBackfill"
              AllowFilter="@AllowFilter"
              DefaultActiveFirstOption="@SwitchDefaultActiveFirstOption"
              Width="120"
              OnPanelVisibleChange="OnPanelVisibleChange"
              Disabled="@Disabled" />
<Divider Text="Properties"></Divider>

<div>
    <Switch @bind-Value="SwitchBackfill" />Backfill
    <br />
    <Switch @bind-Value="SwitchDefaultActiveFirstOption" />DefaultActiveFirstOption
    <br />
    <Switch @bind-Value="Disabled" />Disabled
    <br />
    <Switch @bind-Value="AllowFilter" />AllowFilter
</div>

<Divider></Divider>
<span>bind-Value:@_value</span>


@code {
    private string _value;

    private readonly List<AutoCompleteDataItem<string>> _options = new()
    {
        new AutoCompleteDataItem<string>("Burns Bay Road", "Burns Bay Road"),
        new AutoCompleteDataItem<string>("Downing Street", "Downing Street")
        {
            IsDisabled = true
        },
        new AutoCompleteDataItem<string>("Wall Street", "Wall Street")
    };

    private bool SwitchBackfill { get; } = false;

    private bool SwitchDefaultActiveFirstOption { get; } = true;

    private bool Disabled { get; } = false;

    private bool AllowFilter { get; } = true;

    private static void OnPanelVisibleChange(bool visible)
    {
        Console.WriteLine(visible);
    }
}
