<AutoComplete Options="_options" OnInput="OnInput" AllowFilter="false">
    <ChildContent>
        <AutoCompleteSearch Placeholder="input here" @bind-Value="@_value" />
    </ChildContent>
    <OptionTemplate Context="option">
        <AutoCompleteOption Style="display: flex;" Value="@option.Value.Category">
            Found @option.Value.Title on
            <a style=" flex: auto; text-overflow: ellipsis; overflow: hidden;"
               href="https://s.taobao.com/search?q=@(option.Value.Title)"
               target="_blank"
               rel="noopener noreferrer">
                @option.Value.Category
            </a>
            <span style="flex: none;">@option.Value.Count results</span>
        </AutoCompleteOption>
    </OptionTemplate>
</AutoComplete>

@code {
    private string _value;

    List<UncertainCategoryOption> _options = new();

    void OnInput(ChangeEventArgs e)
    {
        var v = e.Value.ToString();
        var r = new Random();
        var i = 0;

        _options = new int[7].Select(_ => new UncertainCategoryOption
        {
            Title = v,
            Category = $"{v}{i++}",
            Count = r.Next(100, 200)
        }).ToList();
    }

    private class UncertainCategoryOption
    {
        public string Title { get; set; }
        public string Category { get; set; }
        public int Count { get; set; }
    }
}