@namespace AntDesign
@inherits AntDomComponentBase

<CascadingValue Value="this" IsFixed="@true">
    <ul class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
        @ChildContent

        @foreach (var item in _displayItems)
        {
            <li class="@item.ItemClass" @ref="item.Ref" style="@item.Style" id="@item.Id">
                <div class="ant-timeline-item-tail"></div>
                <div class="@item._headClassMapper.Class" style="@item.HeadStyle">
                    @if (item.Dot != null)
                    {
                        @item.Dot
                    }
                </div>
                <div class="ant-timeline-item-content">
                    @item.ChildContent
                </div>
            </li>
        }
    </ul>
</CascadingValue>
