@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" @ref="@Ref" style="@DrawerStyle @Style" id="@Id">
    @if (Mask)
    {
        <div class="ant-drawer-mask" @onclick="_=>MaskClick()" style="@MaskStyle"></div>
    }
    <div class="ant-drawer-content-wrapper @WrapClassName " style="@WrapperStyle">
        <div class="ant-drawer-content">
            <div class="ant-drawer-wrapper-body" style="@(IsLeftOrRight?"height:100%":"")">
                @if (_title.Value != null || Closable)
                {

                    <div class="@TitleClassMapper.Class">
                        @if (_title.Value != null)
                        {
                            <div class="ant-drawer-title">
                                @if (TitleTemplate != null)
                                {
                                    @TitleTemplate
                                }
                                @if (!string.IsNullOrEmpty(TitleString))
                                {
                                    @((MarkupString)TitleString)
                                }
                            </div>
                        }
                        @if (Closable)
                        {
                            <button @onclick="_=>CloseClick()" aria-label="Close" class="ant-drawer-close">
                                <Icon Type="close"/>
                            </button>
                        }
                    </div>
                }
                <div class="ant-drawer-body" style="@BodyStyle">
                    @if (ContentTemplate != null)
                    {
                        @ContentTemplate
                    }
                    @if (string.IsNullOrEmpty(ContentString))
                    {
                        @((MarkupString)ContentString)
                    }
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>
