@namespace AntDesign
@inherits AntDomComponentBase

@{
    SpaceItemCount = 0;
}
<CascadingValue Value="this" IsFixed="@true">
    <div class="@ClassMapper.Class" style="@Style @InnerStyle" id="@Id" @ref="@Ref">
        @ChildContent
    </div>
</CascadingValue>
@_styleContent