@namespace AntDesign
@inherits AntDomComponentBase

<div class="ant-ribbon-wrapper">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    <div class="@ClassMapper.Class" style="@colorStyle">
        @if (Text.IsT0)
        {
            @Text.AsT0
        }
        else
        {
            @Text.AsT1
        }
        <div class="ant-ribbon-corner" style="@cornerColorStyle"/>
    </div>
</div>