@using System.ComponentModel
@using AntDesign.TableModels;


<RadioGroup @bind-Value="sortway">
    <Radio Value="@SortWay.Default">Default</Radio>
    <Radio Value="@SortWay.Singleness">Singleness</Radio>
    <Radio Value="@SortWay.Multiple">Multiple</Radio>
</RadioGroup>

<Table DataSource="@data" SortWay="sortway">
    <Column @bind-Field="@context.Name" Sortable>
        <a>@context.Name</a>
    </Column>
    <Column @bind-Field="@context.Age" Sortable></Column>
    <Column @bind-Field="@context.Address" Sortable></Column>
</Table>

@code{

    private SortWay sortway = SortWay.Default;

    Data[] data =
    {
        new Data()
        {
            Key = "1",
            Name = "John Brown",
            Age = 32,
            Address = "New York No. 1 Lake Park",
        },
        new Data()
        {
            Key = "2",
            Name = "Jim Green",
            Age = 42,
            Address = "London No. 1 Lake Park",
        },
        new Data()
        {
            Key = "3",
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
        }
    };

    public class Data
    {
        [DisplayName("Key")]
        public string Key { get; set; }

        [DisplayName("Name")]
        public string Name { get; set; }

        [DisplayName("Age")]
        public int Age { get; set; }

        [DisplayName("Address")]
        public string Address { get; set; }

    }
}