@using System.Text.Json;

<Form Model="@_model"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Size="@_model.Size">
    <FormItem Label="Form Size">
        <RadioGroup @bind-Value="@context.Size">
            <Radio RadioButton Value="@AntSizeLDSType.Small">Small</Radio>
            <Radio RadioButton Value="@AntSizeLDSType.Default">Default</Radio>
            <Radio RadioButton Value="@AntSizeLDSType.Large">Large</Radio>
        </RadioGroup>
    </FormItem>

    <FormItem Label="Input">
        <Input @bind-Value="@context.Input" />
    </FormItem>
    <FormItem Label="InputArea">
        <TextArea @bind-Value="@context.InputArea" />
    </FormItem>
    <FormItem Label="Cascader">
        <Cascader @bind-Value="@context.Cascader" Options="_districts" />
    </FormItem>
    <FormItem Label="DatePicker">
        <DatePicker @bind-Value="@context.DatePicker" />
    </FormItem>
    <FormItem Label="RangePicker">
        <RangePicker @bind-Value="@context.RangePicker" />
    </FormItem>
    <FormItem Label="InputNumber">
        <AntDesign.InputNumber @bind-Value="@context.Number" />
    </FormItem>
    <FormItem Label="Switch">
        <Switch @bind-Value="@context.Switch" />
    </FormItem>
    <FormItem Label="Radio">
        <RadioGroup @bind-Value="@context.Radio">
            <Radio RadioButton Value="@("Hangzhou")">Hangzhou</Radio>
            <Radio RadioButton Value="@("Shanghai")">Shanghai</Radio>
            <Radio RadioButton Value="@("Beijing")">Beijing</Radio>
            <Radio RadioButton Value="@("Chengdu")">Chengdu</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem Label="AutoComplete">
        <AutoComplete @bind-Value="@context.AutoComplete" Options="@_autoCompleteOptions" Placeholder="Input here" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button HtmlType="submit">
            Submit
        </Button>
    </FormItem>


</Form>

@code {
    private class Model
    {
        public string Size { get; } = AntSizeLDSType.Small;
        public string Input { get; } = "input";
        public string InputArea { get; } = "inputArea";
        public string Cascader { get; } = "11";
        public DateTime? DatePicker { get; } = DateTime.Now;

        public DateTime?[] RangePicker { get; } = {
            DateTime.Now,
            DateTime.Now.AddDays(10)
        };

        public double Number { get; } = 1;
        public bool Switch { get; } = true;
        public string Radio { get; } = "Beijing";
        public string AutoComplete { get; set; }
    }

    private Model _model = new();

    private readonly List<CascaderNode> _districts = new()
    {
        new CascaderNode
        {
            Value = "1",
            Label = "Zhejianng",
            Children = new[]
            {
                new CascaderNode
                {
                    Value = "11",
                    Label = "Hangzhou"
                },
                new CascaderNode
                {
                    Value = "12",
                    Label = "Wenzhou"
                }
            }
        },
        new CascaderNode
        {
            Value = "2",
            Label = "Shanghai"
        }
    };

    private readonly List<string> _autoCompleteOptions = new()
    {
        "Primary",
        "Junior",
        "Senior",
        "Undergraduate",
        "Master",
        "Doctor"
    };

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }

}
