@using System.Text.Json;

<Form Model="@model"
        LabelCol="new ColLayoutParam { Span = 8 }"
        WrapperCol="new ColLayoutParam { Span = 16 }"
        OnFinish="OnFinish"
        OnFinishFailed="OnFinishFailed"
        Size="@model.Size">
    <FormItem Label="Form Size">
        <RadioGroup @bind-Value="@context.Size">
            <Radio RadioButton Value="@AntSizeLDSType.Small">Small</Radio>
            <Radio RadioButton Value="@AntSizeLDSType.Default">Default</Radio>
            <Radio RadioButton Value="@AntSizeLDSType.Large">Large</Radio>
        </RadioGroup>
    </FormItem>

    <FormItem Label="Input">
        <Input @bind-Value="@context.Input" />
    </FormItem>
    <FormItem Label="InputArea">
        <TextArea @bind-Value="@context.InputArea" />
    </FormItem>
    <FormItem Label="Cascader">
        <Cascader @bind-Value="@context.Cascader" Options="districts" />
    </FormItem>
    <FormItem Label="DatePicker">
        <DatePicker @bind-Value="@context.DatePicker" />
    </FormItem>
    <FormItem Label="RangePicker">
        <RangePicker @bind-Value="@context.RangePicker" />
    </FormItem>
    <FormItem Label="InputNumber">
        <AntDesign.InputNumber @bind-Value="@context.Number" />
    </FormItem>
    <FormItem Label="Switch">
        <Switch @bind-Value="@context.Switch" />
    </FormItem>
    <FormItem Label="Radio">
        <RadioGroup @bind-Value="@context.Radio">
            <Radio RadioButton Value="@("Hangzhou")">Hangzhou</Radio>
            <Radio RadioButton Value="@("Shanghai")">Shanghai</Radio>
            <Radio RadioButton Value="@("Beijing")">Beijing</Radio>
            <Radio RadioButton Value="@("Chengdu")">Chengdu</Radio>
        </RadioGroup>
    </FormItem>
    <FormItem WrapperCol="new ColLayoutParam{ Offset = 8, Span = 16 }">
        <Button HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

@code
{
    public class Model
    {
        public string Size { get; set; } = AntSizeLDSType.Small;
        public string Input { get; set; } = "input";
        public string InputArea { get; set; } = "inputArea";
        public string Cascader { get; set; } = "11";
        public DateTime? DatePicker { get; set; } = DateTime.Now;
        public DateTime?[] RangePicker { get; set; } = new DateTime?[] { DateTime.Now, DateTime.Now.AddDays(10) };
        public double Number { get; set; } = 1;
        public bool Switch { get; set; } = true;
        public string Radio { get; set; } = "Beijing";
    }

    private Model model = new Model();

    private List<CascaderNode> districts = new List<CascaderNode>
    {
        new CascaderNode()
        {
            Value = "1",
            Label = "浙江",
            Children = new []
            {
                new CascaderNode {Value = "11", Label = "杭州"},
                new CascaderNode {Value = "12", Label = "温州"},
            }
        },
        new CascaderNode()
        {
            Value = "2",
            Label = "上海",
        }
    };

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

}