<div class="icons-list">
    <Icon Type="@IconType.Outline.Home" />
    <Icon Type="@IconType.Fill.Setting" />
    <Icon Type="@IconType.Outline.Smile" />
    <Icon Type="@IconType.Outline.Sync" Spin />
    <Icon Type="@IconType.Outline.Smile" Rotate="180" />
    <Icon Type="@IconType.Outline.Loading" />
</div>
