@namespace AntDesign
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" @onclick="_ => OnClickHandle()" style="@Style">
    <div>
        <div class="@BackTopContentClassMapper.Class">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                <div class="@BackTopIconClassMapper.Class">
                    <Icon Type="@Icon" Theme="outline" />
                </div>
            }
        </div>
    </div>
</div>
