@namespace AntDesign
@inherits AntDomComponentBase

@if (Visible)
{
    <div class="@BackTopClassMapper.Class" @onclick="_ => OnClickHandle()" style="@Style">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <div class="@BackTopContentClassMapper.Class">
                <div class="@BackTopIconClassMapper.Class">
                    <Icon Type="@Icon" Theme="outline" />
                </div>
            </div>
        }
    </div>
}