@namespace AntDesign
@inherits AntDomComponentBase

@if (!_hidden)
{
    <div class="@ClassMapper.Class" @onclick="OnClickHandler" style="@Style" @ref="Ref" id="@Id">
        <div>
            <div class="@BackTopContentClassMapper.Class">
                @if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    <div class="@BackTopIconClassMapper.Class">
                        <Icon Type="@Icon" Theme="outline" />
                    </div>
                }
            </div>
        </div>
    </div>
}