<div>
    <CheckboxGroup @bind-Value="radioValue4" ButtonStyle="@CheckboxButtonStyle.Solid">
        <Checkbox CheckboxButton Value="@("A")">Hangzhou</Checkbox>
        <Checkbox CheckboxButton Value="@("B")">Shanghai</Checkbox>
        <Checkbox CheckboxButton Value="@("C")">Beijing</Checkbox>
        <Checkbox CheckboxButton Value="@("D")">Chengdu</Checkbox>
    </CheckboxGroup>
</div>
@code
{
    string radioValue4 = "A";
}