<div>
    <p style="margin-bottom: 20px">
        <Checkbox Checked="@CheckValue"
                    Disabled="@DisableValue"
                    CheckedChange="CheckClick">
            @Label
        </Checkbox>
    </p>
        <p>
        <Button Type="primary" Size="small"  @onclick="@CheckClick">@CheckTitle</Button>
        <Button Type="primary" Size="small"  @onclick="@DisableClick">@DisableTitle</Button>
      </p>
  </div>

  @code {
      private bool CheckValue { get; set; }
      private bool DisableValue { get; set; }
      private string Label { get; set; } = "Check-Enable";
      private string CheckTitle { get; set; } = "Check";
      private string DisableTitle { get; set; } = "Enable";

      void CheckClick()
      {
          CheckTitle = CheckValue ? "Check" : "Uncheck";
          CheckValue = !CheckValue;
          Label = $"{CheckTitle}-{DisableTitle}";
      }

      void DisableClick()
      {
          DisableTitle = DisableValue ? "Enabled" : "Disabled";
          DisableValue = !DisableValue;
          Label = $"{CheckTitle}-{DisableTitle}";
      }
  }