<div>
    <CheckboxGroup Options="@_plainOptions" Value="@(new[]{"Apple"})" OnChange="OnChange" />
    <br />
    <br />
    <CheckboxGroup Options="@_options" Value="@(new[]{"Pear"})" OnChange="OnChange" />
    <br />
    <br />
    <CheckboxGroup Options="@_optionsWithDisabled" Disabled Value="@(new[]{"Apple"})" OnChange="OnChange" />
</div>

@using System.Text.Json
@code {

    private readonly string[] _plainOptions =
    {
        "Apple",
        "Pear",
        "Orange"
    };

    private readonly CheckboxOption[] _options =
    {
        new()
        {
            Label = "Apple",
            Value = "Apple"
        },
        new()
        {
            Label = "Pear",
            Value = "Pear"
        },
        new()
        {
            Label = "Orange",
            Value = "Orange"
        }
    };

    private readonly CheckboxOption[] _optionsWithDisabled =
    {
        new()
        {
            Label = "Apple",
            Value = "Apple"
        },
        new()
        {
            Label = "Pear",
            Value = "Pear"
        },
        new()
        {
            Label = "Orange",
            Value = "Orange",
            Disabled = true
        }
    };

    private static void OnChange(string[] checkedValues)
    {
        Console.WriteLine($"checked = {JsonSerializer.Serialize(checkedValues)}");
    }
}