<div>
    <CheckboxGroup Options="@plainOptions" @bind-Value="@_value" TValue="string" OnChange="OnChange" />
    <br />
    <br />
    <CheckboxGroup Options="@options" @bind-Value="@_value" TValue="string" OnChange="OnChange2" />
    <br />
    <br />
    <CheckboxGroup Options="@OptionsWithDisabled" Disabled @bind-Value="@_value" TValue="string" OnChange="OnChange" />
    <br />
    <br />
    <CheckboxGroup Disabled @bind-Value="@_value" TValue="string" OnChange="OnChange">
        <Checkbox Label="Apple" />
        <Checkbox Label="Pear" />
        <Checkbox Label="Orange" />
    </CheckboxGroup>
</div>

@string.Join(",",_value)

@using System.Text.Json
@code {
    string[] _value = new[] { "Apple" };

    string[] plainOptions = { "Apple", "Pear", "Orange" };

    CheckboxOption<string>[] options = new CheckboxOption<string>[]
    {
        new() {Label = "Apple", Value = "Apple"},
        new() {Label = "Pear", Value = "Pear"},
        new() {Label = "Orange", Value = "Orange"},
    };

    CheckboxOption<string>[] OptionsWithDisabled = new CheckboxOption<string>[]
    {
        new() {Label = "Apple", Value = "Apple"},
        new() {Label = "Pear", Value = "Pear"},
        new() {Label = "Orange", Value = "Orange", Disabled = false},
    };

    void OnChange(string[] checkedValues)
    {
        Console.WriteLine($"checked = {JsonSerializer.Serialize(checkedValues)}");
    }

    void OnChange2(string[] checkedValues)
    {
        Console.WriteLine($"2 checked = {JsonSerializer.Serialize(checkedValues)}");
    }
}