<div>
	<CheckboxGroup Options="@plainOptions" @bind-Value="@_value" OnChange="OnChange" />
	<br />
	<br />
	<CheckboxGroup Options="@options" @bind-Value="@_value" OnChange="OnChange" />
	<br />
	<br />
	<CheckboxGroup Options="@OptionsWithDisabled" Disabled @bind-Value="@_value" OnChange="OnChange" />
</div>

@string.Join(",",_value)

@using System.Text.Json
@code {
	string[] _value = new[] { "Apple" };

	string[] plainOptions = { "Apple", "Pear", "Orange" };

	CheckboxOption[] options = new CheckboxOption[]
	{
		new CheckboxOption {Label = "Apple", Value = "Apple"},
		new CheckboxOption {Label = "Pear", Value = "Pear"},
		new CheckboxOption {Label = "Orange", Value = "Orange"},
	};

	CheckboxOption[] OptionsWithDisabled = new CheckboxOption[]
	{
		new CheckboxOption {Label = "Apple", Value = "Apple"},
		new CheckboxOption {Label = "Pear", Value = "Pear"},
		new CheckboxOption {Label = "Orange", Value = "Orange", Disabled = true},
	};

	void OnChange(string[] checkedValues)
	{
		Console.WriteLine($"checked = {JsonSerializer.Serialize(checkedValues)}");
	}
}