<div>
    <RadioGroup @bind-Value="@mode" Style="margin-bottom:20px">
        <Radio Value="@TimelineMode.Left">Left</Radio>
        <Radio Value="@TimelineMode.Right">Right</Radio>
        <Radio Value="@TimelineMode.Alternate">Alternate</Radio>
    </RadioGroup>
    <Timeline Mode="@mode">
        <TimelineItem Label="2015-09-01">Create a services</TimelineItem>
        <TimelineItem Label="2015-09-01 09:12:11">Solve initial network problems</TimelineItem>
        <TimelineItem>Technical testing</TimelineItem>
        <TimelineItem Label="2015-09-01 09:12:11">Network problems being solved</TimelineItem>
    </Timeline>
</div>

@code{
    private TimelineMode mode = TimelineMode.Left;
}
