@namespace AntDesign
@inherits AntDomComponentBase
@using AntDesign.Internal

<div @ref="@_divRef" style="@Style" id="@Id">
    <CascadingValue Value='$"ant-select-dropdown"' Name="PrefixCls">
        <OverlayTrigger Style="display: inline"
                        Visible="@ShowPanel"
                        IsButton="@true"
                        Disabled="false"
                        Trigger="new TriggerType[] { TriggerType.Click }"
                        OverlayEnterCls="slide-up-enter slide-up-enter-active slide-up"
                        OverlayLeaveCls="slide-up-leave slide-up-leave-active slide-up">
            <Overlay>
                <CascadingValue Value="this">
                    <div style="max-height: 256px; overflow-y: auto; overflow-anchor: none; @minWidth">
                        <div style="display: flex;flex-direction: column;">
                            @if (DataSource.Value != null)
                            {
                                foreach (var option in GetOptionItems())
                                {
                                    <AutoCompleteOption Value="@option.Value" Label="@option.Label">
                                        @option.Label
                                    </AutoCompleteOption>
                                }
                            }
                            else
                            {
                                @AutoCompleteOptions
                            }
                        </div>
                    </div>
                </CascadingValue>
            </Overlay>
            <ChildContent>
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
            </ChildContent>
        </OverlayTrigger>
    </CascadingValue>
</div>