@namespace AntDesign
@inherits AntDomComponentBase
@typeparam TOption

<div class="@ClassMapper.Class" style="@Style" id="@Id" @onclick="@OnClick" @onmouseenter="@OnMouseEnter">
    <div class="ant-select-item-option-content">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @Label
        }
    </div>
</div>
