@namespace AntDesign
@inherits AntDomComponentBase

@{
    var okProps = ModalProps.OkButtonProps ?? new ButtonProps();
    okProps.Type = ModalProps.OkType;
    okProps.Loading = ModalProps.ConfirmLoading;

    var cancelProps = ModalProps.CancelButtonProps ?? new ButtonProps();
}

<div>
    <Button OnClick="@HandleCancel" 
               Block="@cancelProps.Block"
               Ghost="@cancelProps.Ghost"
               Search="@cancelProps.Search"
               Loading="@cancelProps.Loading"
               Type="@cancelProps.Type"
               Shape="@cancelProps.Shape"
               Size="@cancelProps.Size"
               Icon="@cancelProps.Icon"
               Disabled="@cancelProps.Disabled"
               Danger="@cancelProps.Danger"
               >
        @{
           if (ModalProps.CancelText.IsT0)
           {
               @(ModalProps.CancelText.AsT0)
           }
           else
           {
               @(ModalProps.CancelText.AsT1)
           }
       }
    </Button>
    <Button 
            OnClick="@HandleOk"

            Loading="@okProps.Loading"
            Type="@okProps.Type"

            Block="@okProps.Block"
            Ghost="@okProps.Ghost"
            Search="@okProps.Search"
            Shape="@okProps.Shape"
            Size="@okProps.Size"
            Icon="@okProps.Icon"
            Disabled="@okProps.Disabled"
            Danger="@okProps.Danger"
               >
        @{
            if (ModalProps.OkText.IsT0)
            {
                @(ModalProps.OkText.AsT0)
            }
            else
            {
                @(ModalProps.OkText.AsT1)
            }
        }
    </Button>
</div>
