@namespace AntBlazor
@inherits AntDomComponentBase
@using AntBlazor.Internal

<div class="@(PrefixCls)-header"
     style="@Style"
     id="@Id"
     @ref="@Ref">
    <select class="@(PrefixCls)-year-select" @onchange="e => OnSelectYear(e)">
        @{
            DateTime yearDate = Calendar.Value.AddYears(-10);
        }
        @for (int i = 0; i < 20; i++)
        {
            if (yearDate.Year == Calendar.Value.Year)
            {
                <option class=@($"ant-select-item") selected="selected" value="@yearDate.Year">@(yearDate.Year)年</option>
            }
            else
            {
    <option class=@($"ant-select-item") value="@yearDate.Year">@(yearDate.Year)年</option>
            }

            yearDate = yearDate.AddYears(1);
        }
    </select>
    @if (Calendar.Mode == DatePickerType.Date)
    {
        <select class="@(PrefixCls)-month-select" @onchange="e => OnSelectMonth(e)">
        @{
            DateTime monthDate = new DateTime(Calendar.Value.Year, 1, Calendar.Value.Day);
        }
        @for (int i = 0; i < 12; i++)
        {
            if (monthDate.Month == Calendar.Value.Month)
            {
                <option class=@($"ant-select-item") selected="selected" value="@monthDate.Month">@(monthDate.Month)月</option>
            }
            else
            {
                <option class=@($"ant-select-item") value="@monthDate.Month">@(monthDate.Month)月</option>
            }

            monthDate = monthDate.AddMonths(1);
        }
        </select>
    }
    
    <AntRadioGroup class="@($"{PrefixCls}-mode-switch")"
                   @bind-Value="Calendar.Mode"
                   OnChange="OnModeChange">
      <AntRadio RadioButton value="@DatePickerType.Date">月</AntRadio>
      <AntRadio RadioButton value="@DatePickerType.Month">年</AntRadio>
    </AntRadioGroup>
</div>

@code
{
    [CascadingParameter(Name = "PrefixCls")]
    public string PrefixCls { get; set; }

    [CascadingParameter(Name = "Calendar")]
    public Calendar Calendar { get; set; }

    private void OnModeChange(string value)
    {
        Calendar.ChangePickerType(value);
    }

    private void OnSelectYear(ChangeEventArgs args)
    {
        int year = Convert.ToInt32(args.Value);
        Console.WriteLine($"OnSelectYear:{year}");
        Calendar.ChangeValue(DateHelper.CombineNewDate(Calendar.Value, year: year));
    }

    private void OnSelectMonth(ChangeEventArgs args)
    {
        int month = Convert.ToInt32(args.Value);
        Console.WriteLine($"OnSelectMonth:{month}");
        Calendar.ChangeValue(DateHelper.CombineNewDate(Calendar.Value, month: month));
    }
}