<div>
    @if (_data.Count > 0)
    {
        <AntList DataSource="_data" Header="@Header">
            <ListItem>
                <Comment Avatar="@context.Avatar" Author="@context.Author" Datetime="@context.Datetime" Content="@context.Content"></Comment>
            </ListItem>
        </AntList>
    }
    <Comment Avatar="@(@"https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png")">
        <ContentTemplate>
            @GetEditor()
        </ContentTemplate>
</Comment>
</div>


@code {
    private readonly List<Data> _data = new();

    private RenderFragment _replyAction =@<span>Reply to</span>;

    private RenderFragment Header => @<div>
                                         @if (_data.Any())
                                         {
                                             <span>
                                                 @($"{_data.Count} {(_data.Count > 1 ? "replies" : "reply")}")
                                             </span>
                                         }
                                     </div>;

    private async Task OnSubmitAsync()
    {
        _submitting = true;

        await Task.Delay(1000);
        _data.Add(new Data
        {
            Author = "Han Solo",
            Avatar = @"https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png",
            Content = _value,
            Datetime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
        });
        _submitting = false;
        _value = "";
        await InvokeAsync(StateHasChanged);
    }

    bool _submitting;
    string _value = "";

    //TODO::Form
    RenderFragment GetEditor()
    {
        return @<div>
                   <TextArea MinRows="4" @bind-Value="@_value" />
                   <br/>
                   <br/>
                   <Button Loading="@_submitting" @onclick="@OnSubmitAsync" type="primary">
                       Add Comment
                   </Button>
               </div>;
    }

    private class Data
    {
        public string Author { get; set; }
        public string Avatar { get; set; }
        public string Content { get; set; }
        public string Datetime { get; set; }
    }
}