<Comment Author="@Author" Avatar="@Avatar" Content="@Content" Actions="@(new []{_replyAction})">
    <Comment Author="@Author" Avatar="@Avatar" Content="@Content" Actions="@(new []{_replyAction})">
        <Comment Author="@Author" Avatar="@Avatar" Content="@Content" Actions="@(new []{_replyAction})"/>
        <Comment Author="@Author" Avatar="@Avatar" Content="@Content" Actions="@(new []{_replyAction})"/>
    </Comment>
</Comment>

@code {
    private const string Author = "Han Solo";
    private const string Avatar = @"https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png";
    private const string Content = "We supply a series of design principles, practical patterns and high quality design resources (Sketch and Axure), to help people create their product prototypes beautifully and efficiently.";

    readonly RenderFragment _replyAction =@<span>Reply to</span>;
}