@namespace AntDesign
@typeparam TValue
@inherits AntInputComponentBase<TValue>

<CascadingValue Value="this" IsFixed="@true">
	<CascadingValue Value="true" Name="InGroup" IsFixed>
		<div class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
			@if (Options.Value != null)
			{
				if (Options.IsT0)
				{
					foreach (var item in Options.AsT0)
					{
                        <Radio Value="@item" RadioButton="IsButton">@item</Radio>
					}
				}
				else
				{
					@foreach (var radio in Options.AsT1)
					{
                        <Radio Value="radio.Value" RadioButton="IsButton">@radio.Label</Radio>
					}
				}
			}
			else
			{
				@ChildContent
			}
		</div>
	</CascadingValue>
</CascadingValue>