@namespace AntDesign
@typeparam TValue
@inherits AntDomComponentBase

<label @onclick="OnClick" class="@ClassMapper.Class" style="@Style" id="@Id" @ref="Ref">
    <span class="@_radioClassMapper.Class">
        <input type="radio"
               autofocus="@AutoFocus"
               class="@_inputClassMapper.Class"
               disabled="@Disabled"
               checked="@Checked"
               name="@_name"
               value="@Value"
               @ref="_inputRef"/>
        <span class="@_innerClassMapper.Class"></span>
    </span>
    @if (ChildContent != null)
    {
        <span>@ChildContent</span>
    }
</label>