<div>
    <h4>included=true</h4>
    <Slider TValue="double" Marks="@_nMarks" DefaultValue="37" />
    <Slider TValue="(double, double)" Marks="@_nMarks" DefaultValue="(26, 37)" />

    <h4>included=false</h4>
    <Slider TValue="double" Marks="@_nMarks" Included="false" DefaultValue="37" />

    <h4>marks & step</h4>
    <Slider TValue="double" Marks="@_nMarks" Step="10" DefaultValue="37" />

    <h4>step=null</h4>
    <Slider TValue="double" Marks="@_nMarks" Step="null" DefaultValue="37" />

</div>

@code {
    private readonly SliderMark[] _nMarks =
    {
        new(0, "0℃"),
        new(26, "26℃"),
        new(37, "37℃"),
        new(100, b =>
        {
            b.OpenElement(0, "strong");
            b.AddContent(1, "100℃");
            b.CloseElement();
        }, "color: #f50;")
    };
}