<div>
    <h4>included=true</h4>
    <Slider TValue="double" Marks="@nMarks" DefaultValue="37" />
    <Slider TValue="(double, double)" Marks="@nMarks" DefaultValue="(26, 37)" />

    <h4>included=false</h4>
    <Slider TValue="double" Marks="@nMarks" Included="false" DefaultValue="37" />

    <h4>marks & step</h4>
    <Slider TValue="double" Marks="@nMarks" Step="10" DefaultValue="37" />

    <h4>step=null</h4>
    <Slider TValue="double" Marks="@nMarks" Step="null" DefaultValue="37" />

</div>

@code
{
    private SliderMark[] nMarks =
     {
            new SliderMark(0, "0℃"),
            new SliderMark(26, "26℃"),
            new SliderMark(37, "37℃"),
            new SliderMark(100, (b)=>{
                b.OpenElement(0,"strong");
                b.AddContent(1,"100℃");
                b.CloseElement();
            }, "color: #f50;")
     };
}