<Divider Orientation="DividerOrientation.Left">Presets</Divider>
<div class="tag-colorful-demo">
    <Tag Color="@TagColor.Magenta.ToString()">magenta</Tag>
    <Tag Color="@TagColor.Pink.ToString()">pink</Tag>
    <Tag Color="@TagColor.Red.ToString()">red</Tag>
    <Tag Color="@TagColor.Volcano.ToString()">volcano</Tag>
    <Tag Color="@TagColor.Orange.ToString()">orange</Tag>
    <Tag Color="@TagColor.Green.ToString()">green</Tag>
    <Tag Color="@TagColor.Cyan.ToString()">cyan</Tag>
    <Tag Color="@TagColor.Blue.ToString()">blue</Tag>
    <Tag Color="@TagColor.Lime.ToString()">lime</Tag>
    <Tag Color="@TagColor.GeekBlue.ToString()">geekblue</Tag>
    <Tag Color="@TagColor.Purple.ToString()">purple</Tag>
    <Tag Color="@TagColor.Yellow.ToString()">yellow</Tag>
    <Tag Color="@TagColor.Gold.ToString()">gold</Tag>
</div>
<Divider Orientation="DividerOrientation.Left">Inverse</Divider>    
<div class="tag-colorful-demo">
    <Tag Icon="taobao" Color="@("blue-inverse")">blue-inverse</Tag>
    <Tag Color="@("orange-inverse")">orange-inverse</Tag>
    <Tag Icon="skype" Color="@("red-inverse")">red-inverse</Tag>
    <Tag Icon="weibo" Color="@("purple-inverse")">purple-inverse</Tag>
</div>
<Divider Orientation="DividerOrientation.Left">Custom</Divider>    
<div class="tag-colorful-demo">
    <Tag Color="@("#f50")">#f50</Tag>
    <Tag Color="@("#2db7f5")">#2db7f5</Tag>
    <Tag Color="@("#87d068")">#87d068</Tag>
    <Tag Color="@("#108ee9")">#108ee9</Tag>
    <Tag Color="@("HotPink")">HotPink</Tag>
    <Tag Color="@("DarkRed")">DarkRed</Tag>
    <Tag Color="@("rgb(143, 201, 146)")">rgb(143, 201, 146)</Tag>
    <Tag Color="@("rgb(105, 58, 236)")">rgb(105, 58, 236)</Tag> 
</div>

<style>
	.tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}
</style>