<div>
    <div>
        Presets:
    </div>
    <br />
    <div>
        <Tag Color="@TagColor.magenta">magenta</Tag>
        <Tag Color="@TagColor.pink">pink</Tag>
        <Tag Color="@TagColor.red">red</Tag>
        <Tag Color="@TagColor.volcano">volcano</Tag>
        <Tag Color="@TagColor.orange">orange</Tag>
        <Tag Color="@TagColor.green">green</Tag>
        <Tag Color="@TagColor.cyan">cyan</Tag>
        <Tag Color="@TagColor.blue">blue</Tag>
        <Tag Color="@TagColor.lime">lime</Tag>
        <Tag Color="@TagColor.geekblue">geekblue</Tag>
        <Tag Color="@TagColor.purple">purple</Tag>
        <Tag Color="@TagColor.yellow">yellow</Tag>
        <Tag Color="@TagColor.gold">gold</Tag>
    </div>
    <br />
    <div>
        Inverse:
    </div>
    <br />
    <div>
        <Tag Icon="taobao" Color="@("blue-inverse")">blue-inverse</Tag>
        <Tag Color="@("orange-inverse")">orange-inverse</Tag>
        <Tag Icon="skype" Color="@("red-inverse")">red-inverse</Tag>
        <Tag Icon="weibo" Color="@("purple-inverse")">purple-inverse</Tag>
    </div>
    <br />
    <div>
        Customs:
    </div>
    <br />
    <div>
        <Tag Color="@("#f50")">#f50</Tag>
        <Tag Color="@("#2db7f5")">#2db7f5</Tag>
        <Tag Color="@("#87d068")">#87d068</Tag>
        <Tag Color="@("#108ee9")">#108ee9</Tag>
    </div>
</div> 