<Divider Orientation="left">Presets</Divider>
<div class="tag-colorful-demo">
    <Tag PresetColor="@PresetColor.Magenta">magenta</Tag>
    <Tag PresetColor="@PresetColor.Pink">pink</Tag>
    <Tag PresetColor="@PresetColor.Red">red</Tag>
    <Tag PresetColor="@PresetColor.Volcano">volcano</Tag>
    <Tag PresetColor="@PresetColor.Orange">orange</Tag>
    <Tag PresetColor="@PresetColor.Green">green</Tag>
    <Tag PresetColor="@PresetColor.Cyan">cyan</Tag>
    <Tag PresetColor="@PresetColor.Blue">blue</Tag>
    <Tag PresetColor="@PresetColor.Lime">lime</Tag>
    <Tag PresetColor="@PresetColor.GeekBlue">geekblue</Tag>
    <Tag PresetColor="@PresetColor.Purple">purple</Tag>
    <Tag PresetColor="@PresetColor.Yellow">yellow</Tag>
    <Tag PresetColor="@PresetColor.Gold">gold</Tag>
</div>
<Divider Orientation="left">Inverse</Divider>    
<div class="tag-colorful-demo">
    <Tag Icon="taobao" Color="blue-inverse">blue-inverse</Tag>
    <Tag Color="orange-inverse">orange-inverse</Tag>
    <Tag Icon="skype" Color="red-inverse">red-inverse</Tag>
    <Tag Icon="weibo" Color="purple-inverse">purple-inverse</Tag>
</div>
<Divider Orientation="left">Custom</Divider>    
<div class="tag-colorful-demo">
    <Tag Color="#f50">#f50</Tag>
    <Tag Color="#2db7f5">#2db7f5</Tag>
    <Tag Color="#87d068">#87d068</Tag>
    <Tag Color="#108ee9">#108ee9</Tag>
    <Tag Color="HotPink">HotPink</Tag>
    <Tag Color="DarkRed">DarkRed</Tag>
    <Tag Color="rgb(143, 201, 146)">rgb(143, 201, 146)</Tag>
    <Tag Color="rgb(105, 58, 236)">rgb(105, 58, 236)</Tag> 
</div>

<style>
	.tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}
</style>