<Divider Orientation="DividerOrientation.Left">Without icon</Divider>
<div id="tag-status-tag-demo">
    <Tag Color="TagColor.Success">success</Tag>
    <Tag Color="TagColor.Processing">processing</Tag>
    <Tag Color="TagColor.Error">error</Tag>
    <Tag Color="TagColor.Warning">warning</Tag>
    <Tag Color="TagColor.Default">default</Tag>
       
</div>
<Divider Orientation="DividerOrientation.Left">With icon</Divider>    
<div id="tag-status-tag-demo">
    <Tag Icon="@IconType.Outline.CheckCircle" Color="TagColor.Success">Success</Tag>
    <Tag Color="TagColor.Processing">
        <Icon Type="@IconType.Outline.Sync" Spin />
        Processing
    </Tag>
    <Tag Icon="@IconType.Outline.CloseCircle" Color="TagColor.Error">Error</Tag>
    <Tag Icon="@IconType.Outline.ExclamationCircle" Color="TagColor.Warning">Warning</Tag>
    <Tag Icon="@IconType.Outline.ClockCircle" Color="TagColor.Default">Waiting</Tag>
    <Tag Icon="@IconType.Outline.MinusCircle" Color="TagColor.Default">Stop</Tag>
</div>

<style>
	#tag-status-tag-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}
</style>