<div>
    <Divider Orientation="left">Align Top</Divider>
    <GridRow Justify="center" Align="top">
        <GridCol Span="4">
            @DemoBox((100, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((50, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((120, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((80, "col-4"))
        </GridCol>
    </GridRow>

    <Divider Orientation="left">Align Middle</Divider>
    <GridRow Justify="space-around" Align="middle">
        <GridCol Span="4">
            @DemoBox((100, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((50, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((120, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((80, "col-4"))
        </GridCol>
    </GridRow>

    <Divider Orientation="left">Align Bottom</Divider>
    <GridRow Justify="space-between" Align="bottom">
        <GridCol Span="4">
            @DemoBox((100, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((50, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((120, "col-4"))
        </GridCol>
        <GridCol Span="4">
            @DemoBox((80, "col-4"))
        </GridCol>
    </GridRow>
</div>

<style>
    #components-grid-demo-flex-align [class~='ant-row'] {
        background: rgba(128, 128, 128, 0.08);
    }
</style>

@code{
    RenderFragment<(int value, string children)> DemoBox = props =>@<p class="@($"height-{props.value}")">@props.children</p>;
}
