<div>
    <Row>
        <Col Xs="@_xs1" Lg="@_lg1">
            Col
        </Col>
        <Col Xs="@_xs2" Lg="@_lg1">
            Col
        </Col>
        <Col Xs="@_xs3" Lg="@_lg1">
            Col
        </Col>
    </Row>
</div>

@code {
    private EmbeddedProperty _xs1 = new()
    {
        Span="5",
        Offset="1"
    };

    private EmbeddedProperty _lg1 = new()
    {
        Span = "6",
        Offset = "2"
    };

    private EmbeddedProperty _xs2 = new()
    {
        Span = "11",
        Offset = "1"
    };

    private EmbeddedProperty _xs3 = new()
    {
        Span = "5",
        Offset = "1"
    };
}