@namespace AntBlazor
@inherits AntInputComponentBase<double>

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="ant-input-number-handler-wrap">
        <AntIcon class="@GetIconClass("up")" Type="up" Onclick="Increase" />
        <AntIcon class="@GetIconClass("down")" Type="down" Onclick="Decrease" />
    </div>
    <div class="ant-input-number-input-wrap">
        <AntInput class="ant-input-number-input" Value="@DisplayValue()" Type="number" OnInput="(e)=>OnInput(e)"></AntInput>
    </div>
</div>
