@namespace AntDesign
@typeparam TValue
@inherits AntInputComponentBase<TValue>

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="ant-input-number-handler-wrap">
        <span unselectable="unselectable" role="button" aria-label="Increase Value" class="@GetIconClass("up")" @onmousedown="Increase">
            <Icon Class="ant-input-number-handler-up-inner" Type="up"/>
        </span>
        <span unselectable="unselectable" role="button" aria-label="Decrease Value" class="@GetIconClass("down")" @onmousedown="Decrease">
            <Icon Class="ant-input-number-handler-down-inner" Type="down"/>
        </span>
    </div>
    <div class="ant-input-number-input-wrap">
        <input @ref="_inputRef" role="spinbutton" aria-valuemin="@Min" aria-valuemax="@Max" autocomplete="off" max="@Max" min="@Min" step="@Step"
                aria-valuenow="@CurrentValue" class="ant-input-number-input" @bind="@CurrentValueAsString" @oninput="OnInput" @onfocus="@OnFocus" @onblur="@OnBlur"/>
    </div>
</div>