@namespace AntDesign
@inherits AntInputComponentBase<double>

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="ant-input-number-handler-wrap">
        <Icon class="@GetIconClass("up")" Type="up" OnClick="Increase" />
        <Icon class="@GetIconClass("down")" Type="down" OnClick="Decrease" />
    </div>
    <div class="ant-input-number-input-wrap">
        <Input class="ant-input-number-input" @bind-Value="@CurrentValueAsString" Type="number" OnInput="(e)=>OnInput(e)" />
    </div>
</div>
