@namespace AntDesign
@typeparam TValue
@inherits AntInputComponentBase<TValue>

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="ant-input-number-handler-wrap">
        <span unselectable="unselectable" role="button" aria-label="Increase Value" class="@GetIconClass("up")" @onclick="Increase">
            <Icon Class="ant-input-number-handler-up-inner" Type="up"  />
        </span>
        <span unselectable="unselectable" role="button" aria-label="Decrease Value" class="@GetIconClass("down")" @onclick="Decrease">
            <Icon Class="ant-input-number-handler-down-inner" Type="down"  />
        </span>
    </div>
    <div class="ant-input-number-input-wrap">
        <Input role="spinbutton" aria-valuemin="@Min" aria-valuemax="@Max" autocomplete="off" max="@Max" min="@Min" step="@Step"
               spellcheck="false" data-ms-editor="true" aria-valuenow="@CurrentValue"
               Class="ant-input-number-input" Value="@(_focused?CurrentValue?.ToString():CurrentValueAsString)" Type="number" OnInput="(e)=>OnInput(e)" OnFocus="OnFocus" OnBlur="OnBlur" />
    </div>
</div>
