@namespace AntBlazor
@inherits AntInputComponentBase<double>

<div class="@ClassMapper.Class" style="@Style" id="@Id">
    <div class="ant-input-number-handler-wrap">
        <AntIcon class="@GetIconClass("up")" Type="up" OnClick="Increase" />
        <AntIcon class="@GetIconClass("down")" Type="down" OnClick="Decrease" />
    </div>
    <div class="ant-input-number-input-wrap">
        <AntBlazor.Input class="ant-input-number-input" Value="@DisplayValue()" Type="number" OnInput="(e)=>OnInput(e)"></AntBlazor.Input>
    </div>
</div>
