<Divider Orientation="left" Plain>Div</Divider>
<Space Direction="@DirectionVHType.Vertical" Style="width: 100%">
	<SpaceItem>
		<Space Size=@(("8", "16")) Wrap>
			<SpaceItem>
                <DropdownButton OnClick='e => { Console.WriteLine("Click on left button."); }'>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        Dropdown
                    </ChildContent>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton Icon="user">
                    <Overlay>        
                        @_overlayMenu
                    </Overlay>    
                    <ChildContent>
                        Dropdown
                    </ChildContent>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton OnClick='e => { Console.WriteLine("Click on left button."); }' Disabled="@true">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        Dropdown
                    </ChildContent>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton ButtonsRender="ButtonsRender" Loading>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <Tooltip Title="@("tooltip")">
                            <Unbound>
                                <span @ref="@context.Current">With ToolTip</span>
                            </Unbound>
                        </Tooltip>
                    </ChildContent>
                </DropdownButton>    
			</SpaceItem>
			<SpaceItem>
                <Dropdown>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <ChildContent>
                        <Button>Button <Icon Type="down" /></Button>
                    </ChildContent>
                </Dropdown>
		</SpaceItem>
		</Space>
	</SpaceItem>
</Space>
<Divider Orientation="left" Plain>Unbound</Divider>
<Space Direction="@DirectionVHType.Vertical" Style="width: 100%">
	<SpaceItem>
		<Space Size=@(("8", "16")) Wrap>
			<SpaceItem>
                <DropdownButton OnClick='e => { Console.WriteLine("Click on left button."); }'>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <Unbound>
                        Dropdown
                    </Unbound>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton Icon="user">
                    <Overlay>        
                        @_overlayMenu
                    </Overlay>    
                    <Unbound>
                        Dropdown
                    </Unbound>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton OnClick='e => { Console.WriteLine("Click on left button."); }' Disabled="@true">
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <Unbound>
                        Dropdown
                    </Unbound>
                </DropdownButton>
			</SpaceItem>
			<SpaceItem>
                <DropdownButton ButtonsRender="ButtonsRender" Loading>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <Unbound>
                        <Tooltip Title="@("tooltip")">
                            <Unbound Context="tooltip">
                                <span @ref="@tooltip.Current">With ToolTip</span>
                            </Unbound>
                        </Tooltip>
                    </Unbound>
                </DropdownButton>    
			</SpaceItem>
			<SpaceItem>
                <DropdownButton ButtonsRender="ButtonsRender" >
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <Unbound>
                        <Tooltip Title="@("tooltip")">
                            <Unbound Context="tooltip">
                                <span @ref="@tooltip.Current">ButtonsRender</span>
                            </Unbound>
                        </Tooltip>
                    </Unbound>
                </DropdownButton>    
			</SpaceItem>
			<SpaceItem>
                <Dropdown>
                    <Overlay>
                        @_overlayMenu
                    </Overlay>
                    <Unbound>
                        <Button RefBack=@context>Button <Icon Type="down" /></Button>
                    </Unbound>
                </Dropdown>
		</SpaceItem>
		</Space>
	</SpaceItem>
</Space>
@code
{
private RenderFragment _overlayMenu =@<Menu>
    <MenuItem>
        <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
            1st menu item
        </a>
    </MenuItem>
    <MenuItem>
        <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
            2nd menu item
        </a>
    </MenuItem>
    <MenuItem>
        <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
            3rd menu item
        </a>
    </MenuItem>
</Menu>; 

private RenderFragment ButtonsRender(RenderFragment leftButton, RenderFragment rightButton)
{
return @<Template>
    <span>@leftButton</span>
    @rightButton
</Template>;
}


}