<div style="margin: 10px; overflow: scroll; height: 200px">
    <div style="padding: 100px; height: 1000px; background: #eee; position: relative " id="area">
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.BottomLeft" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>BottomLeft</Button>
            </ChildContent>
        </Dropdown>
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.Bottom" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>Bottom</Button>
            </ChildContent>
        </Dropdown>
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.BottomRight" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>BottomRight</Button>
            </ChildContent>
        </Dropdown>
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.TopLeft" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>TopLeft</Button>
            </ChildContent>
        </Dropdown>
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.Top" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>Top</Button>
            </ChildContent>
        </Dropdown>
        <Dropdown PopupContainerSelector="#area" Placement="@Placement.TopRight" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InScroll">
            <Overlay>
                @_overlayMenu
            </Overlay>
            <ChildContent>
                <Button>TopRight</Button>
            </ChildContent>
        </Dropdown>
    </div>
</div>

@code
{
    private RenderFragment _overlayMenu =@<Menu>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">
                1st menu item
            </a>
        </MenuItem>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.taobao.com/">
                2nd menu item
            </a>
        </MenuItem>
        <MenuItem>
            <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                3rd menu item
            </a>
        </MenuItem>
    </Menu>;
}