@namespace AntDesign
@inherits AntDomComponentBase

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div id="@Id" class="split-container splitter-orientation-@(Vertical?"vertical":"horizontal") @(ClassMapper.Class)" style="@Style" @ref="@Ref">

    <div class="pane-of-split-container ant-splitter-panel" style="@this.GetPaneStyle(this.FirstPaneSize, this.FirstPaneMinSize)">
        @FirstPane
    </div>

    <div class="spliter-bar ant-splitter-bar" >
        <div class="ant-splitter-bar-dragger @(Disabled?"ant-splitter-bar-dragger-disabled":"")"></div>

        @if (_panes.Count==2)
        {
            @if (_panes[0].Collapsible)
            {
                <div class="ant-splitter-bar-collapse-bar ant-splitter-bar-collapse-bar-start"><span role="img" aria-label="left" class="anticon anticon-left ant-splitter-bar-collapse-icon ant-splitter-bar-collapse-start"><svg viewBox="64 64 896 896" focusable="false" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 000 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg></span></div>
            }
            @if (_panes[1].Collapsible)
            {
                <div class="ant-splitter-bar-collapse-bar ant-splitter-bar-collapse-bar-end"><span role="img" aria-label="right" class="anticon anticon-right ant-splitter-bar-collapse-icon ant-splitter-bar-collapse-end"><svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path></svg></span></div>
            }
        }

    </div>

    <div class="pane-of-split-container ant-splitter-panel" style="@this.GetPaneStyle(this.SecondPaneSize, this.SecondPaneMinSize)">
        @SecondPane
    </div>

</div>
