@using System.ComponentModel

<Table DataSource="@_data" Bordered="@true" Title="@Title" Footer="@Footer" HidePagination="@true">
    <Column @bind-Field="@context.Name">
        <a>@context.Name</a>
    </Column>
    <Column @bind-Field="@context.Money" Style="text-align: right"></Column>
    <Column @bind-Field="@context.Address"></Column>
</Table>

@code {
    private const string Title = "Header";
    private const string Footer = "Footer";

    private readonly Data[] _data =
    {
        new()
        {
            Key = "1",
            Name = "John Brown",
            Money = "￥300,000.00",
            Address = "New York No. 1 Lake Park"
        },
        new()
        {
            Key = "2",
            Name = "Jim Green",
            Money = "￥1,256,000.00",
            Address = "London No. 1 Lake Park"
        },
        new()
        {
            Key = "3",
            Name = "Joe Black",
            Money = "￥120,000.00",
            Address = "Sidney No. 1 Lake Park"
        }
    };

    private class Data
    {
        [DisplayName("Key")]
        public string Key { get; set; }

        [DisplayName("Name")]
        public string Name { get; set; }

        [DisplayName("Money")]
        public string Money { get; set; }

        [DisplayName("Address")]
        public string Address { get; set; }
    }
}