@using System.ComponentModel

<Table DataSource="@_data" Bordered>
    <Column @bind-Field="@context.Name" ColSpan="@GetColSpan(context.Key,"name")"></Column>
    <Column @bind-Field="@context.Age" ColSpan="@GetColSpan(context.Key)"></Column>
    <Column @bind-Field="@context.Tel" Title="Home phone" HeaderColSpan="2" RowSpan="@GetRowSpan(context.Key)" ColSpan="@GetColSpan(context.Key)"></Column>
    <Column @bind-Field="@context.Phone" HeaderColSpan="0" ColSpan="@GetColSpan(context.Key)"></Column>
    <Column @bind-Field="@context.Address" ColSpan="@GetColSpan(context.Key)"></Column>
</Table>

@code {
    private readonly Data[] _data =
    {
        new()
        {
            Key = "1",
            Name = "John Brown",
            Age = 32,
            Tel = "0571-22098909",
            Phone = "18889898989",
            Address = "New York No. 1 Lake Park"
        },
        new()
        {
            Key = "2",
            Name = "Jim Green",
            Tel = "0571-22098333",
            Phone = "18889898888",
            Age = 42,
            Address = "London No. 1 Lake Park"
        },
        new()
        {
            Key = "3",
            Name = "Joe Black",
            Age = 32,
            Tel = "0575-22098909",
            Phone = "18900010002",
            Address = "Sidney No. 1 Lake Park"
        },
        new()
        {
            Key = "4",
            Name = "Jim Red",
            Age = 18,
            Tel = "0575-22098909",
            Phone = "18900010002",
            Address = "London No. 2 Lake Park"
        },
        new()
        {
            Key = "5",
            Name = "Jake White",
            Age = 18,
            Tel = "0575-22098909",
            Phone = "18900010002",
            Address = "Dublin No. 2 Lake Park"
        }
    };

    private class Data
    {
        public string Key { get; set; }

        public string Name { get; set; }

        public int Age { get; set; }

        public string Tel { get; set; }

        public string Phone { get; set; }

        public string Address { get; set; }
    }

    private static int GetRowSpan(string key) => key switch
    {
        "3" => 2,
        "4" => 0,
        _ => 1
    };

    private static int GetColSpan(string key, string columnTitle = "") => key switch
    {
        "5" when columnTitle == "name" => 5,
        "5" => 0,
        _ => 1
    };
}