<Table DataSource="@data" Total="@total" @bind-PageSize="pageSize" @bind-PageIndex="pageIndex">
    <ChildContent>
        <Column @bind-Field="@context.Name" Width="150" />
        <Column @bind-Field="@context.Age" Width="150" />
        <Column @bind-Field="@context.Address" />
    </ChildContent>
    <PaginationOptions>
        <PaginationOptions Class="my-custom-pagination" PageSizeOptions="@(new int[] { 5, 10, 20 })"
                           ShowSizeChanger ShowQuickJumper />
    </PaginationOptions>
</Table>

@code{
    private int total = 100;
    private int pageSize { get; set; } = 5;
    private int pageIndex { get; set; } = 1;

    class Column
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

    Column[] data = Enumerable.Range(0, 100).Select(i => new Column()
    {
        Name = $"Edward King {i}",
        Age = 32,
        Address = $"Edward King {i}"
    }).ToArray();
}

<style>
    .my-custom-pagination {
        margin: 15px 0;
    }

    .my-custom-pagination .ant-pagination-item,
    .my-custom-pagination .ant-pagination-item-link {
        border-radius: 100%;
    }
</style>