<Table @ref="_table" TItem="TestData" DataSource="@_testData">
    <Column @bind-Field="@context.Id" Sortable/>
    <Column Title="Default sort" @bind-Field="@context.DayOfWeek" Sortable />
    <Column Title="Custom comparer" @bind-Field="@context.DayOfWeek" Sortable SorterCompare="@((v1, v2) => v1 - v2)"/>
    <Column Title="Custom comparer(order by DayName)" @bind-Field="@context.DayOfWeek" Sortable SorterCompare="@((v1, v2) => string.CompareOrdinal(_dayName[v1], _dayName[v2]))" />
    <Column Title="DayName" Field="_dayName[context.DayOfWeek]"/>
</Table>

@code {
    private ITable _table;

    private TestData[] _testData;

    private class TestData
    {
        public int Id { get; set; }

        public int DayOfWeek { get; set; }
    }

    private readonly string[] _dayName =
    {
        "None",
        "Monday",
        "Tuesday",
        "Wednesdays",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
    };

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        _testData = GetForecastAsync();
        base.OnInitialized();
    }

    private static TestData[] GetForecastAsync()
    {
        var rng = new Random();
        return Enumerable.Range(0, 5)
            .Select(index => new TestData
            {
                Id = index,
                DayOfWeek = rng.Next(1, 8)
            })
            .ToArray();
    }

}