@using System.ComponentModel

<Table DataSource="data" Bordered>
    <GroupTitleTemplate Context="rowData">
        <div style="display: flex; align-items: center;">
            <span style="min-width: 120px;">
                @rowData.Key   Group @rowData.GroupResult.Level
            </span>
            <span>
                Value:  @rowData.GroupResult.GetHashCode()
            </span>
            <span>
                Count: @rowData.GroupResult.Entities.Count
            </span>
            @if (@rowData.GroupResult.Level > 1)
            {
                <span style="margin-left: -30px;">
                    @if (rowData.GroupResult.Key == "A")
                    {
                        <Tag Color="red-inverse">Excellent</Tag>
                    }
                    else if (rowData.GroupResult.Key == "B")
                    {
                        <Tag Color="purple-inverse">Good</Tag>
                    }
                    else
                    {
                        <Tag Color="rgb(143, 201, 146)">Average</Tag>
                    }
                </span>
            }
        </div>
    </GroupTitleTemplate>
    <ColumnDefinitions>
        <Selection />
        <PropertyColumn Property="c=>c.Name" />
        <PropertyColumn Property="c=>c.Age" Width="12%" Sortable  />
        <PropertyColumn Property="c=>c.Subject" Width="30%" Grouping />
        <PropertyColumn Property="c=>c.Grade" Width="30%" Grouping GroupBy="GradeGroupBy" />
    </ColumnDefinitions>
 </Table>

 @code {
    string GradeGroupBy(int grade)
       => grade switch
       {
            >= 95 => "A",
            >= 90 => "B",
            _ => "C"
       };

    Data[] data =
    {
        new() {
            Name = "John Brown",
            Age = 10,
            Grade = 90,
            Subject= "Math"
        },
        new() {
            Name = "John Brown",
            Age = 10,
            Grade = 95,
            Subject= "Language"
        },
        new() {
            Name = "John Brown",
            Age = 10,
            Grade = 85,
            Subject="Science"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Grade = 89,
            Subject= "Math"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Grade = 90,
            Subject= "Language"
        },
        new() {
            Name = "Harry Potter",
            Age = 10,
            Grade = 95,
            Subject="Science"
        },
    };

    public class Data
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public int Grade { get; set; }

        public string Subject { get; set; }
    }
}
