<div>
    <RadioGroup @bind-Value="_selectionType">
        <Radio Value="@("checkbox")">Checkbox</Radio>
        <Radio Value="@("radio")">radio</Radio>
    </RadioGroup>

    <h5>
        selections:
        @if (_selectedRows != null)
        {
            @foreach (var selected in _selectedRows)
            {
                <Tag  Closable OnClose="e=>RemoveSelection(selected.Name)">@selected.Name</Tag>
            }
            <Button Danger Size="small" OnClick="@(e => { _table.SetSelection(null); })">Clear</Button>
        }
    </h5>

    <Table @ref="_table" DataSource="@_data" SelectedRows="_selectedRows">
        <Selection Key="@context.Name" Type="@_selectionType" Disabled="@(context.Name=="Disabled User")"/>
        <Column @bind-Field="@context.Name">
            <a>@context.Name</a>
        </Column>
        <Column @bind-Field="@context.Age" />
        <Column @bind-Field="@context.Address" />
    </Table>
</div>


@code {
    private ITable _table;

    private class Column
    {
        public string Name { get; set; }

        public int Age { get; set; }

        public string Address { get; set; }
    }

    private Column[] _data =
    {
        new()
        {
            Name = "John Brown",
            Age = 32,
            Address = "New York No. 1 Lake Park",
        },
        new()
        {
            Name = "Jim Green",
            Age = 42,
            Address = "London No. 1 Lake Park",
        },
        new()
        {
            Name = "Joe Black",
            Age = 32,
            Address = "Sidney No. 1 Lake Park",
        },
        new()
        {
            Name = "Disabled User",
            Age = 99,
            Address = "Sidney No. 1 Lake Park",
        }
    };

    private IEnumerable<Column> _selectedRows;
    private string _selectionType = "checkbox";

    private void RemoveSelection(string key)
    {
        var selected = _selectedRows.Where(x => x.Name != key).ToList();
        _table.SetSelection(selected.Select(x => x.Name).ToArray());
    }
}
