@namespace AntBlazor
@using System
@inherits AntEmptyBase

<div class="@ClassMapper.Class" @ref="@Ref" style="@Style" @attributes="Attributes" Id="@Id">
    <div class="@(prefixCls)-image" style="@imageStyle">
        @if (image.IsT0 && !string.IsNullOrEmpty(image.AsT0))
        {
            description.TryPickT0(out string des, out _);
            string alt = !string.IsNullOrEmpty(des) ? des : "empty";
            <img alt="@alt" src="@image.AsT0" />
        }
        else if (image.IsT1 && image.AsT1 != null)
        {
            @image.AsT1
        }
        else
        {
            @PRESENTED_IMAGE_DEFAULT
        }
    </div>

    @if (description.IsT0 && !string.IsNullOrEmpty(description.AsT0))
    {
        <p class="@(prefixCls)-description">@description.AsT0</p>
    }
    @if (description.IsT2 && description.AsT2 != null)
    {
        <p class="@(prefixCls)-description">@description.AsT2</p>
    }
    <div class="@(prefixCls)-footer">
        @ChildContent
    </div>
</div>

@code
{
    public static RenderFragment PRESENTED_IMAGE_DEFAULT =@<AntEmptyDefaultImg />;

    public static RenderFragment PRESENTED_IMAGE_SIMPLE = @<AntEmptySimpleImg />;
}