@namespace AntDesign
@inherits AntDesign.AntDomComponentBase
    <Tooltip Title="@ToolTip">
        <li class="@StarClassMapper.Class">
            <div role="radio" aria-checked="true" aria-posinset="@IndexOfGroup" aria-setsize="5" tabindex="0">
                <div class="ant-rate-star-first" @onclick="@(async e=>await OnClick(true))" @onmouseover="@(async e=>await OnHover(true))">
                    @if (@Character != null)
                    {
                        @Character.Invoke(new RateItemRenderContext());
                    }
                    else
                    {
                        <AntIcon Type="star" Theme="fill"></AntIcon>
                    }
                </div>
                <div class="ant-rate-star-second" @onclick="@(async e=>await OnClick(false))" @onmouseover="@(async e=>await OnHover(false))">
                    @if (@Character != null)
                    {
                        @Character.Invoke(new RateItemRenderContext());
                    }
                    else
                    {
                        <AntIcon Type="star" Theme="fill"></AntIcon>
                    }
                </div>
            </div>
        </li>
    </Tooltip>


