@namespace AntBlazor
@inherits AntDomComponentBase
@using AntBlazor.Internal
@using AntBlazor.core.Internal

<div class="@ClassMapper.Class"
     style="width: fit-content; @Style"
     id="@Id"
     @ref="@Ref"
     @onclick="OnClickDiv"
     @onmouseenter="OnTriggerMouseEnter"
     @onmouseleave="OnTriggerMouseLeave"
     @oncontextmenu="OnTriggerContextmenu"
     @oncontextmenu:preventDefault>
    @if (IsButton)
    {
        <CascadingValue Value="this">
            <AndDropdownGroupButton>
                <LeftButton>
                    <AntButton @key="1" Size="@_buttonSize" Type="@_buttonType" Disabled="@Disabled">@ChildContent</AntButton>
                </LeftButton>
                <RightButton>
                    <AntButton @key="2" Size="@_buttonSize" Type="@_buttonType" Disabled="@Disabled" Onclick="OnTriggerClick" Class="ant-dropdown-trigger" Icon="@_rightButtonIcon" />
                </RightButton>
            </AndDropdownGroupButton>
        </CascadingValue>
    }
    else
    {
        @ChildContent
    }
</div>

<CascadingValue Value="this">
    <AntDropdownOverlay @ref="_antDropdownOverlay"
                        OnOverlayMouseEnter="OnOverlayMouseEnter"
                        OnOverlayMouseLeave="OnOverlayMouseLeave" />
</CascadingValue>