@namespace AntBlazor
@using System.Collections
@inherits AntLayoutSiderBase

<div class="@ClassMapper.Class" @ref="Ref" style="@style @Style" @attributes="Attributes" Id="@Id">
    <div class="ant-layout-sider-children">
        @ChildContent
    </div>
    @if (isZeroTrigger)
    {
        <span class="ant-layout-sider-zero-width-trigger" @onclick="toggleCollapse">
            @if (adZeroTrigger != null)
            {
                @adZeroTrigger
            }
            else
            {
                <AntIcon Type="bars"></AntIcon>
            }
        </span>
    }

    @if (isSiderTrigger)
    {
        <div class="ant-layout-sider-trigger"
             @onclick="toggleCollapse"
             style="width: @widthSetting">
            @trigger
        </div>
    }
</div>

@code {

    bool isZeroTrigger => this.adCollapsible && this.trigger != null && this.adCollapsedWidth == 0 && ((this.adBreakpoint != null && this.below) || this.adBreakpoint == null);

    bool isSiderTrigger => this.adCollapsible && this.trigger != null && this.adCollapsedWidth != 0;

    bool below;

    private Hashtable dimensionMap = new Hashtable()
    {
        ["xs"] = "480px",
        ["sm"] = "576px",
        ["md"] = "768px",
        ["lg"] = "992px",
        ["xl"] = "1200px",
        ["xxl"] = "1600px"
    };

    RenderFragment trigger => adTrigger ?? defaultTrigger(this);

    public RenderFragment<AntLayoutSider> defaultTrigger = (sider) =>
    @<content>
        @if (!sider.adReverseArrow)
        {
            <AntIcon Type="@(sider.adCollapsed ? "right" : "left")"></AntIcon>
        }
        else
        {
            <AntIcon Type="@(sider.adCollapsed ? "left" : "right")"></AntIcon>
        }
    </content>;

}