@namespace AntBlazor
@inherits AntDomComponentBase

<div class="@ClassMapper.Class">
    <div class="@IconClassMapper.Class">
        @if (IsImage)
        {
            @((MarkupString)_svgImage)
        }
        else
        {
            @BuildIcon
        }
    </div>
    <div class="ant-result-title">
        @if (Title.IsT0)
        {
            @Title.AsT0
        }
        else
        {
            @Title.AsT1
        }
    </div>
    <div class="ant-result-subtitle">
        @if (SubTitle.IsT0)
        {
            @SubTitle.AsT0
        }
        else
        {
            @SubTitle.AsT1
        }
    </div>
    @if (ChildContent != null)
    {
        <div class="ant-result-content">
            @ChildContent
        </div>
    }
    @if (Extra != null)
    {
        <div class="ant-result-extra">
            @Extra
        </div>
    }
</div>