<div>
    <Text>byte</Text>
    <AntDesign.InputNumber @bind-Value="@_byte" />
    <p>value:@_byte</p>
    <br />
    <Text>byte?</Text>
    <AntDesign.InputNumber @bind-Value="@_byteNull" />
    <p>value:@_byteNull</p>
    <br />
    <Text>ushort</Text>
    <AntDesign.InputNumber @bind-Value="@_ushort" />
    <p>value:@_ushort</p>
    <br />

    <Text>ushort?</Text>
    <AntDesign.InputNumber @bind-Value="@_ushortNull" />
    <p>value:@_ushortNull</p>
    <br />

    <Text>int</Text>
    <AntDesign.InputNumber @bind-Value="@_int" />
    <p>value:@_int</p>
    <br />

    <Text>int?</Text>
    <AntDesign.InputNumber @bind-Value="@_intNull" />
    <p>value:@_intNull</p>
    <br />

    <Text>decimal</Text>
    <AntDesign.InputNumber @bind-Value="@_dec" />
    <p>value:@_dec</p>
    <br />

    <Text>decimal?</Text>
    <AntDesign.InputNumber @bind-Value="@_decNull" />
    <p>value:@_decNull</p>
    <br />

    <Text>double</Text>
    <AntDesign.InputNumber @bind-Value="@_double" />
    <p>value:@_double</p>
    <br />

    <Text>double?</Text>
    <AntDesign.InputNumber @bind-Value="@_doubleNull" />
    <p>value:@_doubleNull</p>
    <br />
</div>
@code{
    byte _byte;
    byte? _byteNull;
    ushort _ushort;
    ushort? _ushortNull;
    int _int;
    int? _intNull;
    decimal _dec;
    decimal? _decNull;
    double _double;
    double? _doubleNull;
}
