@namespace AntDesign
@inherits AntDomComponentBase

@if (!_closed)
{
    <span class="@ClassMapper.Class" style="@_style" id="@Id" @ref="Ref" @onclick="ClickTag">
        @if (!string.IsNullOrEmpty(Icon))
        {
            <Icon Type="@Icon" Theme="@IconTheme"></Icon>
        }
        @ChildContent
        @if (Closable)
        {
            <Icon Type="close" TabIndex="-1" OnClick="CloseTag" StopPropagation="true" />
        }
    </span>
}
@_styleContent