@namespace AntDesign
@inherits StatisticComponentBase<TValue>
@typeparam TValue

<div class="ant-statistic" style="@Style" @ref="Ref" id="@Id">
    <div class="ant-statistic-title">
        @if (Title.IsT0)
        @Title.AsT0 else @Title.AsT1
    </div>
    <div class="ant-statistic-content" style="@ValueStyle">
        @if (@Prefix.IsT0 && !string.IsNullOrEmpty(Prefix.AsT0) || @Prefix.IsT1 && Prefix.AsT1 != null)
        {
            <span class="ant-statistic-content-prefix">
                @if (@Prefix.IsT0)
                @Prefix.AsT0 else @Prefix.AsT1
            </span>
        }
        <span class="ant-statistic-content-value">
            <span class="ant-statistic-content-value-int">
                @IntegerPart
            </span>
            @if (!string.IsNullOrEmpty(@FractionalPart))
            {
                <span class="ant-statistic-content-value-decimal">
                    @FractionalPart
                </span>
            }
        </span>
        @if (@Suffix.IsT0 && !string.IsNullOrEmpty(@Suffix.AsT0) || @Suffix.IsT1 && @Suffix.AsT1 != null)
        {
            <span class="ant-statistic-content-suffix">
                @if (@Suffix.IsT0)
                @Suffix.AsT0 else @Suffix.AsT1
            </span>
        }
    </div>
</div>