@namespace AntDesign
@inherits AntDomComponentBase

@if (!_isClosed)
{
    <div class="@ClassMapper.Class" style="@Style" Id="@Id">
        @if (ShowIcon)
        {
                <Icon Type="@IconType" Class="ant-alert-icon"/>
        }
        @if (!string.IsNullOrEmpty(Message))
        {
            <span class="ant-alert-message">@Message</span>
        }
        @if (!string.IsNullOrEmpty(Description))
        {
            <span class="ant-alert-description">@Description</span>
        }
        @if (ChildContent != null)
        {
            <span class="ant-alert-description">@ChildContent</span>
        }
        @if (Closable)
        {
            <button type="button" class="ant-alert-close-icon" tabindex="0" @onclick="@OnCloseHandler">
                @if (!string.IsNullOrEmpty(CloseText))
                {
                    <span class="ant-alert-close-text">@CloseText</span>
                }
                else
                {
                    <Icon Type="close"/>
                }
            </button>
        }
    </div>
}
