@namespace AntDesign
@inherits AntDomComponentBase

<span role="img" class="@ClassMapper.Class" style="@Style" id="@Id" @onclick="HandleOnClick" @onclick:stopPropagation="StopPropagation" tabindex="@TabIndex">
    @if (Component == null)
    {
        @((MarkupString) _svgImg)
    }
    else
    {
        @Component
    }
</span>