@namespace AntDesign
@inherits AntDomComponentBase

<span class="@ClassMapper.Class" style="@Style" id="@Id" tabindex="@TabIndex" @ref="Ref" @attributes="_attributes" @onclick:stopPropagation="StopPropagation">
    @if (Component == null)
    {
        @((MarkupString)_svgImg)
    }
    else
    {
        @Component
    }

</span>
