
    <div class="ant-row" style="margin-left: -8px; margin-right: -8px;">
        <div class="ant-col ant-col-12" style="padding-left: 8px; padding-right: 8px;">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-body">
                    <CountDown Title="@title1" Value="@TimeSpanValue" />
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-12" style="padding-left: 8px; padding-right: 8px;">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-body">
                    <CountDown Title="@title2" Value="@TimeSpanValue" Format="@fomatString2" />
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-24" style="padding-left: 8px; padding-right: 8px; padding-top:8px">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-body">
                    <CountDown Title="@title3" Value="@TimeValue" Format="@fomatString3" ValueStyle="@valueStyle3" />
                </div>
            </div>
        </div>
    </div>


@code
{

    //以现在时刻为起点的倒计时时间长度：2天22小时59分59秒
    TimeSpan TimeSpanValue = new TimeSpan(2, 8, 0, 0);
    //倒计时截止到未来某时刻,类型为DateTime
    DateTime TimeValue = DateTime.Now.AddDays(180);

    string title1 = "Countdown";

    string title2 = "Million Seconds";
    string fomatString2 = @"hh\:mm\:ss\.fff";

    string title3 = "Day Level";
    string fomatString3 = @"d\ \天\ h\ \小\时\ m\ \分\钟\ s\ \秒";
    string valueStyle3 = "color: rgb(207, 19, 34);";
}

