@namespace AntDesign
@inherits AntDomComponentBase

<li class="@(RootMenu.PrefixCls)-item-group" style="@Style" @key="Key">
    <div class="@(RootMenu.PrefixCls)-item-group-title">
        @if (Title.Value != null)
        {
            @if (Title.IsT0)
            {
                @Title.AsT0
            }
            else if (Title.IsT1)
            {
                @Title.AsT1
            }
        }
    </div>
    <ul class="@(RootMenu.PrefixCls)-item-group-list">
        @ChildContent
    </ul>
</li>