@namespace AntDesign
@inherits AntDomComponentBase

<Tabs Class="@Class" Style="@Style" Id="@Id" HideAdd Type="@TabType.EditableCard" @bind-ActiveKey="@CurrentUrl" OnClose="RemovePage">
    @if (Pages != null)
    {
        @foreach (var item in Pages)
        {
            <span>@item.Title</span>
            <TabPane @key="@item.Url" Key="@item.Url" Class="@TabPaneClass" Closable ForceRender>
                <TabTemplate>
                    <span>@(string.IsNullOrEmpty(item.Title))</span>
                    @item.Title
                </TabTemplate>
                <ChildContent>
                    @if (Body != null)
                    {
                        @Body(item)
                    }
                </ChildContent>
            </TabPane>
        }
    }
</Tabs>
